<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hair Services</title>
    <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/css/layoutsResponsive.css">
        <link rel="stylesheet" href="/css/hairServices.css">

<body>
    <%- include('../layouts/header') %>

        <div class="main-content">
            <div class="breadcrumb d-flex justify-content-center align-items-center"
                style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Hair Services</h1>
                <p class="breadcrumb-text"><a href="">Home</a>&nbsp; / &nbsp;Hair Services</p>
            </div>
        </div>

        <!-- Main Content-->

        <!-- Main services -->
        <div class="container">
            <div class="main col-lg-12 col-md-12 col-sm-12">
                <div class="main-heading text-center">
                    <h3 style="color:#121212;font-size: 50px;"> What we offer at Hair Care</h3>
                    <h4 style="color:#d3ad69"> Trichologists and Hair Care Specialists</h4>
                </div>
                <div id="main-post" class="row">
                    
                </div>
            </div>
        </div>

        <!-- Combo services Sales -->
        <div class="container">
            <div class="combo-heading text-center">
                <h1 style="font-size: 50px;">All combo</h1>
            </div>
            <div id="main-combo" class="main-combo"></div>
        </div>

        <%- include('../layouts/footer') %>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/hairServices.js"></script>
            <script>
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    autoplay: true,
                    autoplayTimeout: 4000,
                    autoplayHoverPause: true,
                    navText: ['<div class="carousel-nav-text"><i class="fal fa-chevron-left"></i></div>', '<div class="carousel-nav-text"><i class="fal fa-chevron-right"></i></div>'],
                    responsive: {
                        0: {
                            items: 1
                        }
                    }
                })


            </script>
</body>

</html>