<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hair Services</title>
    <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/css/layoutsResponsive.css">
        <link rel="stylesheet" href="/css/hairServiceOptions.css">

<body>
    <%- include('../layouts/header') %>

       <div class="body-section">
           <div class="body-head col-lg-12 col-md-12 col-sm-12">
            <div class="container">
                <div class="body-title col-lg-5 col-md-12 col-sm-12">
                    <h1>Haircut and Design Services</h1>
                    <p>Haircut and Styling Services at Hair Care Salons + Spas in Columbus</p>
                    
                </div>
                
            </div>
           </div>
           <div class="body-main">
               <div class="container">
                   <div class="main-content col-lg-12 col-md-12 col-sm-12">
                       <div class="row">
                       <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="content-section">
                                <h1 class="h1"> DEFINE YOUR HAIRSTYLE WITH THE HAIR-CARE SALONS + SPAS:</h1>
                                <p class="p">Complement your style with a fresh haircut and design from the experts at HAIR-CARE Salons + Spas in Columbus, Ohio. Our hair artists will maximizing your hair’s natural beauty, using both traditional and chic, new hairstyling techniques. Looking for something classic and professional? Or you want to make a dramatic, bold statement? Either way, our hair stylists will achieve your perfect look.
                                <br>
                                Get inspired for your new look by following us on Instagram!
                                </p>
                            </div>
                            <div class="content-section">
                                <div class="h1">
                                    YOUR HAIR GOALS:
                                </div>
                                <div class="p">
                                    Leave the salon ready to wow the crowd with your new curly hairstyle. Surprise friends and family with dramatic bob haircuts. Ace that interview with a sharp men’s haircut. Since your life has variety, our professionals are specially trained to work with different types of hair. Bring in photos of your favorite hairstyles and inspirations, and we will match you with a hair professional who can help make your hair dreams a reality!
                                </div>
                            </div>
                            <div class="content-section">
                                <div class="h1">
                                    HAIR STYLE SERVICES INCLUDE:
                                </div>
                                <div class="h2">
                                    HAIRCUT AND DESIGN
                                </div>
                                <div class="p">
                                    Our talented people at HAIR-CARE Salons + Spas will help express your personality through a beautiful new haircut and design. Looking for a new hairstyle for a new season? Or just want to refresh your current look? Our hair artists have experience working with all lengths and types of hair. Some of our favorite styles include Asymmetrical Cuts, Long Bob Haircuts (LOB), Long Layered Cuts, Pixie Cuts, and more. Interested in another styling option not listed? Learn more about our hair color services and highlighting services.
                                </div>
                                <div class="h2">
                                    CURLY GIRL HAIRCUT AND DESIGN
                                </div>
                                <div class="p">
                                    Fall in love with your curly hair all over again with a Curly Girl Haircut and Design. Curly Girl Certified People at HAIR-CARE Salons + Spas have extensive experience styling and cutting curly hair. Furthermore, our experts can teach you how to manage and care for your curls. Our artists can also offer hair product recommendations. We want to help you embrace your new curly hairstyle!
                                </div>
                                <div class="h2">
                                    MEN’S HAIRCUTS
                                </div>
                                <div class="p">
                                    Guys deserve a great haircutting experience too! At HAIR-CARE Salons + Spas, our men’s hair professionals excel at executing a wide variety of men’s hairstyles including classic, trendy, short, and long looks. In addition, our team members are experts at on-trend hairstyles for men, such as undercuts, razor cuts, medium length cuts, and more. Simply bring in pictures of a style you like or ask our men’s hair people for recommendations, and we will find the perfect men’s haircut solution for you!
                                </div>
                                <div class="h2">
                                    CHILDREN’S HAIRCUTS
                                </div>
                                <div class="p">
                                    Quality hair care isn’t just for adults. Therefore, we want to give kids haircuts that keep their hair healthy and stylish. For boys and girls 10 and under, our hair artists will create the perfect look for your child. Special occasions like the holidays, a family photo shoot, or back-to-school time are great opportunities to visit and get the kid’s hairstyle your child wants.
                                </div>
                            </div>
                            <div class="btn-footer text-center">
                                <a class="btn" href="/booking">Book now !</a>
                            </div>
                       </div>
                       <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="side-bar">
                                <h2>SCHEDULE YOUR HAIRCUT AND DESIGN APPOINTMENT</h2>
                                <h6>HAIRCUT AND DESIGN SERVICES ARE AVAILABLE AT ALL OF OUR SALONS, INCLUDING:</h6>
                                <p>Salon + Spa Dublin</p>
                                <p>Salon + Spa Gahanna/New Albany</p>
                                <p>Salon German Village</p>
                                <p>Salon + Spa Polaris</p>
                                <p>Salon + Spa Short North</p>
                                <p>Salon + Spa Upper Arlington</p>

                                <p>
                                    <a class="btn" href="#">Book now !</a>
                                </p>
                                <p>
                                    <a class="btn" href="#">Find an artist</a>
                                </p>

                                <h6>About the Hair Artists at HAIR-CARE Salons + Spas</h6>
                                <p style="font-size: 15px;">Our haircut and design artists in Columbus, Ohio receive constant education on the newest trends and techniques. As a result, this training helps to provide you the highest quality cut and style as well as top-class service.

                                    Due to improving our knowledge and learning new techniques, we have earned the trust of the people of Columbus, winning prestigious awards such as Columbus Monthly’s 2017 Best of Columbus Salon & Spa and featured as one of Columbus Underground’s Top 10 Salons + Spas. We are flattered at the support, and will continue to emphasize learning and personalized care!
                                </p>
                                <p><b><i>Learn more about becoming a member of the HAIR-CARE Team!</i></b></p>
                                <p>
                                    <a class="btn" href="#">Join our team</a>
                                </p>
                            </div>
                    </div>
                </div>
                   </div>
               </div>
           </div>
       </div>

        
        
        
        

        <%- include('../layouts/footer') %>
            <script src="/js/optionServices.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script>
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    autoplay: true,
                    autoplayTimeout: 4000,
                    autoplayHoverPause: true,
                    navText: ['<div class="carousel-nav-text"><i class="fal fa-chevron-left"></i></div>', '<div class="carousel-nav-text"><i class="fal fa-chevron-right"></i></div>'],
                    responsive: {
                        0: {
                            items: 1
                        }
                    }
                })
            </script>
</body>

</html>