<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hair Styles</title>
    <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->

        <link rel="stylesheet" href="/css/galleryphoto.css">
        <link rel="stylesheet" href="/css/jquery.fancybox.min.css" />


<body>
    <%- include('../layouts/header') %>

        <div class="main-content">
            <div class="breadcrumb d-flex justify-content-center align-items-center"
                style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text" style="font-size:2.5rem" > Hair Styles </h1>
                <p class="breadcrumb-text"><a  href="/">Home</a>&nbsp; / &nbsp;<a
                         href="/hair-styles">Hair Style</a>&nbsp; / &nbsp;
                    Gallery </p>
            </div>
        </div>

        <div class="main">
            <h1 class="heading">HAIRSTYLES 2021</h1>
            <div class="line-heading"></div>
            <div class="text"
                style="width: 70%; margin: auto; line-height: 1.6; text-align: center; font-size: 16px; margin-bottom: 60px;">
                <p><i> Whether you're styling a pompadour, comb over or slick back, or need a stylish
                        haircut for your receding hairline, these are the latest cool men's hairstyles to get in 2021.
                        While some of these cuts and styles are fresh from the best barbers around the world, others
                        have carried over from 2020, 2019, and years before.</i>
            </div>
            <div class="title">
                <div class="title-item ">PHOTO GALLERY</div>
                <div class="title-item all">All photos</div>
                <div class="title-item for-men">For Men</div>
                <div class="title-item for-women">For Women</div>
            </div>
            <div class="row content">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="item">
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/m1_tlfoox.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/m1_tlfoox.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209468/m33_hwpc2v.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209468/m33_hwpc2v.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209470/g31_knuzop.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209470/g31_knuzop.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/g2_wjlegm.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/g2_wjlegm.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209462/m3_oyqpks.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209462/m3_oyqpks.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/g3_hduj9g.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/g3_hduj9g.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209467/m28_a6ee8b.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209467/m28_a6ee8b.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/g4_lohncf.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/g4_lohncf.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/g7_hkmxf1.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/g7_hkmxf1.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/m1_tlfoox.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/m1_tlfoox.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209462/m6_y9uf6h.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209462/m6_y9uf6h.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209470/g33_xdzcqi.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209470/g33_xdzcqi.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/g5_ayqmjj.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/g5_ayqmjj.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/g6_w6zq9v.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/g6_w6zq9v.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209468/m36_qveesg.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209468/m36_qveesg.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209467/m27_dbkg3i.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209467/m27_dbkg3i.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209466/m23_ikcjsj.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209466/m23_ikcjsj.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/g7_hkmxf1.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/g7_hkmxf1.jpg"></a>
                        
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="item">
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209462/g8_g30k23.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209462/g8_g30k23.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209464/m10_mhrnyp.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209464/m10_mhrnyp.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209463/m11_pih3o5.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209463/m11_pih3o5.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209462/g9_erzrgb.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209462/g9_erzrgb.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209465/m12_in6htp.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209465/m12_in6htp.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209464/m14_utf9qx.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209464/m14_utf9qx.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209471/g34_ete44f.png"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209471/g34_ete44f.png"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209464/m13_dpfbj0.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209464/m13_dpfbj0.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209462/g10_s5vsmj.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209462/g10_s5vsmj.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209469/g29_djjfbx.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209469/g29_djjfbx.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209465/m15_njndd7.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209465/m15_njndd7.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/m2_ozpact.webp"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/m2_ozpact.webp"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209463/g11_fvd5zm.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209463/g11_fvd5zm.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209464/g13_jztfji.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209464/g13_jztfji.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209465/m17_o1mvpw.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209465/m17_o1mvpw.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209463/g12_n6lipn.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209463/g12_n6lipn.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209472/g38_jgy5xf.png"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209472/g38_jgy5xf.png"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209462/m5_vvwbue.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209462/m5_vvwbue.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209469/g30_o4emk8.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209469/g30_o4emk8.jpg"></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="item">
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209465/g14_hfnsck.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209465/g14_hfnsck.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209467/g21_ur37fg.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209467/g21_ur37fg.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209466/m18_smmcmm.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209466/m18_smmcmm.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209465/g15_oog5t1.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209465/g15_oog5t1.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209468/m41_cdu3ds.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209468/m41_cdu3ds.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209465/m21_rqii7r.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209465/m21_rqii7r.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209473/g35_mmve0j.png"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209473/g35_mmve0j.png"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209473/g37_cibssc.png"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209473/g37_cibssc.png"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209466/g17_stepgr.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209466/g17_stepgr.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209466/m22_rxozwm.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209466/m22_rxozwm.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209463/m9_nshns1.jpg"
                            class="pic men"> <img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209463/m9_nshns1.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209466/m24_kqmnqw.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209466/m24_kqmnqw.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209467/g19_vzogbh.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209467/g19_vzogbh.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209466/g18_nu4gcq.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209466/g18_nu4gcq.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209466/m25_pcponu.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209466/m25_pcponu.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209467/m26_nmcw1e.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209467/m26_nmcw1e.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209468/g24_ikvclg.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209468/g24_ikvclg.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209470/g31_knuzop.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209470/g31_knuzop.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209465/m19_ymldj8.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209465/m19_ymldj8.jpg"> </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="item">
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209463/m4_nsxqrq.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209463/m4_nsxqrq.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209470/g32_mxck3c.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209470/g32_mxck3c.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/g4_lohncf.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/g4_lohncf.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209468/g22_uniqm4.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209468/g22_uniqm4.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209467/m29_rbpmjb.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209467/m29_rbpmjb.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209466/g16_dek2c3.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209466/g16_dek2c3.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209461/g1_yetvf3.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209461/g1_yetvf3.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209467/m30_f2kt1m.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209467/m30_f2kt1m.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209473/g35_mmve0j.png"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209473/g35_mmve0j.png"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209468/g25_l3lknz.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209468/g25_l3lknz.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209475/g39_cdk8m0.png"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209475/g39_cdk8m0.png"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209467/m32_dpzcul.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209467/m32_dpzcul.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209464/m16_cez4kn.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209464/m16_cez4kn.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209468/m34_xfwp0x.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209468/m34_xfwp0x.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209474/g40_ahz2jt.png"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209474/g40_ahz2jt.png"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209475/g36_doxsxu.jpg"
                            class="pic women"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209475/g36_doxsxu.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209468/m35_z8c0co.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209468/m35_z8c0co.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209467/m31_hqfotl.jpg"
                            class="pic men"><img
                                src="https://res.cloudinary.com/blu/image/upload/v1632209467/m31_hqfotl.jpg"></a>
                        <a data-fancybox="gallery"
                            href="https://res.cloudinary.com/blu/image/upload/v1632209469/g28_bygtzp.jpg"
                            class="pic women"><img
                                    src="https://res.cloudinary.com/blu/image/upload/v1632209469/g28_bygtzp.jpg"></a>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layouts/footer') %>
            <script>
                var all = $('.all');
                var forMen = $('.for-men');
                var forWomen = $('.for-women');
                var pic = $('.pic');
                var men = $('.men');
                var women = $('.women');
                pic.attr('data-fancybox', 'gallery')

                all.click(function () {
                    pic.css({
                        display: 'block',
                    })
                    pic.data('fancybox') = "gallery";
                })

                forMen.click(function () {
                    women.css({
                        display: 'none',

                    })
                    women.removeAttr('data-fancybox')
                    men.css({
                        display: 'block',
                    })
                    men.attr('data-fancybox', 'gallery')

                })

                forWomen.click(function () {
                    men.css({
                        display: 'none',
                    })
                    men.removeAttr('data-fancybox')
                    women.css({
                        display: 'block',
                    })
                    women.attr('data-fancybox', 'gallery')
                })
            </script>
            <script src="/js/jquery.fancybox.min.js"></script>
            <script>
   
                $('[data-fancybox="gallery"]').fancybox({
                    loop: true,
                    animationEffect: "zoom-in-out",
                    transitionEffect: "circular",
                    button: [
                        "zoom",
                        "share",
                        "slideshow",
                        "fullscreen",
                        "download",
                        "thumbs",
                        "close"
                    ],
                    slideShow: {
                        speed: 2000
                    },
                })   
     
            </script>
</body>

</html>