<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Hairstyle Handbook</title>
    <%- include('../layouts/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/hairstyles.css">

<body>
<%- include('../layouts/header') %>
<div class="main-content" >
    <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
        <h1 class="breadcrumb-text"> Hair Styles </h1>
        <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;Hair Style </p>
    </div>
</div>

<div class="w3-content" style="max-width:1600px; margin-top: 50px;">

    <!-- Image header -->
    <header class="w3-display-container w3-wide" id="home">
        <a href="/hair-styles/gallery"><img class="w3-image" src="photos/headerimage.jpg" width="1600" height="900"></a>
        <div class="w3-display-left w3-padding-large">
            <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>HAIRSTYLES</b></h1>
            <h1 class="w3-text-white">Gallery</h1>
            <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off"
                        onclick="document.getElementById('subscribe').style.display='block'">SUBSCRIBE</button></h6>
        </div>
    </header>

    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">

        <!-- FEATURED POST -->
        <div class="w3-col l8 s12">
            <div class="w3-container w3-white w3-margin w3-padding-large">
                <div class="w3-center">
                    <a href="/hair-styles/gallery"><h1>MEN HAIRSTYLES GALLERY</h1></a>
                    <h5>Trends, <span class="w3-opacity">Sep 10, 2021</span></h5>
                </div>

                <div class="w3-justify">
                    <img src="photos/s11.jpg" style="width:100%; cursor: pointer;" class="w3-padding-16">
                    <p> Whether you're styling a pompadour, comb over or slick back, or need a stylish
                        haircut for your receding hairline, these are the latest cool men's hairstyles to get in 2021.
                        While some of these cuts and styles are fresh from the best barbers around the world, others
                        have carried over from 2020, 2019, and years before.</p>
                    <p class="w3-left"><button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button></p>
                </div>
            </div>
            <hr>
            <div class="w3-container w3-white w3-margin w3-padding-large">
                <div class="w3-center">
                    <a href="/hair-styles/gallery"><h1>WOMEN HAIRSTYLES GALLERY</h1></a>
                    <h5>Trends, <span class="w3-opacity">Sep 10, 2021</span></h5>
                </div>

                <div class="w3-justify">
                    <img src="photos/s12.jpg" style="width:100%; cursor:pointer;" class="w3-padding-16">
                    <p>Let us guess, you are a woman bored with your current style and looking for 2021’s
                        hair trends and particularly for a fresh trendy haircut that will shake things up this year?
                        Or possibly you are a hairstylist in search of strong hairspiration for your clients’
                        makeovers in 2021 and in 2022? Anyway, you happened to be in the right place at the right time!</p>
                    <p class="w3-left"><button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button></p>
                    <p class="w3-clear"></p>
                </div>
            </div>
        </div>


        <!-- END FEATURED POST -->


        <!-- About/Information menu -->
        <div class="w3-col l3" style="margin-left: 3%">
            <!-- About Card -->
            <div class="w3-white w3-margin">
                <img src="photos/h3.jpg" alt="Jane" style="width: 100%; height:50%">
                <div class="w3-container w3-black">
                    <h4>About the Hairstyles Gallery</h4>
                    <p>Looking to try something new? Consider this your destination for all things hair inspo.
                        We put together amazing hairstyles for all ages, face shapes, lengths and colours! And don't forget to check out
                        our "Trends" Category for the latest hairstyles and haircare tips! </p>
                </div>
            </div>
            <hr>

            <!-- Posts -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Popular Hairstyles</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <img src="photos/h1.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Black Straight</span>
                        <br>
                        <span>Always stylish</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="photos/m23.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Men Undercut</span>
                        <br>
                        <span>That edgy vibe</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="photos/h4.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Wavy brown</span>
                        <br>
                        <span>A younger look</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="photos/h5.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Princess Braids</span>
                        <br>
                        <span>Attract the gaze</span>
                    </li>
                </ul>
            </div>
            <hr>

            <!-- Subscribe -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Subscribe</h4>
                </div>
                <div class="w3-container w3-white">
                    <p>Enter your name and e-mail below and get notified on the latest blog posts.</p>
                    <p><input class="w3-input w3-border" type="text" placeholder="Your Name" style="width:100%"></p>
                    <p><input class="w3-input w3-border" type="text" placeholder="Your Email" style="width:100%"></p>
                    <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-block w3-red">Subscribe</button></p>
                </div>
            </div>
        </div>
        <!-- END GRID -->
    </div>
    <!-- END CONTENT -->
</div>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:32px">
        <div class="w3-container w3-white">
            <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
            <h2 class="w3-wide">SUBSCRIBE</h2>
            <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
            <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
            <button type="button" class="w3-button w3-block w3-padding w3-red w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
        </div>
    </div>
</div>

<!-- Footer -->
<%- include('../layouts/footer') %>

<script>
    document.getElementById("myBtn").click();
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    function likeFunction(x) {
        x.style.fontWeight = "bold";
        x.innerHTML = "✓ Liked";
    }
</script>

</body>
</html>
