<!DOCTYPE html>
<html>
<head>
    <title>The Hairstyle Handbook</title>
    <%- include('../layouts/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/gallery.css">
</head>

<body>

<!-- Header -->
<%- include('../layouts/header') %>

<!-- Navbar -->
<div class="container" style="margin-top: 100px">
    <div class="navbar w3-center">
        <a href="/hair-styles" class="w3-bar-item w3-button" style="margin-left: 10%">HOME</a>
        <a href="/menhairstyles" class="w3-bar-item w3-button" style="margin-left: 10%">For Men</a>
        <a href="#" class="w3-bar-item w3-button" style="margin-left: 10%">For Women</a>
    </div>
</div>

<!-- Content Title -->
<div class="container">
    <div class="menu-headline">
        <h1> WOMEN HAIRSTYLES 2021 </h1>
    </div>
    <div class="text" style="width: 70%; margin: auto; line-height: 1.6; text-align: center; font-size: 16px">
        <p><i>
                Let us guess, you are a woman bored with your current style and looking for 2021’s
                hair trends and particularly for a fresh trendy haircut that will shake things up this year?
                Or possibly you are a hairstylist in search of strong hairspiration for your clients’
                makeovers in 2021 and in 2022? Anyway, you happened to be in the right place at the right time!
            </i></p>
    </div>
</div>

<!-- Photo Grid -->
<div class="row">
    <div class="column w3-padding-32">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209470/g31_knuzop.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209461/g2_wjlegm.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209461/g3_hduj9g.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209461/g4_lohncf.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209461/g5_ayqmjj.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209461/g7_hkmxf1.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209470/g33_xdzcqi.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209461/g6_w6zq9v.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209461/g7_hkmxf1.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209469/g28_bygtzp.jpg" onclick="onClick(this)">
    </div>
    <div class="column w3-padding-32">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209462/g8_g30k23.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209462/g9_erzrgb.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209471/g34_ete44f.png" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209469/g29_djjfbx.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209462/g10_s5vsmj.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209463/g11_fvd5zm.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209463/g12_n6lipn.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209472/g38_jgy5xf.png" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209464/g13_jztfji.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209469/g30_o4emk8.jpg" onclick="onClick(this)">
    </div>
    <div class="column w3-padding-32">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209465/g14_hfnsck.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209465/g15_oog5t1.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209467/g21_ur37fg.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209473/g35_mmve0j.png" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209466/g17_stepgr.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209466/g18_nu4gcq.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209473/g37_cibssc.png" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209467/g19_vzogbh.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209468/g24_ikvclg.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209470/g31_knuzop.jpg" onclick="onClick(this)">
    </div>
    <div class="column w3-padding-32">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209470/g32_mxck3c.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209461/g4_lohncf.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209468/g22_uniqm4.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209466/g16_dek2c3.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209461/g1_yetvf3.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209468/g25_l3lknz.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209473/g35_mmve0j.png" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209475/g36_doxsxu.jpg" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209475/g39_cdk8m0.png" onclick="onClick(this)">
        <img src="https://res.cloudinary.com/blu/image/upload/v1632209474/g40_ahz2jt.png" onclick="onClick(this)">
    </div>
</div>

<!-- Image Modal -->
<div id="mymodal" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
        <img id="img01" style="width:100%">
    </div>
</div>

<!-- Footer -->
<%- include('../layouts/footer') %>

<script>
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("mymodal").style.display = "block";
    }
</script>

</body>
</html>
