<!DOCTYPE html>
<html lang="en">
<head>
    <title>Biotera Ultra Color Care Shampoo</title>
    <%- include('../layouts/head') %>
    <!-- Thư viện và CSS Import ở dưới -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/prod.css">
    <link rel="stylesheet" href="/css/prodResponsive.css">
    <link rel="stylesheet" type="text/css" href="/css/xzoom.css" media="all" />
<body>
<%- include('../layouts/header') %>

<div class="main-content" >
    <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
        <h1 class="breadcrumb-text">Biotera Ultra Color Care Shampoo</h1>
    </div>
</div>

<div class="main-wrap">
    <div class="row">
        <div class="main-left col-lg-3 col-md-3 col-sm-12">
            <div class="category">
                <div class="main-left-heading">Categories</div>
                <ul class="nav-cat-list">
                    <li class="nav-item-cat">
                        <a href="">Hair Care</a>
                        <div class="nav-item-cat-icon cat-icon-control">
                            <i class="fas fa-caret-left"></i>
                        </div>
                        <ul class="nav-cat-list-child">
                            <li class="nav-cat-item-child"><a href="">Shampoo & Conditioner</a></li>
                            <li class="nav-cat-item-child"><a href="">Hair Treatments</a></li>
                            <li class="nav-cat-item-child"><a href="">Nature Haircare</a></li>
                            <li class="nav-cat-item-child"><a href="">Styling Products</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav-cat-list">
                    <li class="nav-item-cat category-item">
                        <a href="">Tools & Brushes</a>
                        <div class="nav-item-cat-icon cat-icon-control">
                            <i class="fas fa-caret-left"></i>
                        </div>
                        <ul class="nav-cat-list-child">
                            <li class="nav-cat-item-child"><a href="">Hair Dryers</a></li>
                            <li class="nav-cat-item-child"><a href="">Flat Irons & Hair Straighteners</a></li>
                            <li class="nav-cat-item-child"><a href="">Curling Irons & Wands</a></li>
                            <li class="nav-cat-item-child"><a href="">Hair Cutting Tools</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

            <div class="best-choice">
                <div class="main-left-heading">Best Choice</div>

                <div class="owl-carousel owl-theme best-choice-list">

                    <div class="best-choice-item">
                        <a href="/products/shampoo&conditioner/biotera" class="best-choice-img"><img src="/images/BIOTRA4.1.jpg" alt=""/></a>
                        <a href="/products/shampoo&conditioner/biotera" class="owl-carousel-link">Ultra Color Care Shampoo</a>
                        <div class="line-img"></div>
                        <div class="price">$11.5</div>

                    </div>

                    <div class="best-choice-item">
                        <a href="/products/shampoo&conditioner/biotera" class="best-choice-img"><img src="/images/BIOTRA4.1.jpg" alt=""/></a>
                        <a href="/products/shampoo&conditioner/biotera" class="owl-carousel-link">Ultra Color Care Shampoo</a>
                        <div class="line-img"></div>
                        <div class="price">$11.5</div>

                    </div>

                    <div class="best-choice-item">
                        <a href="/products/shampoo&conditioner/biotera" class="best-choice-img"><img src="/images/BIOTRA4.1.jpg" alt=""/></a>
                        <a href="/products/shampoo&conditioner/biotera" class="owl-carousel-link">Ultra Color Care Shampoo</a>
                        <div class="line-img"></div>
                        <div class="price">$11.5</div>

                    </div>

                    <div class="best-choice-item">
                        <a href="/products/shampoo&conditioner/biotera" class="best-choice-img"><img src="/images/BIOTRA4.1.jpg" alt=""/></a>
                        <a href="/products/shampoo&conditioner/biotera" class="owl-carousel-link">Ultra Color Care Shampoo</a>
                        <div class="line-img"></div>
                        <div class="price">$11.5</div>

                    </div>

                </div>
            </div>

        </div>

        <div class="main-right col-lg-9 col-md-9 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="post-info text-center">
                        <div class="xzoom-container">
                            <img class="xzoom3" src="/images/BIOTRA4.1.jpg" width="100%" xoriginal="/images/BIOTRA4.1.jpg" />
                            <div class="xzoom-thumbs">
                                <a href="/images/BIOTRA4.1.jpg">
                                    <img class="xzoom-gallery3" width="80" src="/images/BIOTRA4.1.jpg"  xpreview="/images/BIOTRA4.1.jpg" ></a>
                                <a href="/images/BIOTRA4.2.jpg"><img class="xzoom-gallery3" width="80" src="/images/BIOTRA4.2.jpg" ></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="nameprd">Biotera Ultra Color Care Shampoo</h1>
                    <h2 class="nameprd">$11.5</h2>
                    <p class="description">
                        Biotera Ultra Color Care Shampoo is an anti-fade sulfate and paraben-free gentle cleansing formula that promotes long-lasting color retention and deep hydration for very damaged and dry hair.</br>
                        This gentle, shampoo promotes long-lasting color retention for processed, highlighted, permed or chemically-straightened hair. Keeps hair color bright and vibrant 50% longer
                        vs. leading competitive sulfate-free shampoo and conditioner.
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="highlights-tab" data-toggle="pill" href="#highlights" role="tab" aria-controls="highlights" aria-selected="true">
                                HIGHLIGHTS
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ingredients-tab" data-toggle="pill" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="false">
                                INGREDIENTS
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="howtouse-tab" data-toggle="pill" href="#howtouse" role="tab" aria-controls="howtouse" aria-selected="false">
                               HOW TO USE
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="highlights" role="tabpanel" aria-labelledby="highlights-tab">
                            <ul><p>What makes it special?</p>
                                <li>Fortified with scientifically-advanced Tri-Soy Complex</li>
                                <li>Sulfate-free and paraben-free</li>
                                <li>High lather intensely hydrates</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
                            Water/Aqua/Eau, Sodium Methyl Cocoyl Taurate, Cocamidopropyl Betaine, Cocamide MEA, Polyquaternium-7, Glycol Distearate, Glycine Soja (Soybean) Oil, Hydrolyzed Soy Protein, Lecithin, Polyquaternium-10, Citric Acid, Silicone Quaternium-16, Tetrasodium EDTA, PEG-150 Pentaerythrityl Tetrastearate, Amodimethicone, Undeceth-11, PEG-6 Caprylic/Capric Glycerides, Butyloctanol, C11-15 Pareth-7, Undeceth-5, Laureth-9, Glycerin, Trideceth-12, Iodopropynyl Butylcarbamate, DMDM Hydantoin, Sodium Hydroxide, PPG-12-Buteth-16, Limonene, Coumarin, Linalool, Alpha-Isomethyl Ionone, Hydroxycitronellal, Hexyl Cinnamal, Amyl Cinnamal, Fragrance/Parfum
                        </div>
                        <div class="tab-pane fade" id="howtouse" role="tabpanel" aria-labelledby="howtouse-tab">
                            Apply. Lather. Rinse.<br>
                            For added conditioning use with Biotera Ultra Color Care Intense 3-Minute Treatment.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer') %>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/layout.js"></script>
<script type="text/javascript" src="/js/xzoom.min.js"></script>
<script src="/js/setup.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        autoplay:true,
        autoplayTimeout:4000,
        autoplayHoverPause:true,
        navText : ['<div class="carousel-nav-text"><i class="fal fa-chevron-left"></i></div>','<div class="carousel-nav-text"><i class="fal fa-chevron-right"></i></div>'],
        responsive:{
            0:{
                items:1
            }
        }
    })
</script>
</body>
</html>
