<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <%- include('../layouts/head') %>
    <!-- Thư viện và CSS Import ở dưới -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/productsResponsive.css">
<body>
<%- include('../layouts/header') %>

<div class="main-content" >
    <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
        <h1 class="breadcrumb-text">Products</h1>
        <p class="breadcrumb-text">Shampoo & Conditioner</p>
    </div>
</div>

<div class="main-wrap">
    <div class="row">
        <div class="main-left col-lg-3 col-md-3 col-sm-12">
            <div class="category">
                <div class="main-left-heading">Categories</div>
                <ul class="nav-cat-list">
                    <li class="nav-item-cat">
                        <a href="">Hair Care</a>
                        <div class="nav-item-cat-icon cat-icon-control">
                            <i class="fas fa-caret-left"></i>
                        </div>
                        <ul class="nav-cat-list-child">
                            <li class="nav-cat-item-child"><a href="">Shampoo & Conditioner</a></li>
                            <li class="nav-cat-item-child"><a href="">Hair Treatments</a></li>
                            <li class="nav-cat-item-child"><a href="">Nature Haircare</a></li>
                            <li class="nav-cat-item-child"><a href="">Styling Products</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav-cat-list">
                    <li class="nav-item-cat category-item">
                        <a href="">Tools & Brushes</a>
                        <div class="nav-item-cat-icon cat-icon-control">
                            <i class="fas fa-caret-left"></i>
                        </div>
                        <ul class="nav-cat-list-child">
                            <li class="nav-cat-item-child"><a href="">Hair Dryers</a></li>
                            <li class="nav-cat-item-child"><a href="">Flat Irons & Hair Straighteners</a></li>
                            <li class="nav-cat-item-child"><a href="">Curling Irons & Wands</a></li>
                            <li class="nav-cat-item-child"><a href="">Hair Cutting Tools</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

            <div class="best-choice">
                <div class="main-left-heading">Best Choice</div>

                <div class="owl-carousel owl-theme best-choice-list">

                    <div class="best-choice-item">
                        <a href="" class="best-choice-img"><img src="/images/BIOTRA4.1.jpg" alt=""></a>
                        <a href="" class="owl-carousel-link">Ultra Color Care Shampoo</a>
                        <div class="line-img"></div>
                        <div class="price">$11.5</div>

                    </div>

                    <div class="best-choice-item">
                        <a href="" class="best-choice-img"><img src="/images/BIOTRA4.1.jpg" alt=""></a>
                        <a href="" class="owl-carousel-link">Ultra Color Care Shampoo</a>
                        <div class="line-img"></div>
                        <div class="price">$11.5</div>

                    </div>

                    <div class="best-choice-item">
                        <a href="" class="best-choice-img"><img src="/images/BIOTRA4.1.jpg" alt=""></a>
                        <a href="" class="owl-carousel-link">Ultra Color Care Shampoo</a>
                        <div class="line-img"></div>
                        <div class="price">$11.5</div>

                    </div>

                    <div class="best-choice-item">
                        <a href="" class="best-choice-img"><img src="/images/BIOTRA4.1.jpg" alt=""></a>
                        <a href="" class="owl-carousel-link">Ultra Color Care Shampoo</a>
                        <div class="line-img"></div>
                        <div class="price">$11.5</div>

                    </div>

                </div>
            </div>

        </div>

        <div class="main-right col-lg-9 col-md-9 col-sm-12">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Deafault sorting</option>
                        <option value="1">Sort by name: A to Z</option>
                        <option value="2">Sort by name: Z to A</option>
                        <option value="3">Sort by price: Low to High</option>
                        <option value="3">Sort by price: High to Low</option>
                    </select>
                </div>
            </div>
            <div class="row" id = "productlist">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="post-info text-center">
                        <div class="fall-item fall-effect">
                            <img src="/images/BIOTRA4.1.jpg" alt="" width="100%"/>
                            <div class="mask">
                                <p>Biotera Ultra Color Care Shampoo is an anti-fade
                                    sulfate and paraben-free gentle cleansing formula that
                                    promotes long-lasting color retention and deep hydration
                                    for very damaged and dry hair.</p>
                                <div class="post-read-more">
                                    <a href="">Read More&nbsp;<i class="fas fa-angle-double-right read-more-icon"></i>
                                        <div class="post-read-more-before"></div>
                                        <div class="post-read-more-after"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="" class="product-name">Ultra Color Care Shampoo</a>
                        <div class="line-img"></div>
                        <div class="price">$11.5</div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer') %>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/layout.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        autoplay:true,
        autoplayTimeout:4000,
        autoplayHoverPause:true,
        navText : ['<div class="carousel-nav-text"><i class="fal fa-chevron-left"></i></div>','<div class="carousel-nav-text"><i class="fal fa-chevron-right"></i></div>'],
        responsive:{
            0:{
                items:1
            }
        }
    });
    function loadProduct() {
        $.ajax({
            url: '/products/get-product',
            method: 'GET',
            success: function (rs) {
                for (var key in rs) {
                    var option = `<div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="post-info text-center">
                        <div class="fall-item fall-effect">
                            <img src="${rs[key].image}" alt="" width="100%"/>
                            <div class="mask">
                                <p>${rs[key].description}</p>
                                <div class="post-read-more">
                                    <a href="">Read More&nbsp;<i class="fas fa-angle-double-right read-more-icon"></i>
                                        <div class="post-read-more-before"></div>
                                        <div class="post-read-more-after"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="" class="product-name">${rs[key].title}</a>
                        <div class="line-img"></div>
                        <div class="price">$ ${rs[key].price}</div>
                    </div>
                </div>`;
                    $('#productlist').append(option);
                }
            },
        });
    }
    loadProduct()
</script>
</body>
</html>
