<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Booking Appointment</title>
        <%- include('../layouts/head') %>
            <!-- Thư viện và CSS Import ở dưới -->
            <style>
                .breadcrumb {
                    padding: 30px;
                    flex-direction: column;
                    position: relative;
                    text-align: center;
                }

                .breadcrumb::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    background-image: linear-gradient(transparent, #fff);
                }

                .breadcrumb-text {
                    position: relative;
                    z-index: 1;
                    font-weight: 300;
                }

                .breadcrumb-text a {
                    color: #000;
                    text-decoration: none;
                }

                .breadcrumb-text a:hover {
                    color: #d39e3c;
                }

                #progress {
                    counter-reset: step;
                }

                #progress li {
                    list-style-type: none;
                    width: 25%;
                    position: relative;
                    text-align: center;
                    font-size: 20px;
                }

                #progress li::before {
                    content: counter(step);
                    counter-increment: step;
                    width: 30px;
                    height: 30px;
                    line-height: 25px;
                    border: 2px solid #ccc;
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto;
                    border-radius: 50%;
                    background-color: #fff;
                }

                #progress li::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: #ccc;
                    position: absolute;
                    top: 15px;
                    left: -50%;
                    z-index: -1;
                }

                #progress li:first-child::after {
                    content: none;
                }

                #progress li.active {
                    color: green;
                }

                #progress li.active::before {
                    border-color: green;
                    transition: all linear 0.5s;
                }

                #progress li.active::after {
                    background-color: green;
                    transition: all linear 0.5s;
                }

                #progress li.finish::before {
                    border-color: green;
                    color: white;
                    background-color: green;
                    font-family: "Font Awesome 5 Pro";
                    content: "\f00c";
                    transition: all linear 0.5s;
                }

                #progress li.finish::after {
                    background-color: green;
                }

                .form-check-label img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    opacity: 0.75;
                    transition: 300ms all;
                }

                .form-check-label img:hover {
                    opacity: 1;
                    border-radius: 50%;
                    /* border: 5px solid #fffb00; */
                    box-shadow: 0px 0px 10px #000;
                    /* transition: 250ms all; */
                }

                .form-check-input:checked~.form-check-label img {
                    width: 75px;
                    height: 75px;
                    opacity: 1;
                    border: 5px solid #fffb00;
                    box-shadow: 0px 0px 10px #000;
                }

                /* .form-check-inline:nth-child(odd) {
                    margin: 0 0 25px 0;
                    padding: 0 !important;
                }

                .form-check-inline:nth-child(even) {
                    margin: 25px 0 0 0;
                    padding: 0 !important;
                } */

                .form-check-inline {
                    margin: 0 !important;
                    padding: 0 !important;
                }

                fieldset.tab {
                    display: none;
                }

                fieldset select.invalid,
                fieldset input.invalid {
                    background-color: #ffdddd;
                }
            </style>
    </head>

    <body>
        <%- include('../layouts/header') %>


            <div class="main-content">
                <div class="breadcrumb d-flex justify-content-center align-items-center"
                    style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                    <h1 class="breadcrumb-text"> Booking Your Appointment </h1>
                    <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;Booking</p>
                </div>
            </div>
            <div class="container">
                <ul class="row justify-content-around" id="progress">
                    <li class="step">Step 1</li>
                    <li class="step">Step 2</li>
                    <li class="step">Step 3</li>
                    <li class="step">Finish</li>
                </ul>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <!-- step 1 -->
                        <fieldset class="tab border p-3" style="min-height: 500px;overflow: auto;">
                            <legend class="w-auto text-center">Contact info</legend>
                            <div class="row">
                                <div class="col-12">
                                    <label for="customer-fullname">Full Name:</label>
                                    <input type="text" class="form-control" id="customer-fullname"
                                        name="customer-fullname" onchange="autofill()" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label for="customer-phone">Phone number:</label>
                                    <input type="tel" class="form-control" name="customer-phone" id="customer-phone"
                                        onchange="autofill()" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label for="customer-email">Email:</label>
                                    <input type="email" class="form-control" id="customer-email" name="customer-email"
                                        placeholder="@" onchange="autofill()" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label for="customer-address">Address:</label>
                                    <input type="text" class="form-control" id="customer-address"
                                        name="customer-address" onchange="autofill()" required>
                                </div>
                            </div>
                        </fieldset>
                        <!-- step 2 -->
                        <fieldset class="tab border p-3" style="min-height: 500px;overflow: auto;">
                            <legend class="w-auto text-center">Taking sevices</legend>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="service-id">Sevices:</label>
                                    <select id="service-id" name="service-id" class="form-control"
                                        onchange="serviceIntro()" required>
                                        <option value="" disabled hidden selected>Services...
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" style="overflow: hidden;">
                                    <fieldset class="border p-3" style="max-height: 270px;overflow: auto;">
                                        <legend class="w-auto">Introduce Service</legend>
                                        <p id="service_introduce"></p>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                        <!-- step 3 -->
                        <fieldset class="tab border p-3" style="min-height: 500px;overflow: auto;">
                            <legend class="w-auto text-center">Choose Staff</legend>
                            <fieldset class="border p-3" style="margin-top: -20px;">
                                <legend class="w-auto">Select one Staff by click to avatar</legend>
                                <div class="row justify-content-center" id="staff-id">

                                </div>
                                <div class="invalid-feedback text-center" style="font-size: 100%;"><b>Please
                                        select one staff for you!</b></div>
                            </fieldset>
                            <div class="row">
                                <div class="col-12" style="overflow: hidden;">
                                    <fieldset class="border p-3" style="max-height: 240px;overflow: auto;">
                                        <legend class="w-auto">Introduce Staff</legend>
                                        <p class="text-center" id="staff_fullname"></p>
                                        <p class="text-center" id="staff_stars"></p>
                                        <p class="text-center" id="staff_introduce"></p>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                        <!-- step 4 -->
                        <fieldset class="tab border p-3" style="min-height: 500px;overflow: auto;">
                            <legend class="w-auto text-center">Date & Time</legend>
                            <div class="form-row mt-3">
                                <label for="dateField" class="col-4 col-form-label">Date:</label>
                                <input id="dateField" type="date" class="col-8 form-control">
                            </div>
                            <div class="form-row mt-3">
                                <label for="timeField" class="col-4 col-form-label">Time:</label>
                                <input id="timeField" type="time" class="col-8 form-control" onchange="setDateTime()">
                            </div>
                        </fieldset>
                        <!-- step 5 -->
                        <fieldset class="tab border p-3 text-center" style="min-height: 500px;overflow: auto;">
                            <legend class="w-auto">Final step</legend>
                            <br>
                            <h1 class="text-success"><b>OK!</b></h1>
                            <br>
                            <h3>Please confirm your entered information</h3>
                            <br>
                            <h1>&</h1>
                            <br>
                            <h1 class="text-warning"><b>SUBMIT</b></h1>
                        </fieldset>
                        <!-- next prev btn -->
                        <div class="row justify-content-around mb-5">
                            <div class="col-5">
                                <a type="button" class="col-12 btn btn-info text-white" id="prevBtn"
                                    onclick="nextPrev(-1)">Previous</a>
                            </div>
                            <div class="col-5">
                                <a type="button" class="col-12 btn btn-success text-white" id="nextBtn"
                                    onclick="nextPrev(1)">Next</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <form id="bookingForm">
                            <fieldset disabled class="border p-3" style="min-height: 500px;">
                                <legend class="w-auto text-center">Your appointment info</legend>
                                <div class="row mb-2">
                                    <label for="customer_fullname" class="col-md-4 col-form-label">Your
                                        name:</label>
                                    <input type="text" id="customer_fullname"
                                        class="col-md-8 form-control font-weight-bold bg-transparent"
                                        name="customer_fullname" style="border: none;" value="" required>
                                </div>
                                <div class="row mb-2">
                                    <label for="customer_phone" class="col-md-4 col-form-label">Phone
                                        number:</label>
                                    <input type="text" id="customer_phone"
                                        class="col-md-8 form-control font-weight-bold bg-transparent"
                                        name="customer_phone" style="border: none;" value="" required>
                                </div>
                                <div class="row mb-2">
                                    <label for="customer_email" class="col-md-4 col-form-label">Email:</label>
                                    <input type="text" id="customer_email"
                                        class="col-md-8 form-control font-weight-bold bg-transparent"
                                        name="customer_email" style="border: none;" value="" required>
                                </div>
                                <div class="row mb-4">
                                    <label for="customer_address" class="col-md-4 col-form-label">Address:</label>
                                    <input type="text" id="customer_address"
                                        class="col-md-8 form-control font-weight-bold bg-transparent"
                                        name="customer_address" style="border: none;" value="" required>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <fieldset disabled class="border p-3" aria-required="true">
                                            <legend class="w-auto"></legend>
                                            <div class="row mb-2">
                                                <label for="service_id" class="col-md-4 col-form-label">Service:</label>
                                                <select id="service_id"
                                                    class="col-md-8 form-control font-weight-bold bg-transparent"
                                                    name="service_id" style="border: none;" required>
                                                </select>
                                            </div>
                                            <div class="row mb-2">
                                                <label for="staff_id" class="col-md-4 col-form-label">Staff:</label>
                                                <select id="staff_id"
                                                    class="col-md-8 form-control font-weight-bold bg-transparent"
                                                    name="staff_id" style="border: none;" required>
                                                </select>
                                            </div>
                                            <div class="row mb-2">
                                                <p class="col-md-4">Date:</p>
                                                <p class="col-md-8" id="dateView"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-md-4">Time:</p>
                                                <p class="col-md-8" id="timeView"></p>
                                            </div>
                                            <div class="row" style="display: none;">
                                                <label for="datetime" class="col-md-4 col-form-label">Date &
                                                    Time</label>
                                                <input id="datetime" type="text"
                                                    class="col-md-8 form-control font-weight-bold bg-transparent"
                                                    name="datetime" style="border: none;" required>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row justify-content-center mb-5">
                                <div class="col-5">
                                    <button type="submit" id="submitBtn" class="col-12 btn btn-warning font-weight-bold"
                                        onclick="bookingForm()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <%- include('../layouts/footer') %>
                <script type="text/javascript">
                    var currentTab = 0;
                    showTab(currentTab);
                    function showTab(n) {
                        var tab = $('fieldset.tab')
                        tab[n].style.display = 'block';
                        if (n == 0) {
                            $('#prevBtn').hide()
                        } else {
                            $('#prevBtn').show()
                        }
                        if (n >= tab.length - 1) {
                            $('#submitBtn').show()
                            $('#nextBtn').hide()
                            $('a#nextBtn').attr('href', '#bookingForm');
                        } else {
                            $('#submitBtn').hide()
                            $('#nextBtn').show()
                            $('a#nextBtn').removeAttr('href');
                        }
                        stepIndicator(n)
                    }

                    function nextPrev(n) {
                        var tab = $('fieldset.tab');
                        if (n == 1 && !validateForm()) return false;
                        tab[currentTab].style.display = 'none';
                        currentTab = currentTab + n;
                        showTab(currentTab);
                    }

                    function stepIndicator(n) {
                        var i,
                            step = $('li.step');
                        for (i = 0; i < step.length; i++) {
                            step[i].className = step[i].className.replace(' active', '');
                        }
                        if (n < 4) {
                            step[n].className += ' active';
                            $("li.step.active").removeClass("finish");
                        } else return;
                    }

                    function validateForm() {
                        var tab,
                            x = 0,
                            y = 0,
                            i = 0,
                            z = 0,
                            valid = true;
                        tab = document.getElementsByClassName('tab');
                        y = tab[currentTab].getElementsByTagName('input');
                        z = tab[currentTab].getElementsByTagName('select');
                        x = tab[currentTab].getElementsByClassName('form-check-input');
                        if (y.length > 0) {
                            for (i = 0; i < y.length; i++) {
                                if (y[i].value == '') {
                                    y[i].className += ' invalid';
                                    valid = false;
                                }
                            }
                        }
                        if (z.length > 0) {
                            for (i = 0; i < z.length; i++) {
                                if (z[i].value == '') {
                                    z[i].className += ' invalid';
                                    valid = false;
                                }
                            }
                        }
                        if (x.length > 0) {
                            valid = false;
                            for (i = 0; i < x.length; i++) {
                                if (x[i].checked == true) {
                                    valid = true;
                                } else {
                                    $('.invalid-feedback').show();
                                }
                            }
                        }
                        if (valid) {
                            document.getElementsByClassName('step')[currentTab].className += ' finish';
                        }
                        return valid;
                    }




                    $('form').submit(function (e) {
                        e.preventDefault();
                    });
                    function bookingForm() {
                        var data = {
                            customer_fullname: $('#customer_fullname').val(),
                            customer_phone: $('#customer_phone').val(),
                            customer_email: $('#customer_email').val(),
                            customer_address: $('#customer_address').val(),
                            service_id: $('#service_id').val(),
                            staff_id: $('#staff_id').val(),
                            datetime: $('#datetime').val(),
                        };
                        $.ajax({
                            url: '/booking',
                            method: 'POST',
                            data: data,
                            success: function (rs) {
                                window.location = '/thankyou';
                            },
                        });
                        // document.getElementById('bookingForm').submit(data);
                    }
                    function autofill() {
                        document.getElementById('customer_fullname').value =
                            document.getElementById('customer-fullname').value;
                        document.getElementById('customer_phone').value =
                            document.getElementById('customer-phone').value;
                        document.getElementById('customer_email').value =
                            document.getElementById('customer-email').value;
                        document.getElementById('customer_address').value =
                            document.getElementById('customer-address').value;
                    }

                    function getService() {
                        $.ajax({
                            url: '/booking/get-service',
                            method: 'GET',
                            success: function (rs) {
                                for (var key in rs) {
                                    var option = `
                <option value="${rs[key]._id}">${rs[key].service_name}</option>
                `;
                                    $('#service-id').append(option);
                                }
                            },
                        });
                    }
                    function getStaff() {
                        $.ajax({
                            url: '/booking/get-staff',
                            method: 'GET',
                            success: function (rs) {
                                for (var key in rs) {
                                    var option = `
                <div class="form-check-inline col-3 justify-content-center">
                    <input id="${rs[key]._id}" type="radio" hidden value="${rs[key]._id}" class="form-check-input"
                        name="select-staff" onchange="staffIntro(this.value)" required>
                    <label for="${rs[key]._id}" class="form-check-label">
                        <img src="${rs[key].staff_avatar}" alt="">
                    </label>
                </div>
                `;
                                    $('#staff-id').append(option);
                                }
                            },
                        });
                    }
                    getService();
                    getStaff();
                    function serviceIntro() {
                        $.ajax({
                            url: '/booking/get-service',
                            method: 'GET',
                            success: function (rs) {
                                $('#service_introduce').html('');
                                var service_id = $('#service-id').val();
                                for (var key in rs) {
                                    var rs_id = rs[key]._id;
                                    if (service_id == rs_id) {
                                        var info = rs[key].service_introduce;
                                        $('#service_introduce').append(info);
                                        var assign = `
                    <option value="${rs[key]._id}" selected>${rs[key].service_name}</option>
                    `;
                                        $('#service_id').append(assign);
                                    } else {
                                        continue;
                                    }
                                }
                            },
                        });
                    }
                    function staffIntro(value) {
                        $.ajax({
                            url: '/booking/get-staff',
                            method: 'GET',
                            success: function (rs) {
                                $('.invalid-feedback').hide();
                                $('#staff_stars').html('');
                                $('#staff_introduce').html('');
                                var staff_id = value;
                                for (var key in rs) {
                                    var rs_id = rs[key]._id;
                                    if (staff_id == rs_id) {
                                        $('#staff_fullname').html(`<b>${rs[key].staff_fullname}</b>`);
                                        var stars = `
                    Service quality: <br> <b>${rs[key].staff_stars}</b> <br> <i class="fas fa-star"></i>
                    `;
                                        var info = rs[key].staff_introduce;
                                        $('#staff_stars').append(stars);
                                        $('#staff_introduce').append(info);
                                        var assign = `
                    <option value="${rs[key]._id}" selected>${rs[key].staff_fullname}</option>
                    `;
                                        $('#staff_id').append(assign);
                                    } else {
                                        continue;
                                    }
                                }
                            },
                        });
                    }
                    function setDateTime() {
                        var mydate, mytime, mystring;
                        mydate = $('#dateField').val();
                        mytime = $('#timeField').val();
                        mystring = `${mydate}T${mytime}`;
                        document.getElementById('dateView').innerHTML = `<b>${moment(
                            `${mydate}`
                        ).format('dddd DD/MM/YYYY')}</b>`;
                        document.getElementById('timeView').innerHTML = `<b>${mytime}</b>`;
                        document.getElementById('datetime').value = mystring;
                    }
                </script>
    </body>

</html>