<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <form method="POST" action="/booking">
            <label>
                <input type="text" name="customer_fullname"> customer_fullname
            </label>
            <label>
                <input type="text" name="customer_phone">customer_phone
            </label>
            <label>
                <input type="text" name="customer_email">customer_email
            </label>
            <label>
                <input type="text" name="customer_address">customer_address
            </label>
            <label>
                <input type="datetime-local">datetime
            </label>
            <button type="submit">submit</button>
        </form>
    </body>

</html>