<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Review Appointment</title>
        <%- include('../layouts/head') %>
            <!-- Thư viện và CSS Import ở dưới -->
            <style>
                .rating-container {
                    position: relative;
                    background: #111;
                    border: 1px solid #444;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }

                .rating-container .rated {
                    display: none;
                }

                .rating-container .text {
                    font-size: 24px;
                    color: #666;
                    font-weight: 500;
                    line-height: 50px;
                }

                .rating-container .star-widget input {
                    display: none;
                }

                .star-widget label {
                    font-size: 30px;
                    color: #444;
                    padding: 10px;
                    float: right;
                    transition: all 0.2s ease;
                }

                input:not(:checked)~label:hover,
                input:not(:checked)~label:hover~label {
                    color: #fd4;
                }

                input:checked~label {
                    color: #fd4;
                }

                input#rate-5:checked~label {
                    color: #fe7;
                    text-shadow: 0 0 20px #952;
                }

                .star-text .textarea {
                    height: 100px;
                    width: 100%;
                    overflow: hidden;
                }

                .star-text .textarea textarea {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    color: #eee;
                    border: 1px solid #333;
                    background: #222;
                    padding: 10px;
                    font-size: 17px;
                    resize: none;
                }

                .textarea textarea:focus {
                    border-color: #444;
                }

                .star-text .btn {
                    height: 45px;
                    width: 100%;
                    margin: 15px 0;
                }

                .star-text .btn button {
                    height: 100%;
                    width: 100%;
                    border: 1px solid #444;
                    outline: none;
                    background: #222;
                    color: #999;
                    font-size: 17px;
                    font-weight: 500;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .star-text .btn button:hover {
                    background: #1b1b1b;
                }

                .needs-validation h2 {
                    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
                }

                .nav-link.active {
                    background: #343A40 !important;
                    color: white !important;
                }

                .breadcrumb {
                    padding: 30px;
                    flex-direction: column;
                    position: relative;
                    text-align: center;
                }

                .breadcrumb::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    background-image: linear-gradient(transparent, #fff);
                }

                .breadcrumb-text {
                    position: relative;
                    z-index: 1;
                    font-weight: 300;
                }

                .breadcrumb-text a {
                    color: #000;
                    text-decoration: none;
                }

                .breadcrumb-text a:hover {
                    color: #d39e3c;
                }
            </style>
    </head>

    <body>
        <%- include('../layouts/header') %>

            <div class="main-content">
                <div class="breadcrumb d-flex justify-content-center align-items-center"
                    style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                    <h1 class="breadcrumb-text"> Review Your Appointment </h1>
                    <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;Review</p>
                </div>
            </div>
            <div class="container mt-5">
                <form class="needs-validation" novalidate>
                    <div class="row mb-3">
                        <label for="customer-phone" class="col-xl-5 col-lg-6 col-md-7 col-sm-12">
                            <h2>Check your appointments:</h2>
                        </label>
                        <div class="input-group col-xl-7 col-lg-6 col-md-7 col-sm-12">
                            <input type="text" id="customer-phone" name="customer_phone" class="form-control shadow"
                                placeholder="Insert your phone number" required>
                            <div class="invalid-tooltip">Please enter your phone to search.</div>
                            <button class="btn btn-success input-group-append form-control col-3 text-center shadow"
                                type="submit" onclick="findByPhone()"
                                style="display: inline-block !important;">Search</button>
                        </div>
                    </div>
                </form>
                <ul class="nav nav-pills">
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link active" data-toggle="tab" href="#list-upcoming"
                            style="color: #343A40;padding: 20px;border: 1px solid rgba(52, 58, 64, 0.5)">Upcoming
                            appointments</a>
                    </li>
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link" data-toggle="tab" href="#list-previous"
                            style="color: #343A40;padding: 20px;border: 1px solid rgba(52, 58, 64, 0.5)">Previous
                            appointment</a>
                    </li>
                </ul>

                <div class="tab-content" style="overflow: auto;">
                    <div id="list-upcoming" class="tab-pane active">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th>Date & Time</th>
                                    <th>Full name</th>
                                    <th>Phone number</th>
                                    <th>Service</th>
                                    <th>Staff</th>
                                    <th>Status</th>
                                    <th>More</th>
                                </tr>
                            </thead>
                            <tbody id="list-upcoming-appointment">
                            </tbody>
                        </table>
                    </div>
                    <div id="list-previous" class="tab-pane fade">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th>Date & Time</th>
                                    <th>Full name</th>
                                    <th>Phone number</th>
                                    <th>Service</th>
                                    <th>Staff</th>
                                    <th>Rating</th>
                                    <th>More</th>
                                </tr>
                            </thead>
                            <tbody id="list-previous-appointment">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="reviewModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form class="needs-validation" novalidate>
                                <fieldset id="bookingForm" disabled class="border p-3">
                                    <legend class="w-auto text-center">Your appointment detail</legend>
                                    <div class="row">
                                        <label for="customer_fullname" class="col-md-4 col-form-label">Your
                                            name:</label>
                                        <input type="text" id="customer_fullname"
                                            class="col-md-8 form-control font-weight-bold bg-transparent"
                                            name="customer_fullname" style="border: none;" value="" required>
                                        <div class="invalid-feedback text-right">Please enter your name.</div>
                                    </div>
                                    <div class="row mt-3">
                                        <label for="customer_phone" class="col-md-4 col-form-label">Phone
                                            number:</label>
                                        <input type="text" id="customer_phone"
                                            class="col-md-8 form-control font-weight-bold bg-transparent"
                                            name="customer_phone" style="border: none;" value="" required>
                                        <div class="invalid-feedback text-right">Please enter your phone.</div>
                                    </div>
                                    <div class="row mt-3">
                                        <label for="customer_email" class="col-md-4 col-form-label">Email:</label>
                                        <input type="text" id="customer_email"
                                            class="col-md-8 form-control font-weight-bold bg-transparent"
                                            name="customer_email" style="border: none;" value="" required>
                                        <div class="invalid-feedback text-right">Please enter your email.</div>
                                    </div>
                                    <div class="row mt-3">
                                        <label for="customer_address" class="col-md-4 col-form-label">Address:</label>
                                        <input type="text" id="customer_address"
                                            class="col-md-8 form-control font-weight-bold bg-transparent"
                                            name="customer_address" style="border: none;" value="" required>
                                        <div class="invalid-feedback text-right">Please enter your address.</div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12 col-sm-12">
                                            <fieldset class="border p-3">
                                                <legend class="w-auto"></legend>
                                                <div class="row">
                                                    <label for="service_id"
                                                        class="col-md-4 col-form-label">Service:</label>
                                                    <select id="service_id"
                                                        class="col-md-8 form-control font-weight-bold bg-transparent"
                                                        name="service_id" style="border: none;" required>
                                                    </select>
                                                    <div class="invalid-feedback text-right">Please choose service.
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <label for="staff_id" class="col-md-4 col-form-label">Staff:</label>
                                                    <select id="staff_id"
                                                        class="col-md-8 form-control font-weight-bold bg-transparent"
                                                        name="staff_id" style="border: none;" required>
                                                    </select>
                                                    <div class="invalid-feedback text-right">Please choos staff.
                                                    </div>
                                                </div>
                                                <div id="datetime-view" class="row mt-3">
                                                    <p class="col-md-4">Date & Time:</p>
                                                    <p class="col-md-8" id="datetimeView"></p>
                                                </div>
                                                <div id="date-time" class="row mt-3">
                                                    <label for="datetime" class="col-md-4 col-form-label">Date &
                                                        Time</label>
                                                    <input id="datetime" type="datetime-local"
                                                        class="col-md-8 form-control font-weight-bold bg-transparent"
                                                        name="datetime" required>
                                                    <div class="invalid-feedback text-right">Please select date & time.
                                                    </div>
                                                </div>
                                                <div class="row mt-3" style="display: none;">
                                                    <label for="_id" class="col-md-4 col-form-label">_id:</label>
                                                    <input id="_id" type="text"
                                                        class="col-md-8 form-control font-weight-bold bg-transparent"
                                                        name="_id" value="" required>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row mt-3 justify-content-around">
                                    <button id="edit-btn" type="button" class="col-2 btn btn-primary"
                                        onclick="editable()">Edit</button>
                                    <button id="update-btn" type="submit" class="col-2 btn btn-success"
                                        onclick="update()">Update</button>
                                    <button id="delete-btn" type="button" class="col-2 btn btn-danger"
                                        data-toggle="modal" data-target="#confirmDelete">Delete</button>
                                    <button id="cancel-btn" type="button" class="col-2 btn btn-danger"
                                        data-toggle="modal" data-target="#confirmCancel">Cancel</button>
                                    <p id="cancelling" class="text-danger"><b>Your appointment is pending
                                            cancellation!</b></p>
                                </div>
                            </form>
                            <div class="row mt-3 justify-content-center">
                                <div id="ratingForm" class="col-md-12 col-sm-12">
                                    <fieldset disabled class="border p-3">
                                        <legend class="w-auto text-center">Rating your appointment</legend>
                                        <div class="rating-container">
                                            <div class="rated">
                                                <div class="text">Thanks for rating us!</div>
                                            </div>
                                            <form class="star-widget">
                                                <input type="radio" name="rating" id="rate-5" value="5">
                                                <label for="rate-5" class="far fa-star"></label>
                                                <input type="radio" name="rating" id="rate-4" value="4">
                                                <label for="rate-4" class="far fa-star"></label>
                                                <input type="radio" name="rating" id="rate-3" value="3">
                                                <label for="rate-3" class="far fa-star"></label>
                                                <input type="radio" name="rating" id="rate-2" value="2">
                                                <label for="rate-2" class="far fa-star"></label>
                                                <input type="radio" name="rating" id="rate-1" value="1">
                                                <label for="rate-1" class="far fa-star"></label>
                                                <div class="star-text">
                                                    <div class="textarea">
                                                        <textarea cols="30" id="txtArea"
                                                            placeholder="Describe your experience.."></textarea>
                                                    </div>
                                                    <div class="btn">
                                                        <button id="rate-btn" type="submit"
                                                            onclick="submitRating()">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="confirmDelete" data-keyboard="false" tabindex="-1"
                aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteLabel">Confirm to delete!</h5>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete your appointment?
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-danger" onclick="deleteAppointment()">YES</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirmCancel" data-keyboard="false" tabindex="-1"
                aria-labelledby="confirmCancelLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmCancelLabel">Confirm to cancel!</h5>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to cancel your appointment?
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-danger" onclick="cancelAppointment()">YES</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../layouts/footer') %>
                <script src="/js/review.js"></script>
                <script type="text/javascript">
                </script>
    </body>

</html>