<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Home Remedies for Dry Hair</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;Home Remedies for Dry Hair</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog17.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">Home Remedies for Dry Hair</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Dull, lifeless hair</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    
                 
                    <p class="post-text">When your hair feels dry to the touch, it may also be brittle and hard to style. But having dry hair doesn’t mean that you have a larger health problem, or that there’s anything wrong with the hair that you have.</p>
                    <p class="post-text">Sun exposure, heat styling, humidity, smoking, and more can all contribute to hair that’s damaged and dry.</p>
                    <p class="post-text">The good news is that there are a few things you can do if you feel like reducing the dryness of your hair.</p>

                    <h2 class="post-title">1. Get a trim</h2>
                    <p class="post-text">If your hair is too dry, it might need a reset in the form of a fresh cut. Even if your hair isn’t very long, split ends can make hair hard to style and contribute to it feeling dry or coarse.</p>
                    <p class="post-text">Visit your stylist and trim off hair that’s unhealthy and weighing down fresh hair growth. While you’re there, ask the stylist if they have any tips for your particular hair type and length. They may recommend a new styling routine that can keep your hair from being damaged.</p>

                    <h2 class="post-title">2. Take vitamins</h2>
                    <p class="post-text">You know that you need certain vitamins to nourish your body, but certain vitamins directly impact the health of your hair and nails, too. Vitamin A, vitamin C, biotin (sometimes called vitamin H), and the mineral iron will all contribute to hair that looks healthier.</p>
                    <p class="post-text">Because prenatal vitamins contain all of the above vitamins, some people take them just for the way they affect their hair. It’s also popular at the moment to take supplements that contain only biotin to make your hair look better. However, recent researchTrusted Source doesn’t support the idea that biotin makes a big difference. You might also look into marine protein supplements, which have been shownTrusted Source to help hair be healthier.</p>

                    <h2 class="post-title">3. Add omega-3s and antioxidants to your diet</h2>
                    <p class="post-text">Marine proteinsTrusted Source keep your hair from thinning out and can make hair look shinier. To get similar results without taking a supplement, increase the amount of marine proteins in your diet. This includes:</p>
                    <ul class="post-list">
                        <li class="post-item">salmon</li>
                        <li class="post-item">oysters</li>
                        <li class="post-item">mackerel</li>
                        <li class="post-item">tuna</li>
                        <li class="post-item">sardines</li>
                    </ul>

                    <p class="post-text">These are all rich in peptides and omega-3s, which can make your hair shinier.</p>
                    <p class="post-text">You might also consider eating more antioxidants to combat oxidative stress, which makes hair look olderTrusted Source. Some foods that are rich in antioxidants include:</p>
                    <ul class="post-list">
                        <li class="post-item">walnuts</li>
                        <li class="post-item">kidney beans</li>
                        <li class="post-item">blueberries</li>
                        <li class="post-item">broccoli</li>
                        <li class="post-item">tomatoes</li>
                    </ul>

                    <p class="post-text">The Mayo Clinic emphasizes healthy fats, like those found in canola oil, for better hair health.</p>

                    <h2 class="post-title">4. Avoid washing your hair every day</h2>
                    <p class="post-text">Shampoo removes dirt and sweat from your hair, but it also strips your hair of sebumTrusted Source. Sebum is the natural oil that makes your hair easier to maintain and, when you have the right amount, shiny. Too much sebum leads to a greasy hair appearance.</p>
                    <p class="post-text">But you probably don’t need to be stripping your hair of sebum every day — you can most likely wash your hair every other day and see your hair appear healthier as a result. If you can’t go a day in between washing, at least use a shampoo specifically for dry hair or even try a baby shampoo. Both are mildly cleansing without stripping hair completely of its natural oil.</p>

                    <h2 class="post-title">5. Wrap your hair instead of air drying</h2>
                    <p class="post-text">If your hair is brittle and difficult to style after you wash it, it could be losing too much moisture during the drying process. Try wrapping your hair with a cloth or towel after you wash it instead of letting it air dry.</p>
                    <p class="post-text">If you sleep with your hair wet, use a silk pillowcase to keep your hair’s moisture from getting absorbed into your pillows. If you leave your hair wet for long periods of time, one study from 2011Trusted Source observed damage that was comparable to blow drying.</p>

                    <h2 class="post-title">6. Cut down on heat styling</h2>
                    <p class="post-text">Heat styling to curl, straighten, or add volume to your hair might have been a part of your daily routine for years. It may also be the reason that your hair is drying out.</p>
                    <p class="post-text">A studyTrusted Source of the hair shaft before and after blow drying showed significant damage to participant’s hair. If you’re going to blow dry your hair, keep the dryer at least 6 inches awayTrusted Source from your hair shaft for best results.</p>

                    <h2 class="post-title">7. Try colder showers</h2>
                    <p class="post-text">The hot water that you use to rinse your body in the shower might also be scalding your hair. Cold showers have some health benefits, and making hair grow faster could be among them. After you shampoo and condition your hair in the shower, rinse your hair under a cooler temperature of water for a minute or two to revitalize strands and refresh your scalp.</p>

                    <h2 class="post-title">8. Use essential oils</h2>
                    <p class="post-text">Moroccan argan oil has become a popular home remedy for dry hair. We don’t know much about how or if this remedy conclusively worksTrusted Source, but it is easy to try. Using a few drops of argan oil on the ends of your hair may give it a more finished and supple appearance. Other essential oils, like peppermint oil and lavender oil, may help stop hair loss and prevent breakage.</p>
                    <p class="post-text">Mixing argan oil, peppermint oil, lavender oil, and a carrier oil like coconut oil together to make a quick spritz hair perfume may make your hair feel less dry over time.</p>

                    <h2 class="post-title">9. Wear a hat</h2>
                    <p class="post-text">Ultraviolet rays can damageTrusted Source your hair shaft the same way they can damage your skin. If you have dry hair, limit your hair’s exposure to these rays. Wear a hat during your daily activities, and avoid prolonged sun exposure. If your hair has already been exposed to UV rays, smoothing some pure aloe vera gel on your hair might help repair the damage.</p>

                    <h2 class="post-title">10. Try coconut oil</h2>
                    <p class="post-text">Coconut oil is a natural emollient. That means that it fills in the gaps in your hair strands if they’ve been damaged by heat or the sun. One study from 2005Trusted Source, showed that coconut oil is particularly good at penetrating hair fibers.</p>
                    <p class="post-text">By smoothing your hair strand-by-strand, coconut oil improves the overall appearance of your hair. You can treat your hair to a deep-conditioning treatment of warmed coconut oil once every week.</p>
                    <ul class="post-list">
                        <li class="post-item">Start off with dry hair and coconut oil that’s room temperature.</li>
                        <li class="post-item">Rub some coconut oil in between your palms before applying it, focusing on the ends, the crown of your head, and the root of your hair.</li>
                        <li class="post-item">Saturate — but don’t soak — your hair in the coconut oil as you repeat this process, and leave the oil on your hair for about 20 minutes.</li>
                        <li class="post-item">Rinse thoroughly.</li>
                    </ul>

                    <h2 class="post-title">Takeaway</h2>
                    <p class="post-text">Trying home remedies for your dry hair is easy enough, with no risk to you. But long-term hair loss and breakage can be a sign of other health issues. Speak to a dermatologist if you have any of these symptoms:</p>
                    <ul class="post-list">
                        <li class="post-item">hair that comes out in clumps</li>
                        <li class="post-item">bald spots or patterns of baldness</li>
                        <li class="post-item">hair that breaks when you brush it</li>
                    </ul>
                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
