<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Help! Why Is My Hair Falling Out in Clumps? (P1)</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;Help! Why Is My Hair Falling Out in Clumps? (P1)</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog14.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">Help! Why Is My Hair Falling Out in Clumps? (P1)</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Hair loss, Hair growth</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <p class="post-text">You step into the shower and rinse your hair. You look down at the floor, and what do you see? A rather alarming number of strands that have drifted from your scalp.</p>
                    <p class="post-text">Maybe you even notice clumps of hair in the bristles of your brush after your daily brushing.</p>
                    <p class="post-text">Wherever it happens, excessive hair loss can be a troubling thing to deal with. If you’ve noticed clumps of hair falling out recently, here’s what could be going on inside your body and what you can do to treat it.</p>

                    <h2 class="post-title">The science of hair loss</h2>
                    <p class="post-text">To understand hair loss, you need to understand hair growth.</p>

                    <p class="post-text">There are three stages in the growth cycle:</p>
                    <ul class="post-list">
                        <li class="post-item"><b>Anagen.</b> This is when hair is actively growing in length.</li>
                        <li class="post-item"><b>Catagen.</b> This is when hair stops growing.</li>
                        <li class="post-item"><b>Telogen.</b> This is when hair rests and eventually sheds.</li>
                    </ul>

                    <p class="post-text">Around 90 percent of your hair is in the anagen stage at once, and this growth phase can last for years.</p>
                    <p class="post-text">The transitional phase, catagen, is much shorter —often only a few weeks —and telogen lasts for a few months.</p>
                    <p class="post-text">There are around 100,000 follicles sprouting hair on the average scalp, and it’s common to lose up to 100 strands a day. Once an individual hair has shed, the follicle prepares for regrowth and the whole cycle starts again.</p>
                    <p class="post-text">However, the cycle can be disrupted by the likes of aging and hormonal changes, such as menopause. As you age, some follicles no longer grow new hair, leading to a thinner look or bald patches.</p>
                    <p class="post-text">Some conditions can also lead to an imbalance, where half of the hairs on the head enter the shedding telogen phase.</p>

                    <h2 class="post-title">Possible reasons</h2>
                    <p class="post-text">So what exactly is it that can lead to clumps of hair falling out? Well, there are plenty of potential culprits, and some people may have more than one issue at play.</p>

                    <h4 class="post-category">Male and female pattern baldness</h4>
                    <p class="post-text">
                        Some causes lead to permanent hair loss.
                    </p>
                    <p class="post-text">Male and female pattern baldness is one of these. One of the most common forms of hair loss, it’s often seen in more than one generation of a family.</p>
                    <p class="post-text">Hormones, as well as genetics, can play a part, leading to smaller follicles that eventually stop making hair.</p>
                    <p class="post-text">Men tend to notice a receding hairline and patches of hair loss on the top of the head.</p>
                    <p class="post-text">For women, pattern hair loss results in thinning hair, particularly on the crow</p>

                    <h4 class="post-category">Stress</h4>
                    <p class="post-text">Stress — like that from a traumatic event, a health issue (like surgery), rapid weight loss, or pregnancy — can be a big factor in telogen effluvium.</p>
                    <p class="post-text">Essentially, this means there’s temporary hair loss where more hairs enter the telogen phase than what’s typical.</p>
                    <p class="post-text">It can be hard to determine stress as the cause, as the hair loss often doesn’t occur immediately, instead falling out 3 to 6 months later. That said, if you find yourself losing clumps of hair several months after a big event like the ones mentioned above, it’s a good bet stress is the culprit.</p>

                    <h4 class="post-category">Diet</h4>
                    <p class="post-text">Low levels of iron, zinc, and vitamins B12 and DTrusted Source have been linked to hair loss. All seemingly have a role in stimulating hair growth or helping with follicle health.</p>

                    <h4 class="post-category">Alopecia</h4>
                    <p class="post-text">Alopecia occurs when the immune system attacks the hair follicles, resulting in the hair falling out. Sometimes, the hair grows back on its own.</p>

                    <p class="post-text">There are a few forms of alopecia:</p>
                    <ul class="post-list">
                        <li class="post-item"><b>Alopecia areata.</b> This type causes patches of baldness.</li>
                        <li class="post-item"><b>Alopecia totalis.</b> This type causes complete baldness on the head.</li>
                        <li class="post-item"><b>Alopecia universalis.</b> This one is much rarer and causes the entire body to lose all its hair.</li>
                    </ul>

                    <h4 class="post-category">Other conditions and medications</h4>
                    <p class="post-text">Autoimmune diseases, like lupus and chronic infections, can also be to blame.</p>
                    <p class="post-text">You may also find that medications, like chemotherapy medications, retinoids, beta blockers, and antidepressants, can lead to hair loss.</p>
                    <p class="post-text">In a lot of cases, hair will grow back when you stop taking the medication.</p>
                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
