<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Avoiding Hair Loss from Dandruff</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;Avoiding Hair Loss from Dandruff</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog29.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">Avoiding Hair Loss from Dandruff</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Dandruff</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <h2 class="post-title">Can dandruff cause hair loss?</h2>
                    <p class="post-text">Dandruff is common condition that causes flaky skin on your scalp. This skin often falls off, leaving white flakes on your shoulders.</p>
                    <p class="post-text">Some people with dandruff go on to develop hair loss. Is dandruff to blame?</p>
                    <p class="post-text">In most cases, dandruff doesn’t directly cause hair loss. However, the itchiness it causes can lead to scratching. This can injure your hair follicles, leading to some hair loss, though not complete baldness. In addition, dandruff can increaseTrusted Source hair loss in people with androgenic alopecia, a condition that causes male– and female-pattern baldness.</p>
                    <p class="post-text">Read on to learn about tips for preventing dandruff-related hair loss.</p>
                    
                    <h2 class="post-title">How to prevent hair loss from dandruff</h2>
                    <p class="post-text">Preventing dandruff-related hair loss focuses on eliminating as much itchiness as possible. This will reduce your urge to scratch and protect your hair follicles against further damage.</p>

                    <h4 class="post-category">Get a diagnosis</h4>
                    <p class="post-text">Several things can cause dandruff, from hair-washing habits to underlying skin conditions. If you’re not sure what’s causing your dandruff, make an appointment with your doctor or dermatologist.</p>
                    <p class="post-text">They can take a look at your scalp to help determine if your dandruff is simply a matter of washing your hair too frequently or not enough. They can also check for signs of an underlying problem, such as:</p>
                    <ul class="post-list">
                        <li class="post-item"><b>Dry skin.</b>
                            This results in small flakes that usually aren’t accompanied by redness or
                            inflammation.</li>
                        <li class="post-item"><b>Seborrheic
                            dermatitis.</b> This condition causes a rash that often looks red, scaly, and
                            oily. The resulting skin flakes can be either white or yellow.</li>
                        <li class="post-item"><b>Malassezia.</b>
                            Malassezia is a fungus found on most people’s scalps. However, it can sometimes
                            irritate your scalp and cause the growth of extra skin cells. When these skin
                            cells die, it can cause dandruff.</li>
                        <li class="post-item"><b>Contact
                            dermatitis.</b> Sensitivity to certain ingredients in products, such as shampoo
                            or hair dye, that you use on your hair or scalp can cause red, flaky skin.</li>
                    </ul>
                    <p class="post-text">Once you’ve figured out the underlying cause of your dandruff, you can more effectively treat it.</p>
                 
                    <h4 class="post-category">Use a medicated shampoo</h4>
                    <p class="post-text">If you haven’t already, try using a medicated shampoo designed to help with dandruff. Look for products containing any of the following ingredients:</p>
                    <ul class="post-list">
                        <li class="post-item">pyrinthione zinc</li>
                        <li class="post-item">salicylic acid</li>
                        <li class="post-item">ketoconazole</li>
                        <li class="post-item">selenium sulfide</li>
                    </ul>

                    <p class="post-text">Shop for antidandruff shampoos containing these ingredients.</p>
                    <p class="post-text">For mild cases of dandruff, you may only need to use medicated shampoo for a few weeks.</p>
                    <p class="post-text">If you have light-colored hair, you may want to stay away from selenium sulfide, which can cause discoloration.</p>
                  
                    <h4 class="post-category">Add moisture</h4>
                    <p class="post-text">Regardless of the underlying cause of your dandruff, it’s important to hydrate your scalp with conditioner. This is especially important when using medicated shampoos, especially those containing salicylic acid. These can be drying when used regularly.</p>
                    <p class="post-text">For an added benefit, try massaging your scalp with coconut oil, then rinse it out. In addition to being moisturizing, coconut oil has antifungal properties. In fact, a 2015 study found that its antifungal activity was similar to that of ketoconazole, a common ingredient in antidandruff shampoos.</p>
                    <p class="post-text">Steer clear of using oils on your scalp if you think you might have seborrheic dermatitis. Extra oil can sometimes make this condition worse.</p>

                    <h4 class="post-category">Avoid irritating hair products</h4>
                    <p class="post-text">Hair dye and other hair products often contain ingredients that can irritate sensitive skin. This can lead to contact dermatitis. Preservatives and fragrances are common causes of contact dermatitis on your scalp.</p>
                    <p class="post-text">Examples of potentially irritating ingredients in hair products include:</p>
                    <ul class="post-list">
                        <li class="post-item">natural or artificial fragrance</li>
                        <li class="post-item">bleach</li>
                        <li class="post-item">detergents</li>
                        <li class="post-item">formaldehyde</li>
                    </ul>
                    <p class="post-text">Some people use products for years before noticing any kind of reaction. Even if you’ve used the same hair products without any problems, consider changing up your routine if you notice dandruff.</p>

                    <h4 class="post-category">Manage stress</h4>
                    <p class="post-text">While stress won’t directly cause dandruff, it can weaken your immune system over time. This can make your scalp more sensitive to naturally occurring malassezia fungus. Learn more about the effects of stress on your body.</p>
                    <p class="post-text">Try to manage your stress by practicing relaxation techniques, such as yoga or meditation. Even taking a walk around the block or doing some controlled breathing for a minute or two can help.</p>

                    <h4 class="post-category">Get a little sun</h4>
                    <p class="post-text">Though ultraviolet rays cause premature aging and increase your risk for skin cancer, a little bit of sunlight may be good for dandruff, according to the Mayo Clinic. If you head outside, be sure to wear sunscreen on your face and body.</p>

                    <h2 class="post-title">The bottom line</h2>
                    <p class="post-text">Having dandruff doesn’t immediately lead to hair loss. However, constantly scratching your scalp can damage your hair follicles and lead to some hair loss. This isn’t permanent and should resolve once you find out what’s causing your dandruff. If you don’t already know the cause, your doctor or dermatologist can help.</p>

                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
