<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Male Pattern Baldness</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;Male Pattern Baldness</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog13.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">Male Pattern Baldness</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href=""> Hair growth</a></p>
                <div class="post-line"></div>

                <div class="post-content">
                    <h2 class="post-title">What is male pattern baldness?</h2>
                    <p class="post-text">Male pattern baldness, also called androgenic alopecia, is the most common type of hair loss in men. According to the U.S. National Library of Medicine (NLM), more than 50 percent of all men over the age of 50 will be affected by male pattern baldness to some extent.</p>

                    <h2 class="post-title">What causes male pattern baldness?</h2>
                    <p class="post-text">One cause of male pattern baldness is genetics, or having a family history of baldness. Research has found that male pattern baldness is associated with male sex hormones called androgens. The androgens have many functions, including regulating hair growth.</p>
                    <p class="post-text">Each hair on your head has a growth cycle. With male pattern baldness, this growth cycle begins to weaken and the hair follicle shrinks, producing shorter and finer strands of hair. Eventually, the growth cycle for each hair ends and no new hair grows in its place.</p>
                    <p class="post-text">Inherited male pattern baldness usually has no side effects. However, sometimes baldness has more serious causes, such as certain cancers, medications, thyroid conditions, and anabolic steroids. See your doctor if hair loss occurs after taking new medications or when it’s accompanied by other health complaints.</p>
                    <p class="post-text">Doctors use the pattern of hair loss to diagnose male pattern baldness. They may perform a medical history and exam to rule out certain health conditions as the cause, such as fungal conditions of the scalp or nutritional disorders.</p>
                    <p class="post-text">Health conditions may be a cause of baldness when a rash, redness, pain, peeling of the scalp, hair breakage, patchy hair loss, or an unusual pattern of hair loss accompanies the hair loss. A skin biopsy and blood tests also may be necessary to diagnose disorders responsible for the hair loss.</p>

                    <h2 class="post-title">Who’s at risk?</h2>
                    <p class="post-text">Male pattern baldness can begin in your teenage years, but it more commonly occurs in adult men, with the likelihood increasing with age. Genetics plays a big role. Men who have close relatives with male pattern baldness are at a higher risk. This is particularly true when their relatives are on the maternal side of the family.</p>

                    <h2 class="post-title">Am I losing my hair?</h2>
                    <p class="post-text">If your hair loss begins at the temples or the crown of the head, you may have male pattern baldness. Some men will get a single bald spot. Others experience their hairlines receding to form an “M” shape. In some men, the hairline will continue to recede until all or most of the hair is gone.</p>

                    <h2 class="post-title">Techniques to address hair loss</h2>
                    <p class="post-text">Medical treatment isn’t necessary if other health conditions aren’t a cause. However, treatments are available for men who are unhappy with the way they look and would like the appearance of a fuller head of hair.</p>

                    <h4 class="post-category">Hairstyles</h4>
                    <p class="post-text">Men with limited hair loss can sometimes hide hair loss with the right haircut or hairstyle. Ask your hairstylist for a creative cut that will make thinning hair look fuller.</p>

                    <h4 class="post-category">Wigs or hairpieces</h4>
                    <p class="post-text">Wigs can cover thinning hair, receding hairlines, and complete baldness. They come in a variety of styles, colors, and textures. For a natural look, choose wig colors, styles, and textures that look similar to your original hair. Professional wig stylists can help style and fit wigs for an even more natural look.</p>

                    <h4 class="post-category">Weaves</h4>
                    <p class="post-text">Hair weaves are wigs that are sewn into your natural hair. You must have enough hair to sew the weave into. The advantage to weaves is they always stay on, even during activities such as swimming, showering, and sleeping. The disadvantages are they must be sewn again whenever new hair growth occurs, and the sewing process can damage your natural hair.</p>

                    <h4 class="post-category">Minoxidil (Rogaine)</h4>
                    <p class="post-text">Minoxidil (Rogaine) is a topical medication applied to the scalp. Minoxidil slows hair loss for some men and stimulates the hair follicles to grow new hair. Minoxidil takes four months to one year to produce visible results. Hair loss often happens again when you stop taking the medication..</p>

                    <p class="post-text">
                        Possible side effects associated with minoxidil include dryness, irritation, burning, and scaling of the scalp. You should visit the doctor immediately if you have any of these serious side effects:
                    <ul class="post-list">
                        <li class="post-item">weight gain</li>
                        <li class="post-item">swelling of the face, hands, ankles, or abdomen</li>
                        <li class="post-item">trouble breathing when lying down</li>
                        <li class="post-item">rapid heartbeat</li>
                        <li class="post-item">chest pain</li>
                        <li class="post-item">labored respiration</li>
                    </ul>

                    <h4 class="post-category">Finasteride (Propecia, Proscar)</h4>
                    <p class="post-text">Finasteride (Propecia, Proscar) is an oral medication that slows hair loss in some men. It works by blocking the production of the male hormone responsible for hair loss. Finasteride has a higher success rate than minoxidil. When you stop taking finasteride, your hair loss returns.</p>

                    <p class="post-text">
                        You must take finasteride for three months to one year before you see results. If no hair growth occurs after one year, your doctor will likely recommend that you stop taking the medication. The side effects of finasteride include:
                    <ul class="post-list">
                        <li class="post-item">depression</li>
                        <li class="post-item">itching</li>
                        <li class="post-item">rash</li>
                        <li class="post-item">hives</li>
                        <li class="post-item">breast tenderness</li>
                        <li class="post-item">breast growth</li>
                        <li class="post-item">swelling of the face or lips</li>
                        <li class="post-item">painful ejaculation</li>
                        <li class="post-item">pain in testicles</li>
                        <li class="post-item">difficulty getting an erection</li>
                    </ul>

                    <p class="post-text">Although it’s rare, finasteride can cause breast cancer. You should have any breast pain or lumps evaluated by a doctor immediately.</p>
                    <p class="post-text">Finasteride may affect prostate-specific antigen (PSA) tests used to screen for prostate cancer. The medication lowers PSA levels, which causes lower-than-normal readings. Any rise in PSA levels when taking finasteride should be evaluated for prostate cancer.</p>

                    <h4 class="post-category">Hair transplants</h4>
                    <p class="post-text">A hair transplant is the most invasive and expensive treatment for hair loss. Hair transplants work by removing hair from areas of the scalp that have active hair growth and transplanting them to thinning or balding areas of your scalp.</p>
                    <p class="post-text">Multiple treatments are often necessary, and the procedure carries the risk of scarring and infection. The advantages of a hair transplant are that it looks more natural and it’s permanent.</p>

                    <h4 class="post-category">Counseling</h4>
                    <p class="post-text">Going bald can be a big change. You may have trouble accepting your appearance. You should seek counseling if you experience anxiety, low self-esteem, depression, or other emotional problems because of male pattern baldness..</p>

                    
                    <h2 class="post-title">Can hair loss be prevented?</h2>
                    <p class="post-text">There’s no known way to prevent male pattern baldness. A theory is that stress may cause hair loss by increasing the production levels of sex hormones in the body. You can reduce stress by participating in relaxing activities, such as walking, listening to calming music, and enjoying more quiet time.</p>
                
                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
