<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">The Best Oils for Treating Dry Hair</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;The Best Oils for Treating Dry Hair</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog16.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">The Best Oils for Treating Dry Hair</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Dull, lifeless hair</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    
                 
                    <p class="post-text">Hair has three distinct layers. The outermost layer produces natural oils, which make hair look healthy and shiny, and protects it from breaking. This layer can break down as a result of swimming in chlorinated water, living in a dry climate, chemical straightening or perming, or using hot styling products. When the hair breaks down, it will feel dry and look dull.</p>
                    <p class="post-text">In most cases, dry hair can be addressed using home remedies. Treating the hair with oils may help hydrate the strands and the scalp. Keep in mind that since oil repels water it’s usually more effective to apply oils to dry hair.</p>

                    <p class="post-text">This article talks about the various types of oils that may help hydrate dry and dull hair, how to use them, and potential side effects.</p>

                    <h2 class="post-title">Coconut oil for dry hair</h2>
                    <p class="post-text">Coconut oil is rich in hydrating omega-3 fatty acids and vitamin E, which is known to add shine to hair and is essential for scalp health. Poor scalp health can result in dull hair.</p>

                    <h4 class="post-category">How to use it</h4>
                    <p class="post-text">If you have very coarse or curly hair, you may be able to use a small amount as a leave-in conditioner without the hair appearing greasy. Otherwise, warm the oil between your hands. The warmth will open the hair shaft, which will allow the allow to penetrate the strands rather than sitting on top.</p>
                    <p class="post-text">Leave it on for as long as you’d like ⁠— you can even leave it on overnight⁠ — and shampoo and condition as normal. It may take two rinses to thoroughly remove the oil.</p>

                    <h4 class="post-category">Potential side effects</h4>
                    <p class="post-text">Coconut oil allergies are rare, but don’t use coconut oil on your skin or hair if you’re allergic. Topical signs of a reaction include redness, hives, and a rash.</p>

                    
                    <h2 class="post-title">Olive oil for dry hair</h2>
                    <p class="post-text">Like coconut oil, olive oil also contains vitamin E and fatty acids. In addition, it has softening emollients like squalane and oleic acid, which make hair super soft. Most of the evidence is anecdotal, however some researchTrusted Source shows that olive oil can be quite moisturizing for hair.</p>

                    <h4 class="post-category">How to use it</h4>
                    <p class="post-text">You don’t need to use a lot of olive oil to condition hair, especially if your strands are fine or short. Depending on the length of your hair and if you want to saturate the ends or the scalp too, you’ll need about 1 or 2 tablespoons. For very long, thick hair, you’ll need as much as a 1/4 cup.</p>
                    <p class="post-text">Massage the oil onto dry hair; you can leave it covered in a warm towel or a shower cap for as long as 15 minutes. Then use a wide tooth comb to comb the oil through before thoroughly rinsing.</p>

                    <h4 class="post-category">Potential side effects</h4>
                    <p class="post-text">There are few health risks of using olive oil for dry hair, unless of course, you’re allergic to olives. If you don’t rinse thoroughly, it may leave hair greasy.</p>

                    <h2 class="post-title">Avocado oil</h2>
                    <p class="post-text">Avocado oil is high in fat, minerals, and antioxidants, all of which are essential for strong, healthy hair. Fatty acids can help repair dry or damaged hair by protecting the scalp from environmental damage. The fruit is also a natural source of biotin, which one 2012 studyTrusted Source suggests can strengthen hair, and healthy hair will look less dry.</p>

                    <h4 class="post-category">How to use it</h4>
                    <p class="post-text">You can use avocado in a hair mask and let it sit on your hair for as long as 3 hours, then rinse thoroughly. Or, you can use it as a hot oil treatment by gently heating avocado oil in a glass jar submerged in hot water, then applying into freshly washed hair. Leave it on for 20 minutes before rinsing.</p>
                    
                    <h4 class="post-category">Potential side effects</h4>
                    <p class="post-text">Avocado is generally considered safe, but if you haven’t eaten it before, you should consider doing a patch test by applying a small amount of oil to your forearm and waiting 24 hours to make sure you don’t have a reaction.</p>

                    <h2 class="post-title">Almond oil</h2>
                    <p class="post-text">Almond oil is filled with omega-9 fatty acids (which can add shine and potentially even stimulate new hair growth), vitamin E, and protein that can strengthen hair and prevent breakage. This nut-derived oil softens hair with its emollient qualities that protect and moisturize hair.</p>

                    <h4 class="post-category">How to use it</h4>
                    <p class="post-text">You can use mix almond oil with another oil like coconut to make a hair mask, or you can apply the oil (usually sweet almond oil is advised) directly to your hair, focusing especially on the ends.</p>
                    
                    <h4 class="post-category">Potential side effects</h4>
                    <p class="post-text">Anyone with a tree nut allergy should avoid almond oil as even topical use can trigger a serious reaction.</p>

                    <h2 class="post-title">Other carrier oils for dry hair</h2>

                    <p class="post-text">Carrier oils dilute and deliver the essential oils further into the hair shaft, where they have a chance to work more deeply. Here are some other carrier oils to try on hair:</p>
                    <ul class="post-list">
                        <li class="post-item">Argan oil is a very moisturizing oil because of its vitamin E content and fatty acids.</li>
                        <li class="post-item">Castor oil has antioxidant, antimicrobial, and anti-inflammatory properties that may help remove dandruff.</li>
                        <li class="post-item">Jojoba oil may be very moisturizing because it contains vitamins A, B, C, and E, and minerals like zinc and copper.</li>
                        <li class="post-item">Macadamia oil is also rich in fatty acids and vitamins, and can result in smooth, shiny hair. You should not use it if you’re allergic to nuts.</li>
                    </ul>

                    <h4 class="post-category">How to use them</h4>
                    <p class="post-text" style="padding-left: 30px;">1. Thoroughly mix 2 to 3 drops of essential oil to 1 tablespoon of carrier oil; 2 tablespoons should be about enough to cover your full head.</p>
                    <p class="post-text" style="padding-left: 30px;">2. Massage the mixture onto dry or damp hair</p>
                    <p class="post-text" style="padding-left: 30px;">3. Leave it on for at least 10 minutes then rinse.</p>
                    <p class="post-text">If you’re planning to use the oil on dry hair as a smoothing lotion and will not be rinsing it out, you won’t need more than a dime-size amount.</p>
                    
                    <h4 class="post-category">Potential side effects</h4>
                    <p class="post-text">As long as you’re not allergic to any ingredients in the carrier oil, there isn’t much risk associated with carrier oils. However using too much can make your hair appear oily.</p>

                    <h2 class="post-title">Essential oils for dry hair</h2>
                    <p class="post-text">Essential oils come from plants, and many of them may benefit hair and scalp health. Essential oils will often be diluted with carrier oils. Some potentially beneficial essential oils for dry hair include:</p>
                    <ul class="post-list">
                        <li class="post-item">tea tree</li>
                        <li class="post-item">lavender</li>
                        <li class="post-item">sandalwood</li>
                        <li class="post-item">rosemary</li>
                        <li class="post-item">thyme</li>
                        <li class="post-item">clary sage</li>
                        <li class="post-item">ginger</li>
                        <li class="post-item">eucalyptus</li>
                        <li class="post-item">ylang-ylang</li>
                        <li class="post-item">rose</li>
                        <li class="post-item">geranium</li>
                    </ul>

                    <h4 class="post-category">How to use essential oils in hair</h4>
                    <p class="post-text">You can add 5 drops of an essential oil, like tea tree, directly into your shampoo or conditioner. Most commonly, you can make a hair mask by mixing a few drops of your favorite essential oil with a carrier oil and applying it to your hair (especially the ends). Leave the mixture on for at least 15 minutes, then rinse thoroughly.</p>
                    <p class="post-text">Once mixed with a carrier oil, some essential oils, like rosemaryTrusted Source and peppermint, can be applied directly to the scalp.</p>

                    <h4 class="post-category">Potential side effects</h4>
                    <p class="post-text">Always do a small patch test before applying essential oils to your hair or skin. Essential oils need to be diluted with a carrier oil because they are concentrated and may cause a reaction. The following essential oils are most likely to cause an allergic reaction, according to a 2012 review of studies.</p>
                    <ul class="post-list">
                        <li class="post-item">ylang-ylang</li>
                        <li class="post-item">sandalwood</li>
                        <li class="post-item">lemongrass</li>
                        <li class="post-item">jasmine absolute</li>
                        <li class="post-item">clove</li>
                        <li class="post-item">lavender</li>
                        <li class="post-item">peppermint</li>
                    </ul>

                    <h2 class="post-title">Precautions when using oils in your hair</h2>
                    <p class="post-text">If you have very dry hair, you may be tempted to use a lot of oil, but make sure you aren’t using too much, which can weigh down hair and be tough to rinse out.</p>
                    <p class="post-text">When using an essential oil, but sure to dilute it with a carrier oil. Using an essential oil without a carrier could result in contact dermatitis or something more commonly known as a red itchy rash.</p>

                    <h2 class="post-title">Takeaway</h2>
                    <p class="post-text">Dry hair happens when the outermost layer of the strand breaks down. This can happen as a result of spending a lot of time in the sun or a dry climate, or heat and chemical styling.</p>
                    <p class="post-text">Using oils may restore moisture to the hair. These oils can be used as a hair mask, a leave-in conditioner, or even added directly to your shampoo. Always be sure to dilute an essential oil to avoid an allergic reaction.</p>
                  
                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
