<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Female Pattern Baldness (Androgenic Alopecia): What You Should Know (P1)</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;Female Pattern Baldness (Androgenic Alopecia): What You Should Know (P1)?</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog7.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">Female Pattern Baldness (Androgenic Alopecia): What You Should Know (P1)</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href=""> Hair loss</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <h2 class="post-title">What is female pattern baldness?</h2>
                    <p class="post-text">Female pattern baldness, also called androgenetic alopecia, is hair loss that affects women. It’s similar to male pattern baldness, except that women can lose their hair in a different pattern than men.</p>
                    <p class="post-text">Hair loss in women is normal, especially as you age. Up to two-thirds of women experience hair loss after menopause. Less than halfTrusted Source of women will make it past age 65 with a full head of hair.</p>
                    <p class="post-text">Female pattern baldness is hereditary. It’s more common after menopause, so hormones are likely responsible. If you notice that you’re losing hair, see your doctor or a dermatologist. They will be able to determine if you’re experiencing female pattern baldness or another type of hair loss.</p>
                    <p class="post-text">The sooner you get treated, the faster you’ll be able to stop the loss — and possibly even regrow hair.</p>

                    <h2 class="post-title">What does female pattern baldness look like?</h2>
                    <p class="post-text">In female pattern baldness, the hair’s growing phase slows down. It also takes longer for new hair to begin growing. Hair follicles shrink, leading the hair that does grow to be thinner and finer. This can result in hair that easily breaks.</p>
                    <p class="post-text">It’s normal for women to lose 50 to 100 hairs each day, but those with female pattern baldness can lose many more.</p>
                    <p class="post-text">In men, hair loss starts in the front of the head and recedes to the back until they go bald. Women lose hair from all over their head, starting at their part line. Hair at the temples may also recede.</p>
                    <p class="post-text">Woman are less likely to go completely bald, but you may have a lot of thinning throughout your hair.</p>

                    <p class="post-text">
                        Doctors divide female pattern baldness into three types:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">Type I is a small amount of thinning that starts around your part.</li>
                        <li class="post-item">Type II involves widening of the part, and increased thinning around it.</li>
                        <li class="post-item">Type III is thinning throughout, with a see-through area at the top of your scalp.</li>
                    </ul>

                    <h2 class="post-title">Can genetics cause female pattern baldness?</h2>
                    <p class="post-text">Hair loss is passed down from parents to their children, and many different genes are involved. You can inherit these genes from either parent. You’re more likely to have female pattern baldness if your mother, father, or other close relatives have experienced hair loss.</p>

                    <h2 class="post-title">What else causes female pattern baldness?</h2>
                    <p class="post-text">Female pattern baldness is generally caused by an underlying endocrine condition or a hormone secreting tumor.</p>
                    <p class="post-text">If you have other symptoms, such as an irregular period, severe acne, or an increase unwanted hair, consult your doctor. You may be experiencing a different type of hair loss.</p>

                    
                    <h2 class="post-title">Can women get female pattern baldness in their 20s?</h2>
                    <p class="post-text">Women are less likely to develop female pattern baldness before midlife. Like men, women are more likely to start losing hair once they get into their 40s, 50s, and beyond.</p>
                    <p class="post-text">High levels of male sex hormones, called androgens, contribute to hair loss in men. It’s generally felt that androgens are also at play in female pattern hair loss.</p>
                    <p class="post-text">Smoking may also increase your risk for developing female pattern hair loss.</p>

                    <h2 class="post-title">How is it diagnosed?</h2>
                    <p class="post-text">If you’ve noticed thinning hair on your scalp, see your doctor or a dermatologist. If you don’t already have a dermatologist, the Healthline FindCare tool can help you find a physician in your area. Your doctor will examine your scalp to see the pattern of hair loss. Testing generally isn’t needed to diagnose female pattern baldness.</p>
                    <p class="post-text">If they suspect another type of hair loss, they may also perform a blood test to check your levels of thyroid hormone, androgens, iron, or other substances that can affect hair growth.</p>

                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
