<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Everything You Need to Know About Hair Loss (P1)</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;Everything You Need to Know About Hair Loss (P1)</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog1.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">Everything You Need to Know About Hair Loss (P1)</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href=""> Hair loss</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <h2 class="post-title">What is hair loss?</h2>
                    <p class="post-text">The American Academy of Dermatology (AAD) notes that 80 million men and women in America have hereditary hair loss (alopecia).</p>
                    <p class="post-text">It can affect just the hair on your scalp or your entire body. Although alopecia is more prevalent in older adults, excessive hair loss can occur in children as well.</p>
                    <p class="post-text">It’s normal to lose between 50 and 100 hairs a day. With about 100,000 hairs on your head, that small loss isn’t noticeable.</p>
                    <p class="post-text">New hair normally replaces the lost hair, but this doesn’t always happen. Hair loss can develop gradually over years or happen abruptly. Hair loss can be permanent or temporary.</p>
                    <p class="post-text">It’s impossible to count the amount of hair lost on a given day. You may be losing more hair than is normal if you notice a large amount of hair in the drain after washing your hair or clumps of hair in your brush. You might also notice thinning patches of hair or baldness.</p>
                    <p class="post-text">If you notice that you’re losing more hair than usual, you should discuss the problem with your doctor. They can determine the underlying cause of your hair loss and suggest appropriate treatment plans.</p>

                    <h2 class="post-title">What causes hair loss?</h2>
                    <p class="post-text">
                        First, your doctor or dermatologist (a doctor who specializes in skin problems) will try to determine the underlying cause of your hair loss. The most common cause of hair loss is hereditary male- or female-pattern baldness.
                    </p>
                    <p class="post-text">
                        If you have a family history of baldness, you may have this type of hair loss. Certain sex hormones can trigger hereditary hair loss. It may begin as early as puberty.
                    </p>

                    <p class="post-text">
                        In some cases, hair loss may occur with a simple halt in the cycle of hair growth. Major illnesses, surgeries, or traumatic events can trigger hair loss. However, your hair will usually start growing back without treatment.
                    </p>

                    <p class="post-text">
                        Hormonal changes can cause temporary hair loss. Examples include:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">pregnancy</li>
                        <li class="post-item">childbirth</li>
                        <li class="post-item">discontinuing the use of birth control pills</li>
                        <li class="post-item">menopause</li>
                    </ul>

                    <p class="post-text">
                        Medical conditions that can cause hair loss include:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">thyroid disease</li>
                        <li class="post-item">alopecia areata (an autoimmune disease that attacks hair follicles)</li>
                        <li class="post-item">scalp infections like ringworm</li>
                    </ul>

                    <p class="post-text">Diseases that cause scarring, such as lichen planus and some types of lupus, can result in permanent hair loss because of the scarring.</p>

                    <p class="post-text">
                        Hair loss can also be due to medications used to treat:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">cancer</li>
                        <li class="post-item">high blood pressure</li>
                        <li class="post-item">arthritis</li>
                        <li class="post-item">depression</li>
                        <li class="post-item">heart problems</li>
                    </ul>

                    <p class="post-text">
                        A physical or emotional shock may trigger noticeable hair loss. Examples of this type of shock include:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">a death in the family</li>
                        <li class="post-item">extreme weight loss</li>
                        <li class="post-item">a high fever</li>
                    </ul>

                    <p class="post-text">People with trichotillomania (hair-pulling disorder) have a need to pull out their hair, usually from their head, eyebrows, or eyelashes.</p>
                    <p class="post-text">Traction hair loss can be due to hairstyles that put pressure on the follicles by pulling the hair back very tightly.</p>
                    <p class="post-text">A diet lacking in protein, iron, and other nutrients can also lead to thinning hair.</p>

                    <h2 class="post-title">How is hair loss diagnosed?</h2>
                    <p class="post-text">Persistent hair loss often indicates an underlying health issue.</p>
                    <p class="post-text">Your doctor or dermatologist can determine the cause of your hair loss based on a physical examination and your health history. In some cases, simple dietary changes can help. Your doctor may also change your prescription medications.</p>
                    <p class="post-text">If your dermatologist suspects an autoimmune or skin disease, they might take a biopsy of the skin on your scalp.</p>
                    <p class="post-text">This will involve carefully removing a small section of skin for laboratory testing. It’s important to keep in mind that hair growth is a complex process. It may take time to determine the exact cause of your hair loss.</p>
                    

                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
