<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Problem</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblems.css">
        <link rel="stylesheet" href="/css/hairProblemsResponsive.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Hair Problems</h1>
                <p class="breadcrumb-text"><a href="">Home</a>&nbsp; / &nbsp;Hair Problems</p>
            </div>
        </div>

        <div class="main-wrap">
            <div class="row">
                <div class="main-left col-lg-3 col-md-3 col-sm-12">
                    <div class="recent-articles">
                        <div class="main-left-heading">Recent Articles</div>
                        <ul class="recent-articles-list">
                            <li class="recent-articles-item">
                                <div class="recent-articles-item-img"><a href=""><img src="/images/blog11.jpg" alt="" width="100%" /></a></div>
                                <div class="recent-articles-item-info">
                                    <a href="">Make a bold look with your hair style!</a>
                                    <p>Jan 31 , 2018</p>
                                </div>
                            </li>
                            <li class="recent-articles-item">
                                <div class="recent-articles-item-img"><a href=""><img src="/images/blog11.jpg" alt="" width="100%" /></a></div>
                                <div class="recent-articles-item-info">
                                    <a href="">Make a bold look with your hair style!</a>
                                    <p>Jan 31 , 2018</p>
                                </div>
                            </li>
                            <li class="recent-articles-item">
                                <div class="recent-articles-item-img"><a href=""><img src="/images/blog11.jpg" alt="" width="100%" /></a></div>
                                <div class="recent-articles-item-info">
                                    <a href="">Make a bold look with your hair style!</a>
                                    <p>Jan 31 , 2018</p>
                                </div>
                            </li>
                            <li class="recent-articles-item">
                                <div class="recent-articles-item-img"><a href=""><img src="/images/blog11.jpg" alt="" width="100%" /></a></div>
                                <div class="recent-articles-item-info">
                                    <a href="">Make a bold look with your hair style!</a>
                                    <p>Jan 31 , 2018</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="category">
                        <div class="main-left-heading">Categories</div>
                        <ul class="categoty-list">
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="">Coloring</a>
                            </li>
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="">Coloring</a>
                            </li>
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="">Coloring</a>
                            </li>
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="">Coloring</a>
                            </li>
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="">Coloring</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="main-right col-lg-9 col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="post-info text-center">
                                <div class="post-info-img"><a href=""><img src="/images/blog11.jpg" alt="" width="100%"></a></div>
                                <div class="post-sub-title">
                                    <p class="post-date">31 / Jan</p>
                                    <p class="comments-count">4 Comments</p>
                                    <p class="author"><i class="fas fa-user"></i> Hair Care Admin</p>
                                </div>
                                <a href="" class="post-heading">Make a bold look with your hair style!</a>
                                <p class="post-des">Ruis curabitur ligula sapien, tincidun tre uiut, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate ar...</p>
                                <p class="post-type"><i class="fas fa-tags"></i><a href=""> Straight</a></p>
                                <div class="post-read-more">
                                    <a href="">Read More&nbsp;<i class="fas fa-angle-double-right read-more-icon"></i>
                                    <div class="post-read-more-before"></div>
                                    <div class="post-read-more-after"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="post-info text-center">
                                <div class="post-info-img"><a href=""><img src="/images/blog11.jpg" alt="" width="100%"></a></div>
                                <div class="post-sub-title">
                                    <p class="post-date">31 / Jan</p>
                                    <p class="comments-count">4 Comments</p>
                                    <p class="author"><i class="fas fa-user"></i> Hair Care Admin</p>
                                </div>
                                <a href="" class="post-heading">Make a bold look with your hair style!</a>
                                <p class="post-des">Ruis curabitur ligula sapien, tincidun tre uiut, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate ar...</p>
                                <p class="post-type"><i class="fas fa-tags"></i><a href=""> Straight</a></p>
                                <div class="post-read-more">
                                    <a href="">Read More&nbsp;<i class="fas fa-angle-double-right read-more-icon"></i>
                                    <div class="post-read-more-before"></div>
                                    <div class="post-read-more-after"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="post-info text-center">
                                <div class="post-info-img"><a href=""><img src="/images/blog11.jpg" alt="" width="100%"></a></div>
                                <div class="post-sub-title">
                                    <p class="post-date">31 / Jan</p>
                                    <p class="comments-count">4 Comments</p>
                                    <p class="author"><i class="fas fa-user"></i> Hair Care Admin</p>
                                </div>
                                <a href="" class="post-heading">Make a bold look with your hair style!</a>
                                <p class="post-des">Ruis curabitur ligula sapien, tincidun tre uiut, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate ar...</p>
                                <p class="post-type"><i class="fas fa-tags"></i><a href=""> Straight</a></p>
                                <div class="post-read-more">
                                    <a href="">Read More&nbsp;<i class="fas fa-angle-double-right read-more-icon"></i>
                                    <div class="post-read-more-before"></div>
                                    <div class="post-read-more-after"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="post-info text-center">
                                <div class="post-info-img"><a href=""><img src="/images/blog11.jpg" alt="" width="100%"></a></div>
                                <div class="post-sub-title">
                                    <p class="post-date">31 / Jan</p>
                                    <p class="comments-count">4 Comments</p>
                                    <p class="author"><i class="fas fa-user"></i> Hair Care Admin</p>
                                </div>
                                <a href="" class="post-heading">Make a bold look with your hair style!</a>
                                <p class="post-des">Ruis curabitur ligula sapien, tincidun tre uiut, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate ar...</p>
                                <p class="post-type"><i class="fas fa-tags"></i><a href=""> Straight</a></p>
                                <div class="post-read-more">
                                    <a href="">Read More&nbsp;<i class="fas fa-angle-double-right read-more-icon"></i>
                                    <div class="post-read-more-before"></div>
                                    <div class="post-read-more-after"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layouts/footer') %>

    </body>
</html>
