<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Dandruff: What Your Itchy Scalp Is Trying to Tell You</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;Dandruff: What Your Itchy Scalp Is Trying to Tell You</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog28.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">Dandruff: What Your Itchy Scalp Is Trying to Tell You</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Dandruff</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <h2 class="post-title">Overview</h2>
                    <p class="post-text">When it comes to dandruff, most people focus on the flakes.</p>
                    <p class="post-text">Itching, on the other hand, may be the most uncomfortable side effect. So what exactly is your scratchy scalp trying to tell you? Read up on the most common symptoms of dandruff and ways to get your scalp healthy again.</p>
                    
                    <h2 class="post-title">Symptoms and causes</h2>
                    <p class="post-text">Flakes and an itchy, scaly scalp are the main symptoms of dandruff. White, oily flakes typically accumulate in your hair and on your shoulders and often get worse during the fall and winter months, when the air is dry.</p>
                    <p class="post-text">Pinpointing the exact cause of your itchy, flaky scalp can be difficult, but here are a few common culprits:</p>
                    <ul class="post-list">
                        <li class="post-item">irritated and oily skin, a condition also known as seborrheic dermatitis (a more severe form of dandruff)</li>
                        <li class="post-item">not shampooing enough, which causes skin cells to accumulate and create flakes and itching</li>
                        <li class="post-item">yeast called malassezia, which aggravate your scalp and cause excess skin cell growth</li>
                        <li class="post-item">different personal care products may cause contact dermatitis, which makes your scalp red and itchy</li>
                    </ul>
                    <p class="post-text">Men develop dandruff more frequently than women. People who tend to have oilier hair or live with certain illnesses (such as Parkinson’s disease or HIV) are also at higher risk. You may have started to notice symptoms around puberty, but dandruff can develop at any age.</p>
                    <p class="post-text">So what’s your itchy scalp trying to tell you? Here are four common answers.</p>
               
                    <h2 class="post-title">1. Not all shampoos are the same</h2>
                    <p class="post-text">If your scalp is itchy, you may be able to get some relief by using over-the-counter (OTC) shampoos that are formulated to help with dandruff.</p>
                    <p class="post-text">Getting the right fit may take some trial and error, so if you haven’t had luck in the past, try again. Sometimes alternating two or more shampoo types can also help.</p>
                    <p class="post-text">Some products you may see on the shelves include:</p>
                    <ul class="post-list">
                        <li class="post-item">Head & Shoulders and Jason Dandruff Relief contain zinc pyrithione, which is antibacterial and antifungal. Dandruff is not caused by fungus, but it still helps by slowing the production of excess skin cells.</li>
                        <li class="post-item">Neutrogena T/Gel is a tar-based shampoo. Coal can ease conditions from dandruff to psoriasis by slowing how quickly your scalp’s skin cells die and flake off. This type of shampoo can discolor hair, so be careful if you’re blonde or gray.</li>
                        <li class="post-item">Neutrogena T/Sal has a dose of salicylic acid and may lessen the amount of scale you have. They can leave your scalp dry, however. If you find that your scalp is particularly dry, make sure you follow up with a moisturizing conditioner.</li>
                        <li class="post-item">Selsun Blue has the power of selenium sulfide. It can slow your skin cells from dying and also reduce malassezia. This type of shampoo may also discolor lighter shades of hair.</li>
                        <li class="post-item">Nizoral is a ketoconazole shampoo, meaning it contains a broad-spectrum antifungal. You can find this type of wash OTC or by prescription.</li>
                    </ul>
                    <p class="post-text">If you don’t know which to choose, ask your doctor for a suggestion. To get dandruff under control, you may need to use special shampoo when you do shampoo (optimal frequency varies based on hair type).</p>
                    <p class="post-text">Once things are under control, you may only need to use the shampoo occasionally to maintain good effect.</p>
                  
                    <h2 class="post-title">2. Moisturize</h2>
                    <p class="post-text">A dry scalp tends to flake and itch, but usually the flakes you’ll experience with dry skin are smaller and less oily. Restoring moisture to the scalp can help with itchiness.</p>
                    <p class="post-text">The best moisturizer might already be sitting on your kitchen shelf. Coconut oil has moisturizing 

                    <h2 class="post-title">3. Practice good hygiene and stop scratching!</h2>
                    <p class="post-text">Shampooing often enough can keep oils at bay, helping with dandruff symptoms. While you are at it, try to resist the urge to scratch your scalp. The itchiness is initially caused by irritation from dandruff, but scratching will increase irritation and lead to a vicious cycle.</p>
                    <p class="post-text">Using too many products in your hair can irritate the scalp and lead to more itchiness. Try eliminating anything extra from your personal care routine and adding back in slowly to discover which gels, sprays, and other products don’t make your symptoms worse.</p>

                    <h2 class="post-title">4. You need to relax</h2>
                    <p class="post-text">Stress can aggravate or even worsen dandruff for some individuals. While malassezia is not introduced to your scalp by stress, it can thrive if your immune system is compromised, which is exactly what stress does to your body.</p>
                    <p class="post-text">Do your scalp a favor and relax. Try taking a restorative walk or practicing yoga. You may even find it helpful to keep a log of stressful events. Write down what they are and how they impact your dandruff. That way, you can do your best to avoid potential triggers in the future.</p>

                    <h2 class="post-title">When to see your doctor</h2>
                    <p class="post-text">The good news is that many cases of dandruff can be treated effectively with over-the-counter shampoos and other lifestyle measures.</p>
                    <p class="post-text">That being said, dandruff isn’t the only reason you may have an itchy scalp. If your dandruff is particularly stubborn or itchy, you may have psoriasis, eczema, or a true fungal infection. Your doctor can help.</p>
                    <p class="post-text">If your itch isn’t letting up or your scalp becomes red or swollen, make an appointment with your doctor. Check in as well if shampoos don’t help, redness and flaking spreads to your face or other areas on the body, you see lice or nits in your hair, or the itching starts to interfere with your everyday life.</p>
                    
                    
                    <h2 class="post-title">Outlook</h2>
                    <p class="post-text">While dandruff can be annoying and embarrassing at times, it usually doesn’t indicate a more serious health issue. The itching and flaking often respond well to OTC shampoos and treatments. Keep trying different brands and types until you find something that works for you.</p>


                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
