<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Everything You Need to Know About Hair Loss (P2)</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;Everything You Need to Know About Hair Loss (P2)</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog2.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">Everything You Need to Know About Hair Loss (P2)</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href=""> Hair loss</a></p>
                <div class="post-line"></div>
                <div class="post-content">

                    <h2 class="post-title">What are the treatment options for hair loss?</h2>

                    <h4 class="post-categoty">Medication</h4>
                    <p class="post-text">Medications will likely be the first course of treatment for hair loss. Over-the-counter (OTC) medications generally consist of topical creams and gels that you apply directly to the scalp. The most common products contain an ingredient called minoxidil (Rogaine).</p>
                    <p class="post-text">According to the AAD, your doctor may recommend minoxidil in conjunction with other hair loss treatments. Side effects of minoxidil include scalp irritation and hair growth in adjacent areas, such as your forehead or face.</p>
                    <p class="post-text">Prescription medications may also treat hair loss. Doctors prescribe the oral medication finasteride (Propecia) for male-pattern baldness. You take this medication daily to slow hair loss. Some men experience new hair growth when taking finasteride.</p>
                    <p class="post-text">Rare side effects of finasteride include diminished sex drive and impaired sexual function. There may be a link between the use of finasteride and a more serious type (high-grade) of prostate cancer, according to the Mayo Clinic.</p>
                    <p class="post-text">Doctor also prescribe corticosteroids like prednisone. Individuals with alopecia areata can use this to reduce inflammation and suppress the immune system. Corticosteroids mimic the hormones made by your adrenal glands.</p>
                    <p class="post-text">A high amount of corticosteroid in the body reduces inflammation and suppresses the immune system.</p>

                    <p class="post-text">
                        You should monitor side effects from these medications carefully. Possible side effects include:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">glaucoma, a collection of eye diseases that can result in optic nerve damage and vision loss</li>
                        <li class="post-item">fluid retention and swelling in the lower legs</li>
                        <li class="post-item">higher blood pressure</li>
                        <li class="post-item">cataracts</li>
                        <li class="post-item">high blood sugar</li>
                    </ul>

                    <p class="post-text">
                        There is evidence that corticosteroid use may also put you at higher risk for the following conditions:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">infections</li>
                        <li class="post-item">calcium loss from bones, which may lead to osteoporosis</li>
                        <li class="post-item">thin skin and easy bruising</li>
                        <li class="post-item">sore throat</li>
                        <li class="post-item">hoarseness</li>
                    </ul>

                    <h4 class="post-categoty">Medication Procedures</h4>
                    <p class="post-text">Sometimes, medications aren’t enough to stop hair loss. There are surgical procedures to treat baldness.</p>
                    <p class="post-text"><b>Hair Transplant Surgery</b>.</p>
                    <p class="post-text">Hair transplant surgery involves moving small plugs of skin, each with a few hairs, to bald parts of your scalp.</p>
                    <p class="post-text">This works well for people with inherited baldness since they typically lose hair on the top of the head. Because this type of hair loss is progressive, you would need multiple surgeries over time.</p>
                    <p class="post-text"><b>Scalp Reduction</b>.</p>
                    <p class="post-text">In a scalp reduction, a surgeon removes part of your scalp that lacks hair. The surgeon then closes the area with a piece of your scalp that has hair. Another option is a flap, in which your surgeon folds scalp that has hair over a bald patch. This is a type of scalp reduction.</p>
                    <p class="post-text">Tissue expansion can also cover bald spots. It requires two surgeries. In the first surgery, a surgeon places a tissue expander under a part of your scalp that has hair and is next to the bald spot. After several weeks, the expander stretches out the part of your scalp that has hair.</p>
                    <p class="post-text">In the second surgery, your surgeon removes the expander and pulls the expanded area of scalp with hair over the bald spot.</p>

                    <p class="post-text">
                        These surgical remedies for baldness tend to be expensive, and they carry risks. These include:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">patchy hair growth</li>
                        <li class="post-item">bleeding</li>
                        <li class="post-item">wide scars</li>
                        <li class="post-item">infection</li>
                    </ul>
                    
                    <p class="post-text">Your graft might also not take, meaning that you would need to repeat the surgery.</p>

                    <h2 class="post-title">How can I prevent hair loss?</h2>
                    <p class="post-text">
                        There are things you can do to prevent further hair loss. Don’t wear tight hairstyles like braids, ponytails, or buns that put too much pressure on your hair. Over time, those styles permanently damage your hair follicles.
                    </p>
                    <p class="post-text">
                        Try not to pull, twist, or rub your hair. Make sure you’re eating a balanced diet that includes adequate amounts of iron and protein.
                    </p>
                    <p class="post-text">Certain beauty regimens can worsen or cause hair loss.</p>
                    <p class="post-text">If you’re currently losing hair, use a gentle baby shampoo to wash your hair. Unless you have extremely oily hair, consider washing your hair only every other day. Always pat the hair dry and avoid rubbing your hair.</p>

                    <p class="post-text">
                        Styling products and tools are also common culprits in hair loss. Examples of products or tools that can affect hair loss include:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">blow dryers</li>
                        <li class="post-item">heated combs</li>
                        <li class="post-item">hair straighteners</li>
                        <li class="post-item">coloring products</li>
                        <li class="post-item">bleaching agents</li>
                        <li class="post-item">perms</li>
                        <li class="post-item">relaxers</li>
                    </ul>

                    <p class="post-text">If you decide to style your hair with heated tools, only do so when your hair is dry. Also, use the lowest settings possible.</p>

                    
                    <h2 class="post-title">What is the long-term outlook?</h2>
                    <p class="post-text">
                        You can stop or even reverse hair loss with aggressive treatment, especially if it’s due to an underlying medical condition. Hereditary hair loss may be more difficult to treat. However, certain procedures such as hair transplants can help reduce the appearance of baldness.
                    </p>
                    <p class="post-text">Talk to your doctor to explore all your options to lessen the effects of hair loss.</p>
                    

                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
