<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">9 Tricks for Healthier, Fuller-Looking Hair</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;9 Tricks for Healthier, Fuller-Looking Hair</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog9.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">9 Tricks for Healthier, Fuller-Looking Hair</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Dull, lifeless hair, Split ends</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <h2 class="post-title">Hair it is</h2>
                    <p class="post-text">While genetics play a key role, your diet, the weather, pollution, and your overall approach to hair care are all critical to maintaining your crowning glory. Find out how a healthy diet and proper care can keep your mane a head above the rest.</p>

                    <h2 class="post-title">1. Pump up the protein</h2>
                    <p class="post-text">
                        A well-rounded diet is an important factor in hair and scalp health. Hair is primarily made up of protein, so be sure to eat at least 45 grams of protein daily. Good sources include:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">lean meat</li>
                        <li class="post-item">poultry</li>
                        <li class="post-item">fish</li>
                        <li class="post-item">beans</li>
                        <li class="post-item">low-fat dairy products</li>
                        <li class="post-item">eggs</li>
                    </ul>

                    <p class="post-text">Diets with inadequate protein can result in weak, brittle hair and loss of hair color, as well as loss of hair itself.</p>

                    <h2 class="post-title">2. Zinc about it</h2>
                    <p class="post-text">
                        Zinc deficiency can cause hair to shed. Incorporate nuts like Brazil nuts, walnuts, pecans, cashews, and almonds into your diet to combat shedding.
                    </p>
                    <p class="post-text">Eat and drink an abundance of:</p>
                    <ul class="post-list">
                        <li class="post-item">vegetables</li>
                        <li class="post-item">fruits</li>
                        <li class="post-item">leafy green salads</li>
                        <li class="post-item">plenty of clean, filtered water</li>
                        <li class="post-item">low-fat dairy products</li>
                        <li class="post-item">eggs</li>
                    </ul>

                    <p class="post-text">A multivitamin or zinc supplements can enhance your diet when necessary.</p>

                    <h2 class="post-title">3. Omega your hair nice</h2>
                    <p class="post-text">
                        Increasing your intake of omega-3 fatty acids may stimulate your hair follicles and sebaceous glands. While this won’t cause your hair to grow, it may improve scalp health.
                    </p>
                    <p class="post-text">Omega-3 fatty acids are found in cold-water fish, such as salmon, sardines, and herring. Other good sources include:</p>
                    <ul class="post-list">
                        <li class="post-item">flax seed</li>
                        <li class="post-item">yogurt</li>
                        <li class="post-item">cottage cheese</li>
                        <li class="post-item">salad</li>
                        <li class="post-item">cereal</li>
                    </ul>

                    <p class="post-text">A multivitamin or zinc supplements can enhance your diet when necessary.</p>

                    <h2 class="post-title">4. Know thy hair</h2>
                    <p class="post-text">
                        There are conflicting opinions about how often to shampoo your hair. It all comes down to personal preference and individual needs, which depend on:
                    </p>
                 
                    <ul class="post-list">
                        <li class="post-item">your hair type and texture</li>
                        <li class="post-item">how often you use hair products</li>
                        <li class="post-item">your activity level</li>
                    </ul>

                    <p class="post-text">For example, people with oily hair may need to shampoo every day, while people with dry hair may need to shampoo less frequently.</p>

                    <h2 class="post-title">5. Choose the right shampoo</h2>
                    <p class="post-text">Using the wrong shampoo and styling agent can cause significant hair damage. Look for products that are right for your hair type — oily, normal, or dry — and target any problems you have, such as dandruff.</p>
                    <p class="post-text">Try to avoid shampoos with harsh ingredients, such as ammonium lauryl sulfate or sodium lauryl sulfate. And remember, cost doesn’t necessarily indicate the quality of a product.</p>

                    <h2 class="post-title">6. Get condition-specific</h2>
                    <p class="post-text">Conditioning after shampooing is an important step in keeping your hair soft, shiny, and manageable. You can choose a separate conditioner or a shampoo with built-in conditioner.</p>
                    <p class="post-text">Comb conditioner through for even distribution. Leave it in your hair for two to three minutes before rinsing out.</p>
                    <p class="post-text">Just like hair washing, not everyone needs to condition every time they wash their hair. Experiment to find what works best for you.</p>

                    
                    <h2 class="post-title">7. Wash up and brush up</h2>
                    <p class="post-text">
                        Experts suggest that many people over-shampoo or shampoo incorrectly. The standard rules of thumb are:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">Don’t wash your hair more than once a day.</li>
                        <li class="post-item">Use only enough of the product to cover your hair.</li>
                        <li class="post-item">Avoid using very hot or very cold water.</li>
                    </ul>

                    <p class="post-text">Treat hair gently when it’s wet — it’s three times more vulnerable to breakage. Don’t rub wet hair excessively with a towel. Use a wide-tooth comb to detangle, but don’t comb too much or brush wet hair.</p>
                    
                    <h2 class="post-title">8. Hair maintenance tips</h2>
                    <p class="post-text">
                        Keep these tips in mind for healthy locks:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">Start off on the lowest heat setting while blow drying and gradually increase heat as needed.</li>
                        <li class="post-item">Allow your hair to air dry whenever possible.</li>
                        <li class="post-item">Change up where you place pins and clips so that breakage isn’t localized.</li>
                        <li class="post-item">If you dye your hair, choose a shade that’s within three shades of your natural color.</li>
                        <li class="post-item">Massage your scalp often to promote hair growth and increase blood circulation.</li>
                        <li class="post-item">Get your hair cut regularly — every 10 to 12 weeks — to keep hair healthy and prevent split ends.</li>
                    </ul>

                    <h2 class="post-title">9. Cut it out</h2>
                    <p class="post-text">
                        Harsh shampoo, hair treatments, styling products, and excessive brushing contribute the most to poor hair health. However, other culprits include:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">overconsumption of alcohol</li>
                        <li class="post-item">low-calorie and crash diets</li>
                        <li class="post-item">decreased thyroid hormone</li>
                        <li class="post-item">excessive stress</li>
                        <li class="post-item">blood thinners</li>
                        <li class="post-item">some prescription drugs for heart problems, depression, high blood pressure, and arthritis</li>
                    </ul>

                   

               


                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
