<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">10 Ways to Tame and Get Rid of Frizzy Hair for Good</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;10 Ways to Tame and Get Rid of Frizzy Hair for Good</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog22.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">10 Ways to Tame and Get Rid of Frizzy Hair for Good</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Frizzy hair</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <p class="post-text">Almost all of us battle frizz (95% of GH’s tester panel!). But even when you use anti-frizz products, sometimes nothing seems to work on those scorching-hot summer days. One possible reason for a product fail? Waiting too long to apply it post-shower, which allows fuzz to start forming, especially in a steamy bathroom.</p>
                    <p class="post-text">Another factor: Just as plant roots travel toward the nearest source of water in the soil, your hair reaches for the nearest source moisture in the air. The effect is a head full of frizz that can ruin even the best beauty look. While you can't zap the moisture out of the air on a humid summer's day, you can apply enough moisture to your hair so it doesn't have to search for it elsewhere.</p>
                    <p class="post-text">Stephen Thevenot, a New York-based hairstylist at Eva Scrivo Salon shared his top frizz fighting tips:</p>

                    <h2 class="post-title">1. Start with a good haircut</h2>
                    <p class="post-text">Get rid of dry, dead ends. Split ends can travel up the strand causing more damage and frizz, so it's best to get a haircut when you start to notice fraying. If you live in a region with high humidity, Thevenot recommends a haircut with blunt lines. "This helps keep weight in the haircut, which also helps keep the hair down," he says.</p>

                    <h2 class="post-title">2. Turn down the temp</h2>
                    <p class="post-text">While a hot shower may feel good on your muscles, it doesn't do much good for your hair. "The temperature of the water can cause the cuticle to raise" says Thevenot, "and when the cuticles are raised, hair needs more moisture." That doesn't necessarily mean you should suffer through a shivering shower: Just turn the knob down a notch or two so your shower is warm, but not steaming.</p>

                    <h2 class="post-title">3. Wash wisely</h2>
                    <p class="post-text">"Products with high alcohol content tend to dehydrate the hair causing the hair to search for moisture," says Thevenot. To reduce frizz, use shampoos with hydrating ingredients like glycerin, which is a great humectant, meaning it absorbs the extra moisture in the air to create a protective coating over the strands.</p>

                    <h2 class="post-title">4. Condition, condition, condition</h2>
                    <p class="post-text">You may think you need to shampoo your hair every time you shower, but that just isn't the case. Even the best frizz fighting shampoos can still strip away your hair's natural oils and moisturizers. Instead, alternate between using shampoo and conditioner one day and just conditioner the next to lock in your natural moisture. Also, be sure to only condition from the nape of the neck toward the ends of your strands to avoid a greasy scalp.</p>

                    <h2 class="post-title">5. Mask the frizz</h2>
                    <p class="post-text">A serious case of hair frizzies requires a seriously strong solution. Once a week work a moisturizing hair mask through your mane. Ingredients like coconut oil, argan oil, and just about any other oil (not mechanical oil) can do wonders to your hair, which is why we love Neutrogena's Triple Moisture Deep Recovery Hair Mask ($13). It's formulated with olive and meadowfoam seed to penetrate the hair and bring moisture straight into the center of the shaft, and sweet almond to lock it in.</p>

                    <h2 class="post-title">6. Reduce friction</h2>
                    <p class="post-text">Rubbing a towel aggressively against your hair disrupts the cuticle. Instead, Thevenot recommends drying your hair in a towel turban to prevent friction frizz. You can also reduce friction by swapping out your cotton pillowcase for a silk pillowcase. The slippery fabric allows hair cuticles to glide across the pillowcase rather than get snagged by it.</p>
                    <p class="post-text">If you shower at night or just want to preserve a perfect blowout for second day hair, try pulling your hair back into loose buns. This helps keep your hair from moving around while you toss and turn and it prevents morning tangles. When it comes time to brush your hair, ditch your normal brush and opt for a wide toothed comb instead. Less bristles mean less friction on your hair and less breakage from forcing thick tangles through rows of bristles.</p>

                    <h2 class="post-title">7. Apply stylers strategically</h2>
                    <p class="post-text">The best way to keep your hair frizz-free is to lock in moisture right after you shower by combing a leave-in treatment through your hair. Look for products containing oils and silicons, which build a barrier on the hair, helping to keep the moisture in the air from getting under the cuticle. For hair curly hair that shines, try Biosilk's Silk Therapy with Organic Coconut Oil Leave-In Treatment ($19), which not only prevents frizz, but coconut oil also helps protect against breakage.</p>

                    <h2 class="post-title">8. Shield strands from heat</h2>
                    <p class="post-text">Thevenot recommends minimizing your use of hot tools on your hair, but on days when you just can't put the curling iron down, he advises you use a heat protectant to reduce damage to your hair. "Most working sprays have heat protectants built in as well as anti-humectants," says Thevenot. See some of our favorites below.</p>

                    <h2 class="post-title">9. Diffuse your curls</h2>
                    <p class="post-text">If you have curly or wavy hair, blow dryers are probably your worst enemy, but with a little modification they can be your best frizz fighting friend. Just attach a diffuser to the front and scrunch your hair from tip to root as you wait for each section to dry. Normal hair dryers toss hair around, causing friction and frizz, a diffuser helps you dry your hair without all that movement so your curls can bounce, not fray.</p>

                    <h2 class="post-title">10. Brush down frizz</h2>
                    <p class="post-text">Once your hair is dry and styled, you may still have a few flyaways. To set them into place, spray a clean mascara wand or toothbrush with alcohol-free hairspray before combing them through your hair. The close bristles make these tools perfect locking each hair into place for a sleek bun or a high-pony that pulls your hair out of your face and lasts all day.</p>

                    
                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
