<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hair Problem</title>
    <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/css/hairProblems.css">
        <link rel="stylesheet" href="/css/hairProblemsResponsive.css">

<body>
    <%- include('../layouts/header') %>

        <div class="main-content">
            <div class="breadcrumb d-flex justify-content-center align-items-center"
                style="background-image: url(https://res.cloudinary.com/lenn/image/upload/v1630582851/hairCare/breadcrumb_bg_img_dbicnq.jpg)">
                <h1 class="breadcrumb-text">Hair Problems</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;Hair Problems</p>
            </div>
        </div>

        <div class="main-wrap">
            <div class="row">
                <div class="main-left col-lg-3 col-md-5 col-sm-12">
                    <div class="recent-articles">
                        <div class="main-left-heading">Recent Articles</div>
                        <ul class="recent-articles-list">

                        </ul>
                    </div>

                    <div class="category">
                        <div class="main-left-heading">Categories</div>
                        <ul class="categoty-list">
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="/hair-problems?type=Hair growth">Hair growth</a>
                            </li>
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="/hair-problems?type=Frizzy hair">Frizzy hair</a>
                            </li>
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="/hair-problems?type=Hair loss">Hair loss</a>
                            </li>
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="/hair-problems?type=Split ends">Split ends</a>
                            </li>
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="/hair-problems?type=Dandruff">Dandruff</a>
                            </li>
                            <li class="category-item">
                                <i class="fas fa-circle"></i>
                                <a href="/hair-problems?type=Dull lifeless hair">Dull lifeless hair</a>
                            </li>
                        </ul>
                    </div>

                    <div class="related-stories">
                        <div class="main-left-heading">Related Stories</div>

                        <div class="owl-carousel owl-theme related-stories-list">

                        </div>
                        
                    </div>
                </div>

                <div class="main-right col-lg-9 col-md-7 col-sm-12">
                    <div class="post-list row">

                    </div>

                    <div class="list-page w-100 mt-4">
                        <button class="page-item page-prev active">
                            <i class="fal fa-angle-left"></i>
                        </button>
                        <div class="list-page-number">

                        </div>
                        <button class="page-item page-next">
                            <i class="fal fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="type" data-type="<%= type %>"></div>
        <%- include('../layouts/footer') %>

            <script src="/js/owl.carousel.min.js"></script>

            <script>

                var recentArticles = $('.recent-articles-list');
                var relatedStories = $('.related-stories-list');
                var postList = $('.post-list')
                var type = $('.type').data('type');
                var listPageNumber = $('.list-page-number')

                var pagePrev = $('.page-prev')
                var pageNext = $('.page-next')
                var currentPage = 1

                recentArticles.html('');
                relatedStories.html('');
                postList.html('');
                listPageNumber.html('');

                //Render recent articles
                $.ajax({
                    url: '/hair-problems/post-list-sortbydate',
                    method: 'GET',
                    success: function (rs) {
                        let count = 0
                        for (let i = 0; i < 4; i++) {
                            if (rs[i]) {
                                recentArticles.append(`
                                <li class="recent-articles-item">
                                    <div class="recent-articles-item-img">
                                        <a href="/hair-problems/${rs[i].slug}">
                                            <img src="${rs[i].image}" class="d-block" width="100%" />
                                        </a>
                                    </div>
                                    <div class="recent-articles-item-info">
                                        <a href="/hair-problems/${rs[i].slug}">${rs[i].title}</a>
                                        <p>${moment(rs[i].date).format('ll')}</p>
                                    </div>
                                </li>
                            `)
                            }
                        }
                    }

                })

                //Render related stories
                $.ajax({
                    url: '/hair-problems/post-list-sortbydate',
                    method: 'GET',
                    success: function (rs) {
                        var randomIndex = [];
                        while (randomIndex.length < 6) {
                            let random = Math.floor(Math.random() * rs.length);
                            if (!randomIndex.includes(random)) randomIndex.push(random)
                        }
                        for (let i = 0; i < 6; i++) {
                            relatedStories.append(`
                            <div class="related-stories-item">
                                <a href="/hair-problems/${rs[randomIndex[i]].slug}" class="related-stories-img"><img src="${rs[randomIndex[i]].image}" alt=""></a>
                                <a href="/hair-problems/${rs[randomIndex[i]].slug}" class="owl-carousel-link">${rs[randomIndex[i]].title}</a>
                                <div class="line-img"></div>
                                <p class="related-stories-date">${moment(rs[randomIndex[i]].date).format('ll')}</p>
                                <div class="line-link"></div>
                            </div>
                        `)

                        }
                        $('.owl-carousel').owlCarousel({
                            loop: true,
                            margin: 10,
                            nav: true,
                            autoplay: true,
                            autoplayTimeout: 4000,
                            autoplayHoverPause: true,
                            navText: ['<div class="carousel-nav-text"><i class="fal fa-chevron-left"></i></div>', '<div class="carousel-nav-text"><i class="fal fa-chevron-right"></i></div>'],
                            responsive: {
                                0: {
                                    items: 1
                                }
                            }
                        })
                    }
                })

                // FC renderPostList
                function renderPostList(rs) {
                    var postListHtml = ''
                    for (let i = 0; i < rs.posts.length; i++) {


                        var listType = ''
                        rs.posts[i].type.forEach(element => {
                            listType += `<a href="/hair-problems?type=${element}"> ${element}&nbsp;&nbsp;&nbsp;</a>`
                        });
                        postListHtml += (`
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="post-info text-center">
                            <div class="post-info-img"><a href="/hair-problems/${rs.posts[i].slug}">
                                <img src="${rs.posts[i].image}" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-sub-title">
                                <p class="post-date">${moment(rs.posts[i].date).format('ll')}</p>
                                <p class="comments-count">${rs.posts[i].totalCount} Comments</p>
                                <p class="author"><i class="fas fa-user"></i> Hair Care Admin</p>
                            </div>
                            <a href="/hair-problems/${rs.posts[i].slug}" class="post-heading">${rs.posts[i].title}</a>
                            <p class="post-des">${rs.posts[i].description}</p>
                            <p class="post-type"><i class="fas fa-tags"></i>
                                ${listType}
                            </p>
                            <div class="post-read-more">
                                <a href="/hair-problems/${rs.posts[i].slug}">Read More&nbsp;<i class="fas fa-angle-double-right read-more-icon"></i>
                                    <div class="post-read-more-before"></div>
                                    <div class="post-read-more-after"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                `)
                    }
                    return postListHtml
                }

                //Render post list
                $.ajax({
                    url: '/hair-problems/post-list',
                    method: 'GET',
                    data: {
                        type: type,
                    },
                    success: function (rs) {
                        console.log(rs);
                        postList.html(renderPostList(rs))
                        var totalPage = Math.ceil(rs.totalCount / 6);
                        for (let i = 0; i < totalPage; i++) {
                            listPageNumber.append(`
                            <button class="page-item page-number" data-current="${i + 1}">
                                ${i + 1}
                            </button>
                        `)
                        }
                        var pageNumber = $('.page-number');
                        $(pageNumber[0]).addClass('active');

                        pageNumber.each(function (index) {
                            $(this).click(function () {
                                $('.page-number.active').removeClass('active');
                                $(this).addClass('active');
                                currentPage = index + 1;
                                if (currentPage == 1) {
                                    pagePrev.addClass('active')
                                }
                                else pagePrev.removeClass('active');

                                if (currentPage == totalPage) {
                                    pageNext.addClass('active')
                                } else pageNext.removeClass('active');

                                $.ajax({
                                    url: '/hair-problems/post-list',
                                    method: 'GET',
                                    data: {
                                        type: type,
                                        page: currentPage,
                                    },
                                    success: function (rs) {

                                        postList.html(renderPostList(rs))

                                    }
                                })
                            })

                        })


                        pagePrev.click(function () {
                            currentPage = parseInt($('.page-number.active').data('current')) - 1;
                            if (currentPage <= 1) {
                                pagePrev.addClass('active')
                            }
                            else pagePrev.removeClass('active');
                            if (currentPage == totalPage) {
                                pageNext.addClass('active')
                            } else pageNext.removeClass('active');
                            if (currentPage >= 1) {
                                $('.page-number.active').removeClass('active');
                                $(pageNumber[currentPage - 1]).addClass('active')
                                $.ajax({
                                    url: '/hair-problems/post-list',
                                    method: 'GET',
                                    data: {
                                        type: type,
                                        page: currentPage,
                                    },
                                    success: function (rs) {
                                        postList.html(renderPostList(rs))
                                    }
                                })
                            }
                        })

                        pageNext.click(function () {
                            currentPage = parseInt($('.page-number.active').data('current')) + 1;
                            if (currentPage == 1) {
                                pagePrev.addClass('active')
                            }
                            else pagePrev.removeClass('active');
                            if (currentPage >= totalPage) {
                                pageNext.addClass('active')
                            } else pageNext.removeClass('active');
                            if (currentPage <= totalPage) {
                                $('.page-number.active').removeClass('active');
                                $(pageNumber[currentPage - 1]).addClass('active')
                                $.ajax({
                                    url: '/hair-problems/post-list',
                                    method: 'GET',
                                    data: {
                                        type: type,
                                        page: currentPage,
                                    },
                                    success: function (rs) {
                                        postList.html(renderPostList(rs))
                                    }
                                })
                            }
                        })
                    }
                })
            </script>

</body>

</html>