<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">19 Herbal Remedies for Hair Growth (P1)</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;19 Herbal Remedies for Hair Growth (P1)</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog3.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">19 Herbal Remedies for Hair Growth (P1)</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href=""> Hair growth</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <h2 class="post-title">Does it really work?</h2>
                    <p class="post-text">Hair loss is a common concern for many men and women. There are many reasons your hair may fall out, from genetics and vitamin deficiencies, to hormone changes. Some medical conditions, such as thyroid disease, may also cause hair to thin or fall out.</p>
                    <p class="post-text">There’s no magic bullet for growing hair, but research has shown some herbs may slow hair loss or help promote new growth. It’s important to note however, that much of the research has been done on animals. Additional studies are needed to prove their effectiveness on humans.</p>
                    <p class="post-text">Keep reading to learn how herbal remedies may be used to help improve your hair growth. Be sure to talk to your doctor before adding herbs to your daily routine, especially if your hair loss is caused by a medical condition.</p>


                    <h2 class="post-title">Herbal hair oils</h2>
                    <p class="post-text">
                        Hair oils, also called hair tonics, are herbal extracts mixed in a carrier oil base. Some hair oils include multiple herbs and carrier oils.
                    </p>
                    <p class="post-text">
                        Popular carrier oils used to make herbal oils are:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">coconut oil</li>
                        <li class="post-item">sweet almond oil</li>
                        <li class="post-item">walnut oil</li>
                        <li class="post-item">olive oil</li>
                        <li class="post-item">mineral oil</li>
                        <li class="post-item">jojoba oil</li>
                        <li class="post-item">wheat germ oil</li>
                    </ul>

                    <p class="post-text">
                        Some herbs used in herbal hair oils are:
                    </p>
                    <ul class="post-list">
                        <li class="post-item"><b>Chinese hibiscus (Hibiscus rosa sinensis):</b> Chinese hibiscus is an evergreen shrub. Its edible, vibrant flowers are often used to make herbal tea. Hibiscus is thought to help stimulate hair follicles, increase follicle size, and increase hair growth.</li>
                        <li class="post-item"><b>Brahmi (Bacopa monnieri):</b> Brahmi, also called bacopa, is a creeping herb used in Ayurveda medicine. It contains alkaloids thought to activate proteins responsible for hair growth.</li>
                        <li class="post-item"><b>Coat buttons (Tridax procumbent):</b> Coat buttons is a creeping Ayurvedic herb and member of the daisy family. It contains antioxidants and promotes hair growth on its own and in synergy with other herbs.</li>
                        <li class="post-item"><b>Jatamansi (Nardostachys jatamansi):</b> Jatamansi is a small shrub whose rhizomes may speed hair growth. It’s been shown to increase hair growth in alopecia caused by chemotherapy.</li>
                        <li class="post-item"><b>Ginseng (Panax ginseng):</b> Ginseng is an age-old natural remedy for many conditions, including hair loss. It contains saponins, which are believed to encourage hair growth by inhibiting 5a reductase. This is an enzyme related to hair loss in men.</li>
                    </ul>

                    <h4 class="post-category">How to use</h4>
                    <p class="post-text">Some hair oils are formulated to use as a shampoo or a leave-in hair treatment, so take note of the manufacturer’s instructions. The label will advise you on whether to apply to damp or dry hair.</p>
                    <p class="post-text">Using clean hands, massage the hair oil directly to your scalp and rinse as directed.</p>

                    <h2 class="post-title">Polyherbal ointments</h2>
                    <p class="post-text">Herbal ointments, sometimes called herbal salves, are usually made by combining herbs with an oil like lanolin or petroleum jelly and water. Other ingredients may include beeswax or cocoa butter. Polyherbal ointments typically contain multiple herbal extracts.</p>

                    <p class="post-text">
                        Some herbs used in polyherbal ointments are:
                    </p>
                    <ul class="post-list">
                        <li class="post-item"><b>Gooseberry (Emblica officinalis):</b> Gooseberry is an Ayurvedic herb. It’s used to strengthen hair and promote hair growth. It’s also known to contain several antioxidants.</li>
                        <li class="post-item"><b>Gotu kola (Centella asiatica):</b> Gotu kola is one of the most popular Ayurvedic herbs. It’s thought to increase hair length and stimulate hair growth, possibly by increasing blood circulation to the scalp.</li>
                        <li class="post-item"><b>Aloe vera (A. Barbadensis Mill.):</b> Aloe vera is a tropical plant and a popular folk remedy for burns and digestive problems. It may be also used to keep the scalp conditioned and healthy which can support healthy hair growth.</li>
                        <li class="post-item"><b>Holy basil (Ocimum sanctum):</b> Holy basil is a fragrant, adaptogenic herb known for its healing properties. It may help prevent hair loss caused by dandruff and itching or changes in hormonal levels.</li>
                    </ul>

                    <h4 class="post-category">How to use</h4>
                    <p class="post-text">Polyherbal ointments are usually applied directly to your scalp. With clean hands, massage the ointment into your scalp until absorbed as per manufacturer’s instructions.</p>

                    <h2 class="post-title">Herbal creams</h2>
                    <p class="post-text">Herbal creams are also made from herb-infused oils and water. They contain less oil and more water than herbal ointments and are easily absorbed by your skin.</p>

                    <p class="post-text">
                        Some herbs used to make herbal creams are:</p>
                    <ul class="post-list">
                        <li class="post-item"><b>Giant dodder (Cuscuta reflexa Roxb):</b> According to a 2008 studyTrusted Source, giant dodder — a sprawling, Ayurvedic plant — helps treat alopecia caused by steroid hormones by inhibiting the 5a reductase enzyme.</li>
                        <li class="post-item"><b>Bitter apple (Citrullus colocynthis):</b> Bitter apple is a desert, fruit-bearing plant used in Ayurveda. Its dried fruit pulp is used to treat hair loss. Bitter apple contains glycosides, which are compounds thought to initiate hair growth.</li>
                        <li class="post-item"><b>False daisy (Eclipta alba):</b> False daisy is an herb used in Ayurveda to increase hair growth. According to a study from 2014, false daisy helps stimulate hair follicles and provokes a faster hair growth stage in nude mice.</li>
                        <li class="post-item"><b>Night-flowering jasmine (Nyctanthes arbortristis):</b> This small, flowering shrub is native to South Asia. According to 2016 research, night-flowering jasmine initiated hair growth in rats and may be effective against alopecia.</li>
                    </ul>

                    <h4 class="post-category">How to use</h4>
                    <p class="post-text">With clean hands, massage the hair cream into your scalp or apply to hair from roots to tips as per manufacturer’s instructions.</p>


                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
