<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">6 Surprising Causes of Frizzy Hair – and 8 Ways to Combat It</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;6 Surprising Causes of Frizzy Hair – and 8 Ways to Combat It</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog30.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">6 Surprising Causes of Frizzy Hair – and 8 Ways to Combat It</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Frizzy hair</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <p class="post-text">Warm weather, sunshine … and frizzy hair? Yep.</p>
                    <p class="post-text">If you live in a humid climate, summer weather doesn’t only bring good things with it — it can bring frizz. Frizzy hair can be frustrating, especially when nothing seems to tame it.</p>
                    <p class="post-text">But as annoying as frizzy hair might be, most of us aren’t exactly sure what causes it, which means we’re in the dark about the best possible way to manage it. Don’t worry though, we’re here to answer all your questions.</p>

                    <h2 class="post-title">What happens when hair frizzes?</h2>
                    <p class="post-text">Hair cuticles are made up of little shingles that protect the hair strand from the elements.</p>
                    <p class="post-text">“When examined under a microscope, a healthy cuticle lays down smooth, like the scales of a fish,” explains Steve Waldman, director of technical training at Hair Cuttery Family of Brands, a chain of full-service hair salons. Beneficial moisture from natural oils produced by your scalp help keep those shingles down in healthy hair.</p>
                    <p class="post-text">But he says, “as hair becomes dry and damaged, its appearance resembles a pine cone: open, rough and prickly.”</p>
                    <p class="post-text">When it’s open and damaged like this, beneficial moisture can escape the hair shaft while moisture from the air enters the hair shaft, causing it to swell and change shape. In other words, it becomes frizzy.</p>

                    <h4 class="post-category">Do some people have naturally frizzy hair?</h4>
                    <p class="post-text">In short: yes.</p>
                    <p class="post-text">Some people have naturally curly hair, which is drier because the natural oils produced by your scalp can’t travel down the hair shaft as well as it can on straight hair. As a result, they have some natural frizz, which is most noticeable when individual hairs don’t bond together to create a defined curl.</p>
                    <p class="post-text">However, everyone’s hair can get frizzy even if it’s straight. But people with straighter hair tend to notice it most when their hair is damaged, dry, or when it’s super hot outside.</p>

                    <h2 class="post-title">What causes hair to frizz?</h2>
                    <p class="post-text">In a word: dryness.</p>
                    <p class="post-text">There are lots of different factors that can dry your hair out and exacerbate frizz:</p>
                    
                    <h4 class="post-category">Humidity</h4>
                    <p class="post-text">This is why your hair gets frizzy during a hot, humid summer day (or when you’re on vacation somewhere warm).</p>
                    <p class="post-text">“The dry cuticle becomes rough and open for humidity,” explains Monica Davis, professional hairstylist. “As a result, a humid environment makes overdried hair frizzy [because] the outer layer starts soaking the moisture from the air and swells.”</p>

                    <h4 class="post-category">Washing your hair in very hot water</h4>
                    <p class="post-text">Washing your hair in really hot water can cause the same effect as humidity. It also, says Davis, stresses your hair and your scalp, which produces beneficial oils.</p>
                    <p class="post-text">That’s why it’s best to wash your hair in lukewarm water.</p>

                    <h4 class="post-category">Harsh hair products</h4>
                    <p class="post-text">“Chemicals or harsh products overstrip the hair of its natural oils,” explains Kim Kimble, hairstylist. “Your natural oils smooth the hair [so] getting rid of those completely can cause your hair to frizz up.”</p>
                    <p class="post-text">Harsh hair products can include:</p>
                    <ul class="post-list">
                        <li class="post-item">hair color</li>
                        <li class="post-item">perms</li>
                        <li class="post-item">products containing sulfates</li>
                        <li class="post-item">products containing alcohols</li>
                    </ul>
                    <p class="post-text">“Excessive lightening — or bleaching — and coloring hair with formulas that are too strong with high ammonia contents can damage the surface of the hair, making it feel rough to the touch, stealing its shine, and creating frizz,” says Waldman.</p>

                    <h4 class="post-category">Heat styling</h4>
                    <p class="post-text">“Hot styling tools always damage your hair,” explains Davis. That’s why it’s best if you don’t use them every day.</p>
                    <p class="post-text">In addition, she says, if you do use heat styling, look for conditioners, oils, or sprays that help minimize heat damage before and after styling.</p>

                    <h4 class="post-category">Overwashing your hair</h4>
                    <p class="post-text">When you wash your hair every day, you strip your hair of the natural oils it needs to be healthy.</p>
                    <p class="post-text">“There’s no real need to wash your head more than two to three times per week, depending on your hair type,” explains Davis. “Otherwise, you break the natural balance with the shampoo, especially if it’s a foamy one.”</p>

                    <h4 class="post-category">Towel-drying your hair</h4>
                    <p class="post-text">“Friction created from brushes with nylon bristles and roughly towel-drying your hair can also ruffle the cuticle, causing annoying frizz,” says Waldman.</p>
                    <p class="post-text">Instead, blot your hair when drying with a towel and use gentler brushes.</p>

                    <h2 class="post-title">How to handle frizzy hair</h2>
                    <p class="post-text">You can combat frizziness by using hydrating products, conditioning masks or serums that protect and smooth your hair, explains Kimble. You should also use mild shampoos or detergents.</p>
                    <p class="post-text">In addition, these steps might also help:</p>
                    <ul class="post-list">
                        <li class="post-item">Reduce heat styling.</li>
                        <li class="post-item">Use lukewarm water for washing your hair.</li>
                        <li class="post-item">Don’t wash your hair too often.</li>
                        <li class="post-item">Use conditioner or masks.</li>
                        <li class="post-item">Avoid harsh products.</li>
                        <li class="post-item">Use a microfiber towel to dry your hair.</li>
                        <li class="post-item">Switch to a boar-bristle brush.</li>
                        <li class="post-item">Use a frizz protectant if you live in a humid climate.</li>
                    </ul>

                    <h2 class="post-title">Products to try</h2>
                    <p class="post-text">
                        Here are some products you can use to try to combat frizz:
                    </p>

                    <h4 class="post-category">1. TRESemme Keratin Smooth Shine Serum</h4>
                    <p class="post-text">“With this remedy, you can protect both curly and straight hair from excessive heat,” explains Davis, so it’s a great spray to use before hair-drying or heat styling your hair. “It also seals the cuticle and makes it a lot less probably that your hair will become uncontrollable when you go out.”</p>

                    <h4 class="post-category">2. Briogeo Farewell Frizz Smoothing Shampoo</h4>
                    <p class="post-text">Made with natural oils to lock in moisture and protect against humidity, this shampoo not only cleans you hair but also combats frizz in all types of hair. It also has no harsh sulfates, silicones, phthalates, parabens, DEA or artificial dyes.</p>

                    <h4 class="post-category">3. TSD Hair Flower Extract Conditioner</h4>
                    <p class="post-text">“Proteins and keratin are the best friends of frizzy hair,” says Davis. “You can use this conditioner by TSD to close the cuticle after washing your hair.” The conditioner also helps detangle hair, making it easier to brush out.</p>

                    <h4 class="post-category">5. Hicober 3-Pack Microfiber Hair Towel</h4>
                    <p class="post-text">Skip aggressively towel-drying your hair with a bath towel and opt for one of these super-absorbent microfiber hair towel turbans. They’re super soft, lightweight and easy to use.</p>

                    <h4 class="post-category">6. BioSilk Silk Therapy with Natural Coconut Oil Leave-In Treatment</h4>
                    <p class="post-text">After you shower, comb in this leave-in treatment to help lock in moisture into your hair and keep it from frizzing. This treatment also help combat breakage too.</p>

                    <h4 class="post-category">4. Silk 18 Maple Holistics Conditioner</h4>
                    <p class="post-text">This conditioner is made specifically to moisturize dry hair and condition your scalp. With natural ingredients, including jojoba and argan oil, it will help tame your frizz and keep your hair shiny and smooth.</p>

                    <h2 class="post-title">The bottom line</h2>
                    <p class="post-text">
                        Frizzy, dry hair can be a nuisance, but there are ways to prevent it and manage it. If you’re careful with how you wash, brush, and dry your hair and use the right products, you can help keep your hair healthy and minimize any unwieldy, frizzy hair.
                    </p>
                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
