<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">How To Get Rid Of Split Ends - Repair</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;How To Get Rid Of Split Ends - Repair</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog20.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">How To Get Rid Of Split Ends - Repair</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Split Ends</a></p>
                <div class="post-line"></div>
                <div class="post-content">

                    <p class="post-text">Split ends getting in the way of achieving the long, luscious lengths you've always wanted? We feel you.</p>
                    <p class="post-text">Unless you're JLo, most of us have them, and thanks to daily heat styling, the way we towel dry our hair after a shower and even what we sleep on at night, our once healthy-looking lengths tend to resemble a fluffy, unkempt mess.</p>
                    <p class="post-text">So, in a bid to get rid of the split ends for good, we enlisted help from the experts, because who doesn't want hair worthy of a shampoo ad</p>

                    <h2 class="post-title">Everything You Need To Know About Getting Rid Of Split Ends</h2>
                    <h4 class="post-category">What are split ends?</h4>
                    <p class="post-text">'Split ends are a result of the fraying or separating of the hair strand into two or more fragments,' says Sam Burnett, Owner and Creative Director of Hare & Bone.</p>
                    <p class="post-text">'This is down to damage caused by excessive stress on the follicle, usually chemical (colouring or perms) or mechanical (e.g. styling tools).'</p>
                    <p class="post-text">Even though the only way to completely get rid of split ends is by snipping them off, there are heaps of things you can do to prevent them from cropping up in the first place and to stop them from climbing further - because that's not cool.</p>

                    <h2 class="post-title">What causes split ends?</h2>
                    <p class="post-text">Unfortunately for our ends, a whole host of things can cause split ends. 'Split ends are caused by a number of factors,' says Trichologist Stephanie Sey on behalf of Nizoral Dandruff Shampoo. They include:</p>
                    <ul class="post-list">
                        <li class="post-item">Mechanical damage such as brushing excessively, drying the hair too roughly, allowing your hair to rub against rough fabrics.</li>
                        <li class="post-item">Colouring</li>
                        <li class="post-item">Chemical treatments perms and relaxers (especially when not done correctly)</li>
                        <li class="post-item">Heat - in the form of straighteners and blow dryers</li>
                    </ul>

                    <p class="post-text">'All these things damage the cuticle on the hair shaft as you lose more cuticle layers the hair becomes weak, splits and frays,' explains Sey.</p>

                    <h2 class="post-title">How To Get Rid Of Split Ends</h2>
                    <h4 class="post-category">1. Re-think the way you towel dry your hair</h4>
                    <p class="post-text">Your hair is actually most vulnerable during the drying process, so the way you treat it after a shower will make a huge difference to the amount of split ends you have to deal with.</p>
                    <p class="post-text">And even though it's tempting when you're in a rush before work, don't do this:</p>
                    <p class="post-text">'Rubbing your hair dry with a towel will only promote more breakage,' says Sam, and the last thing you want is for those splits to travel upwards.</p>
                    <p class="post-text">'Instead, apply pressure by gently squeezing the excess water out of the hair using a towel. Aquis have a great quick-drying range.'</p>
                    <p class="post-text">This may look unassuming, but we found found that it reduced frizzy bits by half and absorbed water twice as fast as our usual towel, which meant we didn't have to spend long under the hairdryer. Genius.'</p>

                    <h4 class="post-category">2. Re-assess your blow-drying technique</h4>
                    <p class="post-text">We're all guilty of blasting sopping wet hair with a hairdryer, especially in the winter months, but if you're serious about preventing split ends, it really pays to allow your hair to air dry as much as possible before letting loose with the dryer.</p>
                    <p class="post-text">'Anywhere from 60% - 90% dry is ideal,' says Sam, 'as the longer you leave your hair exposed to heat, the more damage is likely to occur.'</p>
                    <p class="post-text">Even better? Miss the ends out completely.</p>
                    <p class="post-text">'Invest in a quality heat protectant (we love the Bumble and Bumble Hairdresser's Protective Primer, £24) and avoid placing heat directly on to the ends of the hair,' continues Sam. 'Focus more on the roots and mid lengths - leave the ends to dry from the secondary heat and always keep the nozzle moving constantly for an even distribution of heat. Also try your best to dry on a cold air setting.'</p>
                    <p class="post-text">This is something Steve Robinson, Art Director at Electric Hair Group seconds.</p>
                    <p class="post-text">'Never touch the nozzle to the hair directly,' he says. 'Even rough drying hair means applying heat (yep, it's really not that much better) so if you really want to protect it, just use your hairdryer to create shape and to smooth the cuticles. Position it just above the hair and brush.'</p>

                    <h4 class="post-category">3. Turn down your straighteners</h4>
                    <p class="post-text">You'd be forgiven for whacking your hair straighteners or tongs up to the highest setting, especially if your hair is super-thick, or you're in a hurry. But what if we were to tell you that your hair won't straighten any faster or better?</p>
                    <p class="post-text">Yep, really.</p>
                    <p class="post-text">'It's a huge myth that the hotter the tool, the better and longer lasting your blow-dry or curl,' says Electric Hair's Steve. 'Hair reaches optimum mouldability at 180 degrees, so anything higher is overheating and damaging the hair.'</p>
                    <p class="post-text">The worst part, though? A high temperature is zapping your hair of the one thing that contributes to shine, strength, softness and manageability - keratin.</p>
                    <p class="post-text">'Healthy hair contains keratin, which dissipates once heated over 200 degrees,' says Steve, 'so, any hair tool over 180 degrees will de-keratinise the hair.'</p>

                    <h4 class="post-category">So what tools do the stylists swear by?</h4>
                    <p class="post-text">'My go-to is the ghd Platinum + Stylers, £189,' says Sam. 'They use ultra-zone predictive technology that harnesses a safer heat, making the hair healthier and shinier. The T3 SinglePass Luxe Straighteners, £145 also have an internal microchip technology which regulates and maintains even temperature so that hair isn't exposed to any unnecessary heat.'</p>
                    <p class="post-text">And ditch the idea that straightening at a low temperature is being 'kind' to you hair - it really isn't.</p>
                    <p class="post-text">According to Jo Robertson, Head of Education at ghd, any temperature lower than 180 degrees can be just as damaging, because it takes many more passes of the tool to achieve a good result and this is super-drying on the hair, resulting in a tonne more split ends.</p>

                    <h4 class="post-category">4. Bin your brush</h4>
                    <p class="post-text">It might not feel like it, but hair is much more flexible and prone to damage when wet. Your trusty paddle brush? It could be doing more harm than good.</p>
                    <p class="post-text">'It's always good to start with a wide tooth comb,' says Steve. 'You don't need to add pressure or brush vigorously, especially if you start at the bottom of your hair and work your way up, otherwise, you're just dragging the knots.'</p>
                    <p class="post-text">Makes sense, right? And you should really be taking your time at this stage to prevent causing any damage.</p>
                    <p class="post-text">'There's no harm in splitting your hair into sections to brush it,' adds Steve.</p>
                    <p class="post-text">This is brilliant at teasing out knots and curls without snagging. Like most straighteners, it boasts ceramic technology to keep frizz on lockdown, even when you pull it through dry hair.</p>

                    <h4 class="post-category">5. Beef up your hair-care routine</h4>
                    <p class="post-text">You can't repair split ends permanently, but there are some amazing products out there that have the ability to make them much less obvious. Smooth, sleek hair? Yes please.</p>
                    <p class="post-text">'Damaged split ends crave moisture,' says Sam. 'My favourite product for taming them is the KMS California Smoothing Reconstructor Mask.'</p>

                    <h4 class="post-category">6. Book in for a keratin treatment</h4>
                    <p class="post-text">Keratin treatments are totally worthy of their game-changer status and are especially amazing if you suffer with fuzzy, parched split ends - not a good look.</p>
                    <p class="post-text">So, how do they work? Well, they harness a large dose of proteins (mainly keratin), which, when blow-dried into the hair, smooths and reinforces the fragile strands that would usually be prone to fraying. It also lends a mirror-like shine and cuts styling time in half.</p>
                    <p class="post-text">'Kerasilk by Goldwell works just like Polyfilla,' says Steve. 'Where keratin is missing, more is added to pack out the hair shaft and then it is locked in with heat. It lasts for a good few months.'</p>

                    <h4 class="post-category">7. Switch up your shampoo and conditioner</h4>
                    <p class="post-text">While there are no magic shampoos or conditioners that will get rid of split ends, choosing something filled to bursting with moisturising ingredients can help disguise them.</p>
                    <p class="post-text">They also work to strengthen and protect strands against other factors that contribute to them, such as colouring.</p>
                    <p class="post-text">It may be packed with nourishing ingredients, but it doesn't weigh hair down, promise. It has the knack of making dry ends spring back to life and really nurtures colour.</p>
                    <p class="post-text">Dyeing your hair for the first time and worried about damage? Here's everything you need to know.</p>

                    <h4 class="post-category">8. Think about getting a silk pillowcase</h4>
                    <p class="post-text">Amazing hair is totally an excuse to be extra, but it pays to be savvy.</p>
                    <p class="post-text">'A silk pillowcase won't cure split ends but it's more of a luxury preventative measure,' says Steve, 'as is tying your hair in a loose ponytail while you sleep.'</p>
                    <p class="post-text">When you toss and turn in the night, your hair cuticle is at risk of becoming roughened by any abrasive pillow cases and bed linen you sleep on, which is where SILKE's hair wrap comes in. It acts like a shield against any rough materials and found that we didn't need to wash or straighten our hair as often, too. It may look really 1920s, but it's made from 100% silk cocoon and is so comfortable to wear.</p>

                    <h4 class="post-category">9. Get a trim - it's worth it in the long-run</h4>
                    <p class="post-text">If you're growing your hair, the last thing you probably want to do is book in for a trim, but the longer you leave it in between salon appointments, the more likely you are to cause further breakage - and really, a haircut is the only thing that will completely eradicate split ends.</p>
                    <p class="post-text">'The hair follicle will just continue to break and snap along the hair shaft otherwise,' says Sam.</p>
                    <p class="post-text">'At Hare & Bone, we're all about educating our clients on promoting healthy hair, so the first thing I tell them is that it's a common misconception that in [cutting], the hair won't grow. For optimum hair growth, I recommend my clients visit the salon every 6-8 weeks for a trim, depending on the colour and condition.'</p>
                    <p class="post-text">And if you're still wary?</p>
                    <p class="post-text">'Hairstylists can cut cleverly by working in minimal layering,' says Steve. 'This technique makes the hair appear long but it cuts out the bulk of the split ends.'</p>
                    <p class="post-text">But how do you know how much needs to come off?</p>
                    <p class="post-text">'Even though I wouldn't recommend picking at split ends, if you did, you could work out how much needs to be cut,' reveals Steve.</p>
                    <p class="post-text">'If you split apart the hair, the point where it stops splitting is a good indication of where the weak hair ends and the strong hair begins.'</p>
                    <p class="post-text">Good hair days all round.</p>

                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
