<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">Essential Oils for Hair</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;Essential Oils for Hair</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog18.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">Essential Oils for Hair</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Dull, lifeless hair, Hair growth</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <h2 class="post-title">Overview</h2>
                    <p class="post-text">Essential oils are extracted from plants through methods like distillation or evaporation. While essential oils are most famous for their aromatic capabilities, they also contain strong chemical properties that can be beneficial for health.</p>
                    <p class="post-text">Essential oils have long been used in alternative, Eastern, and homeopathic medicines thanks to their effectiveness and low risk of side effects.</p>
                    <p class="post-text">One benefit some essential oils have is improving hair health. Different oils can do everything from helping hair grow to adding strength and shine.</p>

                    <h2 class="post-title">Essential oils for your hair</h2>
                    <h4 class="post-category">1. Lavender essential oil</h4>
                    <p class="post-text">Lavender oil can speed up hair growth. Knowing that lavender oil has properties that can generate the growth of cells and reduce stress, researchers on one animal study found that this oil was able to generate faster hair growth in mice.</p>
                    <p class="post-text">It also has antimicrobial and antibacterial properties, which can improve scalp health.</p>
                    <p class="post-text">Mix several drops of lavender oil into 3 tablespoons of carrier oil, like olive oil or melted coconut oil, and apply it directly to your scalp. Leave it in for at least 10 minutes before washing it out and shampooing as you normally would. You can do this several times per week.</p>

                    <h4 class="post-category">2. Peppermint essential oil</h4>
                    <p class="post-text">Peppermint oil can cause a cold, tingling feeling when it increases circulation to the area it’s applied to. This can help promote hair growth during the anagen (or growing) phase.</p>
                    <p class="post-text">One study found that peppermint oil, when used on mice, increased the number of follicles, follicle depth, and overall hair growth.</p>
                    <p class="post-text">Mix 2 drops of peppermint essential oil with the carrier oil of your choice. Massage it into your scalp, and leave on for 5 minutes before washing out thoroughly with shampoo and conditioner.</p>

                    <h4 class="post-category">3. Rosemary essential oil</h4>
                    <p class="post-text">If you want to improve both hair thickness and hair growth, rosemary oil is a great choice thanks to its ability to improve cellular generation.</p>
                    <p class="post-text">According to one studyTrusted Source, rosemary oil performed as well as minoxidil, a common hair growth treatment, but with less scalp itching as a side effect.</p>
                    <p class="post-text">Mix several drops of rosemary oil with olive or coconut oil, and apply it to your scalp. Leave it in for at least 10 minutes before washing it out with shampoo. Do this twice per week for best results.</p>

                    <h4 class="post-category">4. Cedarwood essential oil</h4>
                    <p class="post-text">Cedarwood essential oil is thought to promote hair growth and reduce hair loss by balancing the oil-producing glands in the scalp. It also has antifungal and antibacterial properties, which can treat different conditions that may contribute to dandruff or hair loss.</p>
                    <p class="post-text">Included in a mixture with lavender and rosemary, cedarwood extract was also found to reduce hair lossTrusted Source in those with alopecia areata.</p>
                    <p class="post-text">Mix a few drops of cedarwood essential oil with 2 tablespoons of a carrier oil of your choice. Massage it into your scalp, and leave it on for 10 minutes before washing it out.</p>
                    <p class="post-text">It may be hard to find in grocery stores, but you might be able to purchase it from smaller health food stores.</p>

                    <h4 class="post-category">5. Lemongrass essential oil</h4>
                    <p class="post-text">Dandruff can be a common ailment, and having a healthy, flake-free scalp is an important part of hair health. Lemongrass oil is an effective dandruff treatment, with one 2015 study finding that it significantly reduced dandruff after one week.</p>
                    <p class="post-text">Lemongrass oil for dandruff is most effective when used daily. Mix a few drops into your shampoo or conditioner daily, and make sure it’s massaged into your scalp.</p>

                    <h4 class="post-category">6. Thyme essential oil</h4>
                    <p class="post-text">Thyme can help promote hair growth by both stimulating the scalp and actively preventing hair loss. Like cedarwood oil, thyme oil was also found to be helpful in treating alopecia areataTrusted Source.</p>
                    <p class="post-text">Thyme is particularly strong, even among essential oils. Put only 2 small drops in 2 tablespoons of a carrier oil before applying it to your scalp. Leave it on for about 10 minutes, then wash it out.</p>

                    <h4 class="post-category">7. Clary sage essential oil</h4>
                    <p class="post-text">Clary sage oil contains the same linalyl acetate that helps make lavender oil so effective in increasing hair growth. It can improve hair strength, in addition to increasing hair growth, making hair more difficult to break.</p>
                    <p class="post-text">Mix 3 drops of clary sage oil with your favorite conditioner, or with 1 tablespoon of carrier oil. If using it daily, rinse out after 2 minutes. If using it once or twice per week, leave it on for 10 minutes.</p>

                    <h4 class="post-category">8. Tea tree essential oil</h4>
                    <p class="post-text">Tea tree oil has powerful cleansing, antibacterial, and antimicrobial properties. When used topically, it can help unplug hair follicles and increase hair growth.</p>
                    <p class="post-text">Tea tree oils come in many concentrations, so it’s important to follow the manufacturer’s directions. Some are highly concentrated essential oils, and other products are mixed in a cream or oil.</p>
                    <p class="post-text">A 2013 study even found that a mixture containing tea tree oil and minoxidil was more effective than just the minoxidil alone in improving hair growth, though more studies are needed on using tea tree oil only.</p>
                    <p class="post-text">A review in 2015 found tea tree is commonly used in anti-dandruff treatment products.</p>
                    <p class="post-text">You can mix 10 drops of tea tree essential oil into your shampoo or conditioner and use it daily. Or, you can mix 3 drops with 2 tablespoons of a carrier oil, and leave it on for 15 minutes before rinsing it out.</p>

                    <h4 class="post-category">9. Ylang-ylang essential oil</h4>
                    <p class="post-text">While those with oily hair and skin would want to skip this one, ylang-ylang oil is ideal for those with dry scalps, as it can stimulate sebum production.</p>
                    <p class="post-text">As lack of enough oil and sebum causes hair to become dry and brittle, ylang-ylang can improve hair texture and reduce hair breakage.</p>
                    <p class="post-text">Mix 5 drops of essential ylang-ylang oil with 2 tablespoons of warm oil. Massage it into your scalp, and wrap your head with a warm towel. Leave it in for 30 minutes before washing it out. Ylang-ylang can also be found in preparations such as shampoo or creams.</p>

                    <h2 class="post-title">An extract oil alternative</h2>
                    <h4 class="post-category">Horsetail plant extract oil</h4>
                    <p class="post-text">Horsetail plant oil is an extract oil, not an essential oil. It contains silica, which is thought to improve hair growth speed and strength along with potentially reducing dandruff.</p>
                    <p class="post-text">While no studies have evaluated horsetail oil used topically, a 2015 study found that oral tablets containing the oil improved hair growth and strength in women with self-perceived thinning hair.</p>
                    <p class="post-text">It can also be effective as a topical treatment, with anecdotal evidence and theory suggesting that it may help boost circulation to the scalp and have the same benefits as the oral tablet. You can buy it online or at your nearest health food store.</p>
                    <p class="post-text">Follow the manufacturer’s directions. It can be added to shampoo or massaged into your scalp.</p>

                    <h2 class="post-title">Risks and potential complications</h2>
                    <p class="post-text">The biggest risk of essential oils is skin irritation or allergic reactions. This is especially common when an essential oil is applied directly to the skin, so it’s vital to always use a carrier oil to dilute it.</p>
                    <p class="post-text">Allergic reactions are also more common in those with sensitive skin or those who have allergies to the essential oil.</p>
                    <p class="post-text">Symptoms of skin irritation include:</p>
                    <ul class="post-list">
                        <li class="post-item">contact dermatitis</li>
                        <li class="post-item">burning, discomfort, or painful tingling</li>
                        <li class="post-item">redness in the affected area</li>
                    </ul>

                    <p class="post-text">Signs of an allergic reaction include:</p>
                    <ul class="post-list">
                        <li class="post-item">severe dermatitis</li>
                        <li class="post-item">blistering rashes</li>
                        <li class="post-item">difficulty breathing</li>
                        <li class="post-item">swelling of the tongue or narrowing of the throat</li>
                    </ul>
                    <p class="post-text">Only older teenagers and adults should use essential oils topically for hair health. If you think essential oils could benefit your child, ask their pediatrician first to make sure it’s safe.</p>
                    <p class="post-text">To evaluate for irritation, remember to test a small amount of the mixture on a small patch of skin before full use.</p>

                    <h2 class="post-title">Takeaway</h2>
                    <p class="post-text">Essential oils can help you improve the health of your hair with very little risk of side effects at an affordable price point. They’re also easy to use.</p>
                    <p class="post-text">For many, mixing some with a carrier oil or your shampoo and applying that to your scalp regularly can increase hair growth, strength, or shine..</p>
                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
