<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">5 Home Remedies for Frizzy Hair, Plus Tips for Prevention</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;5 Home Remedies for Frizzy Hair, Plus Tips for Prevention</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog23.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">5 Home Remedies for Frizzy Hair, Plus Tips for Prevention</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href="">Frizzy hair</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <p class="post-text">Frizzy hair may be hard to tame, but it’s not impossible.</p>
                    <p class="post-text">Frizziness is caused by dry hair that lacks moisture. Ironically, humid, wet weather tends to make frizzy hair worse.</p>
                    <p class="post-text">That’s because dry hair tries to absorb moisture out of the air, causing each hair’s cuticle, or outer layer, to swell up, instead of lying flat. The cuticle comprises overlapping scales, which separate and rise in moist air. This makes hair look frizzy.</p>
                    <p class="post-text">Anything that dries out hair can make frizz worse. This includes shampoos that are alkaline, and products, such as styling gels, that contain alcohol. Styling tools that use heat can also dry out hair, making frizz erupt</p>
                    <p class="post-text">If you want to achieve a smoother look to your locks, there are home remedies that can restore moisture to help reduce frizz. The added benefit is that increased moisture can also help improve hair health.</p>


                    <h2 class="post-title">1. Apple cider vinegar</h2>


                    <p class="post-text">Healthy hair has an acidic pH level, which ranges between 4.5 and 5.5. When hair’s pH balance is in this range, the cuticles remain closed and flat. When hair gets too alkaline, cuticles can open up, giving a frizzy appearance.</p>
                     <p class="post-text">Apple cider vinegar is an alpha hydroxy acid that’s slightly acidic. For this reason, anecdotal evidence indicates that, when applied topically, it might be beneficial for taming frizzy hair, but more research is needed.</p>
                    <p class="post-text">Apple cider vinegar can also help remove product residue, which can make hair appear shinier. As an added bonus, apple cider vinegar has antibacterial and antifungal properties. It may help reduce dandruff, but no studies have confirmed this yet.</p>
                    <p class="post-text">To use apple cider vinegar on your hair:</p>
                    <ul class="post-list">
                        <li class="post-item">Mix 1/3 cup of organic apple cider vinegar with 1 quart of warm water.</li>
                        <li class="post-item">Pour as much as is needed onto your hair. You can store the rest for later use, or use all of it, based on your hair’s thickness and length.</li>
                        <li class="post-item">Leave the mixture on your hair for 1 to 3 minutes.</li>
                        <li class="post-item">Rinse with cool water.</li>
                        <li class="post-item">Air-dry.</li>
                        <li class="post-item">Use once or twice weekly.</li>
                    </ul>
                    <p class="post-text">Apple cider vinegar can have a strong odor, but the smell should go away with rinsing.</p>

                    <h2 class="post-title">2. Coconut oil</h2>
                    <p class="post-text">Coconut oil is high in lauric acid. When applied to hair, coconut oil is easily absorbed and can helpTrusted Source add moisture to the hair and reduce protein loss.</p>

                    <p class="post-text">Use a small amount of coconut oil as either a prewash or post-wash treatment to increase moisture and reduce frizz. To use:</p>
                    <ul class="post-list">
                        <li class="post-item">Place a small amount of organic coconut oil into your palms. Gently massage it through your hair and scalp.</li>
                        <li class="post-item">Leave on for 15 minutes.</li>
                        <li class="post-item">Wash your hair with shampoo to remove the coconut oil.</li>
                    </ul>

                    <p class="post-text">You can also leave a tiny amount of coconut oil in your hair after shampooing, or leave it in your hair overnight as a mask..</p>
                    <p class="post-text">If you use coconut oil as an overnight treatment, use an old pillow case or soft towel under your head to avoid oil stains.</p>
                    

                    <h2 class="post-title">3. Argan oil</h2>
                    <p class="post-text">Argan oil is rich in moisturizing agents, such as oleic acid and linoleic acid. It also contains antioxidants, such as vitamin E.</p>
                    <p class="post-text">Many users of argan oil believe it has protective benefits for hair against heat, such as that generated by styling products or the sun. However, there’s no scientific evidence to support these claims.</p>
                    <p class="post-text">To use argan oil to try to reduce frizz:</p>
                    <ul class="post-list">
                        <li class="post-item">Apply a few drops to wet hair before styling.</li>
                        <li class="post-item">Make sure to evenly distribute the oil throughout your hair, from scalp to tip. You can use a comb or brush to help disperse it from roots to tips, or comb it through your hair with your fingers.</li>
                        <li class="post-item">Be careful to only use a small amount of oil. If you overdo it, your hair may look or feel greasy.</li>
                    </ul>
                    <p class="post-text">
                        You can also use argan oil on dry hair between styling treatments.
                    </p>

                    <h2 class="post-title">4. Avocado</h2>
                    <p class="post-text">
                        Avocado isn’t just a trendy toast topping. This superfruit is packed with nourishing ingredients, some of which may help strengthen your hair, like vitamins A and E.
                    </p>
                    <p class="post-text">It’s also packed with moisture, which can help hydrate your hair and tame frizz.</p>
                    <p class="post-text">Try making this at-home avocado hair mask:</p>
                    <ul class="post-list">
                        <li class="post-item">Mash a ripe, medium-sized avocado.</li>
                        <li class="post-item">Mix with 2 to 4 tablespoons of coconut oil until you have a smooth, mask-like consistency. It shouldn’t be runny.</li>
                        <li class="post-item">Liberally apply the mask to your scalp and hair.</li>
                        <li class="post-item">Cover your hair with a plastic cap or towel. Leave the mask on for 20 to 30 minutes.</li>
                        <li class="post-item">Shampoo thoroughly to remove the mask.</li>
                    </ul>
                    <p class="post-text">Use this hair mask one to two times a week.</p>

                    <h2 class="post-title">5. Egg</h2>
                    <p class="post-text">
                        Eggs are high in saturated fats, biotin, and vitamins. There isn’t much evidence that links eggs to a reduction in hair frizz, but some people believe an egg mask can make hair healthier, shinier, and frizz-free.
                    </p>
                    <p class="post-text">Don’t use this treatment if you’re allergic to eggs.</p>
                    <p class="post-text">To make an egg mask for hair:</p>
                    <ul class="post-list">
                        <li class="post-item">Whip up two eggs until they’re frothy.</li>
                        <li class="post-item">Apply the egg mix to your hair and scalp.</li>
                        <li class="post-item">Cover your hair with a plastic cap.</li>
                        <li class="post-item">Leave the mask on for 15 minutes.</li>
                        <li class="post-item">Shampoo thoroughly.</li>
                    </ul>
                    <p class="post-text">You can vary this treatment by combining one egg with coconut oil or with argan oil. Use the same way, once or twice a week.</p>

                    <h2 class="post-title">Products that may help</h2>
                    <p class="post-text">The products you choose can make or break frizz. Always look for hair care products that contain beneficial ingredients, and avoid those that contain alcohol or harsh cleansers, such as sodium lauryl sulfate.</p>
                    <p class="post-text"><b>Hair serum</b></p>
                    <p class="post-text">Hair serum coats the hair, providing shine and protection against humidity. Hair serum doesn’t heal damage, but it can help protect hair from the elements, helping it retain moisture.</p>
                    <p class="post-text">When choosing a serum, look for one that’s moisturizing, such as John Frieda Frizz Ease Extra Strength serum.</p>
                    <p class="post-text"><b>Leave-in conditioner</b></p>
                    <p class="post-text">Leave-in conditioners are used after shampooing and are applied the same way you’d use any conditioner. The difference is, instead of rinsing out the condition, you leave it on your hair.</p>
                    <p class="post-text">Leave-in conditioner can help add softness and moisture to hair, keeping it frizz-free.</p>
                    <p class="post-text">You’ll want to purchase a conditioner that’s specifically formulated to be left in. A good one to try is the good stuff frizz control oil.</p>
                    <p class="post-text"><b>Hair mask</b></p>
                    <p class="post-text">Hair masks can provide megadoses of beneficial ingredients to hair that may help keep it nourished, moist, and frizz-free.</p>
                    <p class="post-text">Look for one that’s sulfate-free, such as Aveeno Oat Milk Blend overnight hair mask.</p>

                    <h2 class="post-title">Tips to prevent frizzy hair</h2>
                    <p class="post-text">Taking care of your hair means taking care of you. The best way to do this is to ensure you’re eating a healthy, balanced diet. Poor nutrition can lead to dull hair or even hair loss.</p>
                    <p class="post-text">Here are more tips for improving your hair’s health and reducing frizz:</p>
                    <ul class="post-list">
                        <li class="post-item"><b>Don’t overshampoo.</b> Washing hair too much can dry it out, making it frizzy and unmanageable. Even oily hair should be given a breather between washings.</li>
                        <li class="post-item"><b>Reduce heat.</b> Heat and frizz go together. Wash and rinse your hair in cool or warm water.</li>
                        <li class="post-item"><b>This goes for styling, too.</b> Don’t use the highest setting on your styling tools. Always protect your hair with an anti-frizz or smoothing cream before styling or blow-drying.</li>
                        <li class="post-item"><b>Protect hair from humidity.</b> You can’t stay inside every time it rains or is humid, but you can protect your hair from the elements. When humidity is high, covering your hair can make it more difficult for hair to absorb moisture from the air. Wear a hat or scarf. Leave-in serums can help too.</li>
                        <li class="post-item"><b>De-frizz without eliminating exercise.</b> If you have frizzy hair, working out can ruin your coif fast. Cover your hair with a baseball cap or bandana while participating in sports, both indoors and out, and while swimming.</li>
                        <li class="post-item"><b>Make hair care a priority.</b> Using weekly masks and products designed to reduce frizz can help maintain a sleek look, no matter what the weather or activity.</li>
                    </ul>

                    <h2 class="post-title">Takeaway</h2>
                    <p class="post-text">The appearance of frizzy hair comes from dry hair that tries to nab moisture from the air. You can reduce frizz by using at-home treatments designed for this purpose. There are also store-bought products that can help.</p>

                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>
