.breadcrumb {
    padding: 30px;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.breadcrumb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(transparent, #fff);
}

.breadcrumb-text {
    position: relative;
    z-index: 1;
    font-weight: 300;
}

.breadcrumb-text a {
    color: #000;
    text-decoration: none;
}

.breadcrumb-text a:hover {
    color: #d39e3c;
}

.main-wrap {
    width: 80%;
    margin: 30px auto;
}

.main-left-heading {
    background: #000;
    padding: 11px 20px;
    color: #fff;
    font-size: 16px;
}

.recent-articles {
    margin-top: 20px;
}

.recent-articles-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.recent-articles-item {
    display: flex;
    padding: 16px 0;
    align-items: center;
    border-bottom: 1px dashed #ccc;
    width: 100%;
}

.recent-articles-item:last-child {
    border-bottom: none;
}

.recent-articles-item-img {
    width: 35%;
    margin-right: 16px;
}

.recent-articles-item-img a {
    display: block;
    text-decoration: none;
    width: 100%;
}

.recent-articles-item-info {
    width: calc(65% - 16px);
}

.recent-articles-item-info a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.recent-articles-item-info a:hover {
    color: #d39e3c;
}

.recent-articles-item-info p {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 300;
}

.category {
    margin-top: 40px;
}

.categoty-list {
    list-style: none;
}

.category-item {
    padding: 11px 20px;
    border-bottom: 1px dashed #ccc;
}

.category-item:last-child {
    border-bottom: none;
}

.category-item i {
    font-size: 10px;
    color: #d39e3c;
    margin-right: 11px;
}

.category-item a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
}

.category-item a:hover {
    color: #d39e3c;
}

.main-right {
    margin-top: 20px;
    padding-left: 50px;
}

.main-post {
    padding: 0;
    border: 1px solid #ccc;
}

.post-date,
.post-heading,
.post-type,
.post-count-comment,
.post-comment {
    margin-top: 30px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.post-heading {
    padding: 0 50px;
}

.post-comment {
    color: #d39e3c;
}

.post-type i {
    margin-right: 10px;
}

.post-type a {
    color: #000;
    text-decoration: none;
}

.post-type a:hover {
    color: #d39e3c;
}

.post-line {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.post-content {
    margin-top: 30px;
    line-height: 170%;
    padding: 0 0 50px;
    text-align: justify;
}

.post-title,
.post-category {
    margin: 20px 0;
}

.post-list {
    list-style: none;
    padding-left: 30px;
}

.post-item::before {
    content: "•   ";
    color: #d39e3c;
    font-size: 30px;
    position: relative;
    top: 4px;
}

.post-item {
    margin: 12px 0;
}

.post-text a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    transition: all 0.5s;
}

.post-text a:hover {
    color: #d39e3c;
}

.form-main {
    display: flex;
    flex-wrap: wrap;
}

.group-name,
.group-email {
    width: calc(50% - 16px);
}

.name,
.email {
    width: 100%;
    padding: 6px 10px;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 18px;
    font-weight: 300;
}

.group-email {
    margin-left: 32px;
}

#required-name,
#required-email,
#required-message {
    margin-left: 10px;
    color: red;
    display: none;
}

.name:focus,
.email:focus,
.message:focus {
    outline: none;
}

.name:focus ~ #required-name,
.email:focus ~ #required-email,
.message:focus ~ #required-message {
    display: none;
}

.message {
    border: none;
    width: 100%;
    margin-top: 30px;
    border-bottom: 2px solid #000;
    font-size: 18px;
    font-weight: 300;
    padding: 6px 10px;
}

.form-submit {
    display: block;
    padding: 14px 32px;
    background-color: #000;
    color: #fff;
    border: none;
    margin: 30px auto;
    position: relative;
    transition: all 0.4s;
    outline: none;
}

.form-submit:focus {
    outline: none;
}

.before,
.after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.4s;
}

.before {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    transform-origin: left bottom;
}

.after {
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    transform-origin: right top;
}

.form-submit:hover {
    color: #000;
    background-color: #fff;
}

.form-submit:hover .before,
.form-submit:hover .after {
    transform: scale(1);
}

.text-comment {
    margin: 3px 0px;
}

.post-info {
    margin-top: 20px;
    border: 1px solid #ccc;
    /* padding-bottom: 30px; */
}

.post-info .post-heading {
    color: #000;
    padding: 0 30px;
    font-size: 24px;
    font-weight: 300;
    height: 60px;
    margin: 18px 0;
    text-decoration: none;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.post-info .post-heading:hover,
.post-type a:hover {
    color: #d39e3c;
}

.post-des {
    font-weight: 300;
    margin-top: 16px;
    font-size: 12px;
    line-height: 150%;
    padding: 0 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

.post-types {
    margin-top: 20px;
    height: 54px;
}

.post-types i {
    font-size: 9px;
    margin-right: 10px;
}

.post-types a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
}
