/* .body{
    font-family: 'Open Sans', sans-serif;
} */
.breadcrumb {
    height: 200px;
    flex-direction: column;
    position: relative;
}

.breadcrumb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(transparent, #fff);
}

.breadcrumb-text {
    position: relative;
    z-index: 1;
    font-weight: 300;
}

.breadcrumb-text a {
    color: #000;
    text-decoration: none;
}

.breadcrumb-text a:hover {
    color: #d39e3c;
}
/* .main-heading{
    font-family: Josefin Sans !important;
} */
.main{
    margin-top: 50px;
}
.main-heading{
    margin-bottom: 100px;
}
.post{
    background-color: #f1eeee;
    /* border: 1px solid gray; */
    box-shadow: 0 1.063rem 2.188rem rgb(0 0 0 / 3%);
    height: 700px;
}
.post-title{
    padding-top: 30px;
}
.post-img{
    margin-top: 50px;
}
.post-img img{
    border-radius: 50%;
   
}
.post-img img:hover{
    transform: scale(1.1);
    transition: 1s;
}
.post-des {
    font-weight: 300;
    margin-top: 26px;
    padding: 0 30px;
}
.post-read-more{
    padding-bottom: 30px;
}
.post-read-more a {
    margin: 30px auto;
    display: block;
    padding: 11px;
    max-width: 150px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    transition: all ease-in-out 0.5s;
    position: relative;
}

.post-read-more-after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    transform-origin: left bottom;
    transition: all ease-in-out 0.5s;
    transform: scale(0);
}

.post-read-more-before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    transform-origin: right top;
    transition: all ease-in-out 0.5s;
    transform: scale(0);
}
.post-read-more a:hover .post-read-more-after {
    transform: scale(1);
}

.post-read-more a:hover .post-read-more-before {
    transform: scale(1);
}
.post-read-more a:hover {
    color: #000;
    background-color: #fff;
}

.post-read-more a:hover .read-more-icon {
    transform: translateX(6px);
}

.combo-heading{
    margin-top: 100px;
    margin-bottom: 100px;
}
.combo-title{
    padding-top: 10px;
}
.combo-title h3{
    font-weight: 500;
}
.combo-img{
    padding-top: 20px;
    padding-bottom: 10px;
}
.combo-img img{
    display: block;
    margin-left:auto;
    margin-right:auto
}
.combo{
    padding-left:50px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0.3);
    /* transform: translateX(400%);
    transition: transform 0.4s ease; */
}

/* .combo:nth-of-type(even){
    transform: translateX(-400%);
} */
/* .combo.show{
    transform: translateY(0);
} */