body {
  line-height: 1.5;
}
.breadcrumb {
  height: 200px;
  flex-direction: column;
  position: relative;
}

.breadcrumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-image: linear-gradient(transparent, #fff);
}

.breadcrumb-text {
  position: relative;
  z-index: 1;
  font-weight: 300;
}

.breadcrumb-text a {
  color: #000;
  text-decoration: none;
}

.breadcrumb-text a:hover {
  color: #d39e3c;
}
.body-head {
  height: 600px;
  width: 100%;
  position: relative;
  background-size: cover;

}
.body-title {
  color: #fff;
  position: absolute;
  top: 300px;
}
.btn-head{
    position: absolute;
    top: 150px;
    right: -350px;
}
.body-title h1 {
  font-size: 50px;
  font-weight: 700;
}
.body-title p {
  font-weight: 300;
  font-size: 20px;
}
.body-main {
  padding-top: 40px;
  line-height: 2;
  background-color: #eaebeb;
}
/* .main-content {
  display: flex;
} */
.h1 {
  margin-top: 40px;
  font-weight: 700;
}
.h2 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 25px;
}
.h3 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
}
.p {
  margin-top: 20px;
  font-weight: 100;
}
.side-bar h2 {
  padding-top: 40px;
  letter-spacing: 0.5px;

  font-size: 30px;
}
.side-bar h6 {
  padding-top: 30px;
  letter-spacing: 0.5px;
  font-weight: 700;
}
.side-bar p {
  font-weight: 200;
  font-size: 18px;
}
.btn {
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: 2px solid #000;
  padding: 20px  17px ;
  width: 300px;
}
.side-bar a {
  text-decoration: none;
  color: inherit;
}
.btn:hover{
    background-color: #999997;
}
.btn-white {
    text-align: center;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border: 2px solid white;
    padding: 20px  17px ;
    width: 200px;
  }
  .body-title a {
    text-decoration: none;
    color: inherit;
  }
  .btn-white:hover{
      color: #000;
      background-color: #e0e0db;
  }
  .btn-footer{
     margin-top: 50px;
     margin-bottom: 50px;
  }