.breadcrumb {
    height: 200px;
    flex-direction: column;
    position: relative;
}

.breadcrumb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(transparent, #fff);
}

.breadcrumb-text {
    position: relative;
    z-index: 1;
    font-weight: 300;
}

.main-wrap {
    width: 92%;
    margin: 30px auto;
}

.main-left-heading {
    background: #000;
    padding: 11px 20px;
    color: #fff;
    font-size: 16px;
}

.category {
    margin-top: 40px;
}

.category-list {
    list-style: none;
}

.category-item {
    padding: 11px 20px;
    border-bottom: 1px dashed #ccc;
}

.category-item:last-child {
    border-bottom: none;
}

.pre{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.category-item i {
    font-size: 10px;
    color: #d39e3c;
    margin-right: 11px;
}

.category-item a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
}

.category-item a:hover {
    color: #d39e3c;
}

.main-right {
    padding-left: 50px;
}

.post-info {
    margin-top: 30px;
    padding-bottom: 20px;
    width: 500px;
}

.owl-dots {
    display: none;
}

.best-choice {
    margin-top: 30px;
}

.best-choice-list {
    margin-top: 30px;
    padding: 0 16px;
}

.best-choice-img {
    display: block;
    text-decoration: none;
}

.line-img {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.best-choice-item .owl-carousel-link {
    display: block;
    margin: 16px 0;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 300;
}

.owl-carousel-link:hover {
    color: #d39e3c;
}

.owl-prev div,
.owl-next div {
    padding: 6px 14px;
    font-size: 20px;
    border-radius: 0;
    transition: all 0.4s;
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 26%;
}

.owl-prev div {
    left: 0;
}

.owl-next div {
    right: 0;
}

.owl-prev div:hover,
.owl-next div:hover {
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    outline: none !important;
    border: none !important;
}

.price{
    margin-top: 10px;
    color: #d39e3c;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.nav-cat-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.nav-item-cat {
    border-bottom: 1px dashed #ccc;
    display: flex;
    flex-wrap: wrap;
}

.nav-item-cat a {
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    color: #000;
    width: 90%;
}

.nav-item-cat a:hover {
    color: #d39e3c;
}

.nav-item-cat:last-child {
    padding: 12px 20px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.nav-item-cat:last-child i {
    color: #000;
}

.nav-item-cat-icon {
    color: #fff;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
}

.nav-item-cat-icon:hover {
    color: #d39e3c;
}

.nav-cat-list-child {
    list-style: none;
    background-color: #fff;
    width: 100%;
}

.nav-cat-item-child a {
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    color: #000;
    width: 100%;
    border-bottom: 1px dashed #ccc;
}

.nav-cat-item-child:last-child a {
    border-bottom: none;
}

.nameprd{
    color: #d39e3c;
}

.description{
    padding-top: 20px;
}

.nav-item{
    padding-right: 5px;
}

.tab a:hover{
    background: white;
    color: black;
}

.nav-pills .nav-link {
    border-radius:0;
    background: #000;
    padding: 11px 20px;
    color: #fff;
    font-size: 16px;
    border: 2px solid black;
}

.nav-pills .nav-link.active {
    color: #000000;
    background-color: white;
}

.tab-pane{
    border: solid 1px #c2bfbf;
    padding: 50px 70px;
}
.tab-pane p {

    font-weight: 600;
    font-size: 25px;
}
.tab-pane li{
    font-size: 18px;
    font-weight: 400;
    margin-left: 80px;
}