<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/manageHead') %>
    <body>
        <%- include('../layouts/manageSidebar') %>


            <!-- !PAGE CONTENT! -->
            <div class="w3-main" style="margin-left:300px;">
                <!-- Top container -->
                <div class="w3-bar w3-top w3-light-grey w3-large w3-hide-large" style="z-index:4">
                    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none" onclick="w3_open();"><i
                            class="fa fa-bars"></i>  Menu</button>
                    <span class="w3-bar-item w3-right"><strong>Manager Page</strong></span>
                </div>

                <!-- Header -->
                <header class="w3-container" style="padding-top:22px">
                    <h5><b><i class="fa fa-dashboard"></i> Demo form creator</b></h5>
                </header>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <form action="/manager/booking" method="post">
                                <fieldset class="border p-3 mt-3">
                                    <legend class="w-auto">Booking creator</legend>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label for="customer_fullname">Full Name:</label>
                                            <input type="text" class="form-control" id="customer_fullname"
                                                name="customer_fullname" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label for="customer_phone">Phone number:</label>
                                            <input type="tel" class="form-control" name="customer_phone"
                                                id="customer_phone">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label for="customer_email">Email:</label>
                                            <input type="email" class="form-control" id="customer_email"
                                                name="customer_email" placeholder="@" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label for="customer_address">Address:</label>
                                            <input type="text" class="form-control" id="customer_address"
                                                name="customer_address" required>
                                        </div>
                                    </div>
                                    <fieldset class="border p-3 mt-3">
                                        <legend class="w-auto">Taking sevices & Time</legend>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12">
                                                <label for="service_id">Sevices</label>
                                                <select id="service_id" name="service_id" class="form-control"
                                                    onchange="serviceInfo()" required>
                                                    <option value="" disabled hidden selected>Services...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <p id="service_info"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12">
                                                <label for="staff_id">Staff</label>
                                                <select id="staff_id" name="staff_id" class="form-control"
                                                    onchange="staffInfo()" required>
                                                    <option value="" disabled hidden selected>Staffs...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <p id="staff_info"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12">
                                                <label for="datetime">Date</label>
                                                <input type="datetime-local" class="form-control" name="datetime"
                                                    id="datetime" required>
                                            </div>
                                        </div>
                                    </fieldset>
                                </fieldset>
                                <div class="row justify-content-center">
                                    <div class="form-group mt-3">
                                        <button type="submit" class="btn btn-primary">Booking</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <form action="/manager/staff" method="post">
                                <fieldset class="border p-3 mt-3">
                                    <legend class="w-auto">Staff creator</legend>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label for="staff_fullname">Full Name:</label>
                                            <input type="text" class="form-control" id="staff_fullname"
                                                name="staff_fullname" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label for="staff_stars">Stars:</label>
                                            <input type="number" class="form-control" id="staff_stars"
                                                name="staff_stars" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label for="staff_introduce">Staff Introduce:</label>
                                            <textarea class="form-control" rows="5" id="staff_introduce"
                                                name="staff_introduce"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row justify-content-center">
                                    <div class="form-group mt-3">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <form action="/manager/service" method="post">
                                <fieldset class="border p-3 mt-3">
                                    <legend class="w-auto">Service creator</legend>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label for="service_name">Service Name:</label>
                                            <input type="text" class="form-control" id="service_name"
                                                name="service_name" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label for="service_introduce">Service Introduce:</label>
                                            <textarea class="form-control" rows="5" id="service_introduce"
                                                name="service_introduce"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row justify-content-center">
                                    <div class="form-group mt-3">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row justify-content-center">

                    </div>
                </div>
            </div>


            <%- include('../layouts/manageFooter') %>

                <script type="text/javascript">
                    function getService() {
                        $.ajax({
                            url: '/manager/get-service',
                            method: "GET",
                            success: function (rs) {
                                for (var key in rs) {
                                    var option = `
                                    <option value="${rs[key]._id}">${rs[key].service_name}</option>
                                    `;
                                    $('#service_id').append(option);
                                }
                            }
                        });
                    };
                    function getStaff() {
                        $.ajax({
                            url: '/manager/get-staff',
                            method: "GET",
                            success: function (rs) {
                                for (var key in rs) {
                                    var option = `
                                    <option value="${rs[key]._id}">${rs[key].staff_fullname}</option>
                                    `;
                                    $('#staff_id').append(option);
                                }
                            }
                        });
                    };
                    getService();
                    getStaff()
                    function serviceInfo() {
                        $.ajax({
                            url: '/manager/get-service',
                            method: "GET",
                            success: function (rs) {
                                $('#service_info').html("")
                                var service_id = $('#service_id').val();
                                for (var key in rs) {
                                    var rs_id = rs[key]._id;
                                    if (service_id == rs_id) {
                                        var info = rs[key].service_introduce;
                                        $('#service_info').append(info)
                                    } else {
                                        continue;
                                    }
                                }
                            }
                        });
                    }
                    function staffInfo() {
                        $.ajax({
                            url: '/manager/get-staff',
                            method: "GET",
                            success: function (rs) {
                                $('#staff_info').html("")
                                var staff_id = $('#staff_id').val();
                                for (var key in rs) {
                                    var rs_id = rs[key]._id;
                                    if (staff_id == rs_id) {
                                        var info = rs[key].staff_introduce;
                                        $('#staff_info').append(info)
                                    } else {
                                        continue;
                                    }
                                }
                            }
                        });
                    }
                </script>
    </body>

</html>