
<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us</title>
    <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/about.css">
        <link rel="stylesheet" href="/css/aboutResponsive.css">


<body>
    <%- include('../layouts/header') %>

        <div class="main-content">
            <div class="breadcrumb d-flex justify-content-center align-items-center"
                style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text"> ABOUT US </h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;About Us</p>
            </div>
        </div>

        <div class="main">
            <div class="about-content">
                <div class="container">
                    <div class="row" style="flex-wrap: wrap;">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-left">
                                <img src="https://res.cloudinary.com/lenn/image/upload/c_crop,h_810,w_700/v1632452024/hairCare/img11_vccelt.jpg"
                                    alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-right">
                                <h2 class="about-heading">Welcome to Hair Care</h2>
                                <div class="about-line"></div>
                                <p class="about-text">We focus on offering only quality services and information to perfect your
                                    haircare! Our vision is to become a leader in providing excellence in customer care, environmental
                                    responsibility, beauty/wellness services and hair inspirations. This is also our mission from day one
                                    and will remain so as we continue serving you.</p>
                                <p class="about-text">Your hair is a statement to the world showing off who you are.
                                    We know how important it is to get it right so you can flip your hair like you just walked out
                                    of the salon for weeks to come. That’s why we focus on empowering you with the know-how to care for your hair within our website.
                                Whether you book our services or not, you are always our customer, and we endeavour to deliver the best
                                     hair care knowledge and inspirations to you!  </p>
                                <div class="about-list-img">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <img src="https://res.cloudinary.com/lenn/image/upload/v1632452024/hairCare/img13_szu5cs.jpg"
                                                alt="">
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <img src="https://res.cloudinary.com/lenn/image/upload/v1632452024/hairCare/img14_dyerra.jpg"
                                                alt="">
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <img src="https://res.cloudinary.com/lenn/image/upload/v1632452024/hairCare/img12_wthi98.jpg"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="services">
                <div class="container">
                    <h1>What we offer at Hair Care</h1>
                    <h5>Trichologists and Hair Care Specialists</h5>
                    <div class="row mt-5">
                        <div class="col-lg-3 col-md-6 col-sm-12col-xs-12">
                            <div class="services-item">
                                <h2 class="services-title">Cut + Style</h2>
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632455704/hairCare/img15_rvdfsw.jpg"
                                    alt="" class="services-img">
                                <p class="services-text">Our experienced team of stylists is highly skilled and can
                                    create a wide array of haircuts and styles.Have a specific look in mind? No problem, our stylists can create it for you. </p>
                                <a href="/services#Cut+Style" class="services-button">View more
                                    <div class="btn-before"></div>
                                    <div class="btn-after"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="services-item">
                                <h2 class="services-title">Color</h2>
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632455704/hairCare/img16_zn50cl.jpg"
                                    alt="" class="services-img">
                                <p class="services-text">Our stylists will shampoo and cut and your hair and allow you to style it. This service does not include blow drying and curling or straightening your new style. This service applies to women’s haircuts only.</p>
                                <a href="/services#Color" class="services-button">View more
                                    <div class="btn-before"></div>
                                    <div class="btn-after"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="services-item">
                                <h2 class="services-title">Texture</h2>
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632455704/hairCare/img17_dnfyok.jpg"
                                    alt="" class="services-img">
                                <p class="services-text">Protein treatment for extremely damaged and distressed hair. Includes blowdry style when not booked as an add-on service.</p>
                                <a href="/services#Texture" class="services-button">View more
                                    <div class="btn-before"></div>
                                    <div class="btn-after"></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="services-item">
                                <h2 class="services-title">Specialty</h2>
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632455704/hairCare/img17_dnfyok.jpg"
                                    alt="" class="services-img">
                                <p class="services-text">Protein treatment for extremely damaged and distressed hair. Includes blowdry style when not booked as an add-on service.</p>
                                <a href="/services#Specialty" class="services-button">View more
                                    <div class="btn-before"></div>
                                    <div class="btn-after"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="booking" style="background-image: url(https://res.cloudinary.com/lenn/image/upload/v1632457850/hairCare/img18_phqvy6.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed">
                <h1>BOOKING</h1>
                <h5>Make your appointment today!</h5>
                <p>Just as your hair should reflect your personality, so should your appointment.
                    Your experience is designed around you — whether you want to catch up on the
                    latest or sit back and close your eyes — it’s all about you.</p>
                <a href="" class="booking-button">Booking now
                    <div class="btn-before"></div>
                    <div class="btn-after"></div>
                </a>
            </div>

            <div class="out-programs">
                <div class="container">
                    <h1>Our Programs</h1>
                    <h5>Make a difference in the life of an individual with a need!</h5>
                    <div class="row mt-5">
                        <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                            <a href="/hair-problems" class="program-item">
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632535898/hairCare/img17_1024x1024_e2f8b908-633c-4c80-a538-be6b2effc5c3_1024x1024_zosuse.jpg" alt="">
                                <div class="program-item-title">Hair Problems</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                            <a href="/products" class="program-item">
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632535898/hairCare/img18_1024x1024_9a1fd1cd-d15d-439f-98bc-b4e0e37c2076_1024x1024_roxsyt.jpg" alt="">
                                <div class="program-item-title">Hair Products</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                            <a href="hair-styles" class="program-item">
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632535898/hairCare/img16_1024x1024_82ff159d-b852-4a7a-aaa6-1ed05439cda8_1024x1024_kwnuzl.jpg" alt="">
                                <div class="program-item-title">Hair Styles 2021</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="total-count">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                            <div class="total-count-item">
                                <div class="count-icon">
                                    <div class="count-icon-child">
                                    </div>
                                    <i  class="far fa-gem"></i>
                                </div>
                                <p class="count-number"><span class="counter-value" data-count="250">0</span>+</p>
                                <p class="count-title">Cut + Style</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                            <div class="total-count-item">
                                <div class="count-icon">
                                    <div class="count-icon-child">
                                    </div>
                                    <i class="fas fa-coffee"></i>
                                </div>
                                <p class="count-number"><span class="counter-value" data-count="100">0</span>+</p>
                                <p class="count-title">Color</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                            <div class="total-count-item">
                                <div class="count-icon">
                                    <div class="count-icon-child">
                                    </div>
                                    <i class="fas fa-adjust"></i>
                                </div>
                                <p class="count-number"><span class="counter-value" data-count="75">0</span>+</p>
                                <p class="count-title">Texture</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                            <div class="total-count-item">
                                <div class="count-icon">
                                    <div class="count-icon-child">
                                    </div>
                                    <i class="fas fa-calculator"></i>
                                </div>
                                <p class="count-number"><span class="counter-value" data-count="120">0</span>+</p>
                                <p class="count-title">Specialty</p>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>

            <div class="employee">
                <div class="container">
                    <div class="row">
                        <div class="employee-item">
                            <div class="employee-img">
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632581239/hairCare/sc600x600_mjegao.jpg" alt="">
                            </div>
                            <h5>Dang Minh Hai</h5>
                            <p>Hair Care Therapist</p>
                            <div class="list-info">
                                <div class="info-item"><i class="fab fa-twitter"></i></div>
                                <div class="info-item"><i class="fab fa-facebook-f"></i></div>
                                <div class="info-item"><i class="fab fa-instagram"></i></div>
                                <div class="info-item"><i class="fab fa-youtube"></i></div>
                            </div>
                        </div>

                        <div class="employee-item">
                            <div class="employee-img">
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632581239/hairCare/rsz_1rsz_menhair1_nkcgwi.jpg" alt="">
                            </div>
                            <h5>Nguyen Nhat Le</h5>
                            <p>Hair Care Therapist</p>
                            <div class="list-info">
                                <div class="info-item"><i class="fab fa-twitter"></i></div>
                                <div class="info-item"><i class="fab fa-facebook-f"></i></div>
                                <div class="info-item"><i class="fab fa-instagram"></i></div>
                                <div class="info-item"><i class="fab fa-youtube"></i></div>
                            </div>
                        </div>

                        <div class="employee-item">
                            <div class="employee-img">
                                <img src="https://res.cloudinary.com/lenn/image/upload/c_crop,h_575,w_575/v1632581239/hairCare/75f8d2a8bd8fcd3294ddde805a653f5f_ecj8pw.webp" alt="">
                            </div>
                            <h5>Nguyen Mai Ngan</h5>
                            <p>Hair Care Manager</p>
                            <div class="list-info">
                                <div class="info-item"><i class="fab fa-twitter"></i></div>
                                <div class="info-item"><i class="fab fa-facebook-f"></i></div>
                                <div class="info-item"><i class="fab fa-instagram"></i></div>
                                <div class="info-item"><i class="fab fa-youtube"></i></div>
                            </div>
                        </div>

                        <div class="employee-item">
                            <div class="employee-img">
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632581240/hairCare/AC_ECOM_SITE_2020_REFRESH_1_INDEX_M2_THUMBS-V2-1_hqvzeg.jpg" alt="">
                            </div>
                            <h5>Nguyen Van Hung</h5>
                            <p>Hair Care Therapist</p>
                            <div class="list-info">
                                <div class="info-item"><i class="fab fa-twitter"></i></div>
                                <div class="info-item"><i class="fab fa-facebook-f"></i></div>
                                <div class="info-item"><i class="fab fa-instagram"></i></div>
                                <div class="info-item"><i class="fab fa-youtube"></i></div>
                            </div>
                        </div>

                        <div class="employee-item">
                            <div class="employee-img">
                                <img src="https://res.cloudinary.com/lenn/image/upload/c_crop,h_1028,w_1028/v1632581239/hairCare/what_makes_a_man_more_manly_main0_fk8vdu.jpg" alt="">
                            </div>
                            <h5>Vy Tuan Duong   </h5>
                            <p>Hair Care Therapist</p>
                            <div class="list-info">
                                <div class="info-item"><i class="fab fa-twitter"></i></div>
                                <div class="info-item"><i class="fab fa-facebook-f"></i></div>
                                <div class="info-item"><i class="fab fa-instagram"></i></div>
                                <div class="info-item"><i class="fab fa-youtube"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <%- include('../layouts/footer') %>
        <script>
            var a = 0;
            $(window).scroll(function() {
                var oTop = $('.total-count').offset().top - window.innerHeight;
                if (a == 0 && $(window).scrollTop() > oTop) {
                    $('.counter-value').each(function() {
                        var $this = $(this),
                        countTo = $this.attr('data-count');
                        $({
                            countNum: $this.text()
                        }).animate({
                            countNum: countTo
                        },
                        {
                            duration: 2000,
                            easing: 'swing',
                            step: function() {
                            $this.text(Math.floor(this.countNum));
                            },
                            complete: function() {
                            $this.text(this.countNum);
                            }
                        });
                    });
                    a = 1;
                }
            });
      
              
        </script>
</body>

</html>