<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Contact Us</title>
        <%- include('../layouts/head') %>
            <!-- Thư viện và CSS Import ở dưới -->
            <style>
                .breadcrumb {
                    padding: 30px;
                    flex-direction: column;
                    position: relative;
                    text-align: center;
                }

                .breadcrumb::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    background-image: linear-gradient(transparent, #fff);
                }

                .breadcrumb-text {
                    position: relative;
                    z-index: 1;
                    font-weight: 300;
                }

                .breadcrumb-text a {
                    color: #000;
                    text-decoration: none;
                }

                .breadcrumb-text a:hover {
                    color: #d39e3c;
                }

                .grid__item {
                    list-style: none;
                    padding: 20px;
                    text-align: center;
                }

                .grid__item .icon,
                .grid__item h4 {
                    color: #d3ad69;
                    font-size: 30px;
                    font-weight: 300;
                    text-transform: uppercase;
                }

                .grid__item a {
                    text-decoration: none;
                    color: black;
                }

                .btn-form-submit {
                    font-weight: 400;
                    color: #fff;
                    background-color: #d1a95e;
                    padding: 10px;
                    width: 100%;
                    transition: all 0.5s;
                    border: none;
                    outline: none;
                }

                .btn-form-submit:hover {
                    background-color: transparent;
                    color: #000;
                }

                .btn-form-submit:hover .btn-before,
                .btn-form-submit:hover .btn-after {
                    transform: scale(1);
                }

                .btn-before,
                .btn-after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    transition: all 0.5s;
                    transform: scale(0);
                }

                .btn-before {
                    transform-origin: left bottom;
                    border-bottom: 1px solid #d1a95e;
                    border-left: 1px solid #d1a95e;
                }

                .btn-after {
                    transform-origin: right top;
                    border-right: 1px solid #d1a95e;
                    border-top: 1px solid #d1a95e;
                }
            </style>

    <body>
        <%- include('../layouts/header') %>

            <div class="main-content">
                <div class="breadcrumb d-flex justify-content-center align-items-center"
                    style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                    <h1 class="breadcrumb-text"> Contact Us </h1>
                    <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;Contact Us</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <ul style="display: flex;flex-direction: column;">
                            <li class="grid__item ">
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <h4>Talk to us</h4>
                                <p> <b>Toll-Free: </b> 000 - 1234 - 56789 <br><b>Fax: </b> 000 - 1234 - 56789</p>
                            </li>
                            <li class="grid__item">
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <h4>Contact Us</h4>
                                <p>
                                    <a title="" href="">buddhathemes@example.com</a><br><a title=""
                                        href="">support@example.com</a>
                                </p>
                            </li>
                            <li class="address grid__item">
                                <div class="icon">
                                    <i class="fa fa-location-arrow"></i>
                                </div>
                                <h4>Location</h4>
                                <p> No: 58 A, East Madison Street,<br> Baltimore, MD, USA
                                    4508<br></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                        <fieldset class="border p-5 mb-3"
                            style="margin-top: 20px;border-color: #d1a95e !important;min-height: 500px;">
                            <legend class="w-auto text-center">REQUEST A FREE CONSULTATION</legend>
                            <form>
                                <div class="form-row">
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" id="email" placeholder="Name"
                                            name="name" required="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" placeholder="Email" name="email"
                                            required="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="number" class="form-control" placeholder="Phone" name="phone"
                                            required="">
                                    </div>
                                </div>
                                <textarea class="form-control mb-5" rows="5" id="comment" placeholder="Message"
                                    name="text" required=""></textarea>
                                <div class="row justify-content-center">
                                    <div class="col-4" style="padding: 0;">
                                        <button class="btn-form-submit" type="submit">
                                            Send
                                            <div class="btn-before"></div>
                                            <div class="btn-after"></div>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d2633.3582678823454!2d105.78036422601778!3d21.02744466306405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d21.028811899999997!2d105.7822824!5e0!3m2!1svi!2s!4v1630315368452!5m2!1svi!2s"
                        width="100%" height="600px" style="border: 1px solid #d3ad69" allowfullscreen=""
                        loading="lazy"></iframe>
                </div>
            </div>

            <%- include('../layouts/footer') %>
                <script>
                </script>
    </body>

</html>