<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Care Home</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      />
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/homeResponsive.css">
    <body>
        <%- include('../layouts/header') %>

        <!-- Main content -->
        <main class="main-content">

            <!-- Slider - top -->
            <section class="slide-top">
                <div class="owl-carousel owl-theme owl-one">
                   
                    <div class="item">
                        <div class="slider-img"><img src="/images/slider1.jpg" alt=""></div>
                        <div class="slider-overplay"></div>
                        <div class="slide-sale slide-sale-one">
                            <h2>Get the best for</h2>
                            <h1>40<span class="sale-off">% OFF</span>    </h1>
                            <h2>On New Services</h2>
                            <a href="/services" class="slide-btn">View More
                                <div class="btn-before btn-slide"></div>
                                <div class="btn-after btn-slide"></div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-img"><img src="/images/slider2.jpg" alt=""></div>
                        <div class="slider-overplay"></div>
                        <div class="slide-sale slide-sale-two">
                        <h2>Get the best for</h2>
                        <h1>50<span class="sale-off">% OFF</span>    </h1>
                        <h2>On Texture Services</h2>
                        <a href="/services#Texture"  class="slide-btn">View More
                            <div class="btn-before btn-slide"></div>
                                <div class="btn-after btn-slide"></div>
                        </a>
                    </div>
                    
                    </div>
                    <div class="item">
                        <div class="slider-img"><img src="/images/slider3.jpg" alt=""></div> 
                        <div class="slider-overplay"></div>
                    </div>
                </div>
            </section>
            <!-- End slider top -->

            <!-- About us -->
            <section class="about-us">
                <div class="row" style="margin: 0;">
                    <div class="col-lg-6 col-md-6 col-sm-12 about-us-hair-care animate__slideInLeft animate__animated wow">
                        <h1 class="about-us-heading">HAIR CARE...</h1>
                        <p class="hair-care-des">Healthy hair that looks attractive can make you feel confident and super attractive. Shiny and Strong hair makes you the cynosure of all eyes.</p>
                        <p class="hair-care-content">Taking a few basic hair care steps go a long way in maintaining your hair. Otherwise, hair fall, unhealthy hair, and lackluster hair is the end result that can well be avoided. Remember, your hair is an index of your personality which can make or mar your looks.</p>
                        <a href="/about" class="about-us-btn">More about us
                            <div class="btn-before btn-about"></div>
                            <div class="btn-after btn-about"></div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 about-us-person-use animate__slideInRight animate__animated wow">
                        <div class="about-us-logo"><img src="/images/logo-use.png" alt=""></div>
                        <h1 class="persion-count">$85 billion</h1>
                        <p class="about-type">SHAMPOO, HAIR COLOR, CONDITIONER <br> & HAIR OILARE THE HAIR STYLING PRODUCTS</p>
                        <p class="about-title">The hair care industry growing by a compound growth rate of 14%</p>
                        <p class="about-end">Global Industry Analysis</p>
                    </div>
                </div>

            </section>
            <!-- End about us -->

            <!-- Products -->
            <section class="products" style="background-image: url(/images/hair1-problems-img.jpg); background-repeat: no-repeat; background-size: cover">
                <div class="main-title animate__pulse animate__animated wow">
                    <h1 class="main-heading ">Hair Products</h1>
                    <h3 class="main-des">Our Solutions tailor made for with each individual to<br>
                    understand specific needs</h3>
                </div>
                <div class="container">
                    <div class="row products-collection animate__fadeInUp animate__animated wow"  data-wow-delay="0.2s">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="collection-item">
                                <a href="/products" class="collection-img"><img src="https://cdn.shopify.com/s/files/1/0226/6225/collections/Landing___Collection_Cover.png?v=1623708035" alt=""></a>
                                <div class="collection-number">1</div>
                                <h4 class="collection-name">Hair Care</h4>
                                <p class="collection-des">We are proud to bring customers the best products, the best quality, the best price in the market. We bring the most practical experience to customers. You can find all Hair care here</p>
                                <a href="/products" class="collection-btn">View more
                                    <div class="btn-before"></div>
                                    <div class="btn-after"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="collection-item">
                                <a href="/products" class="collection-img"><img src="https://cf.shopee.vn/file/22508d6857db17dcc46bc459fd2eaf8a" alt=""></a>
                                <div class="collection-number">2</div>
                                <h4 class="collection-name">Tools</h4>
                                <p class="collection-des">We are proud to bring customers the best products, the best quality, the best price in the market. We bring the most realistic experience to customers. You can find all hairdressing tools here</p>
                                <a href="/products" class="collection-btn">View more
                                    <div class="btn-before"></div>
                                    <div class="btn-after"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End products -->

            <!-- Services -->
            <section class="services">
                <div class="row" style="margin:0">
                    <div class="col-lg-6 col-md-6 col-sm-12 services-info animate__slideInLeft animate__animated wow">
                        <h1 class="services-title">Services</h1>
                        <p class="services-des">We are a research-oriented organization. Our goal is to provide every individual with special needs the services that fulfills his yearning.</p>
                        <p class="services-sub">We are a research-oriented organization. Our goal is to provide every individual with special needs the product that fulfills his yearning.</p>
                        <a href="/services" class="services-btn">
                            More Services
                            <div class="btn-before"></div>
                            <div class="btn-after"></div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12  list-services animate__slideInRight animate__animated wow">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 services-item">
                                <a href="/services#Cut+Style" class="services-link">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front services-img">
                                                <img src="https://res.cloudinary.com/lenn/image/upload/c_scale,w_480/v1632560373/hairCare/section_hair_cut_oxj1bq.jpg"  >
                                            </div>
                                            <div class="flip-card-back">
                                                <h1 class="services-name">Cut + Style</h1> 
                                                <p class="services-price">$30 - 100$</p> 
                                                <p class="services-time">Haircut and design, Curly girl haircut, Men's haircut,...</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  services-item">
                                <a href="/services#Color" class="services-link">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front services-img">
                                                <img src="https://res.cloudinary.com/lenn/image/upload/c_scale,w_480/v1632560374/hairCare/section_hair_color_pdvcjv.jpg"  >
                                            </div>
                                            <div class="flip-card-back">
                                                <h1 class="services-name">Color</h1> 
                                                <p class="services-price">$30 - $150</p> 
                                                <p class="services-time">All over highlight, Grand highlight, Partial highlight,...</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  services-item">
                                <a href="/services#Texture" class="services-link">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front services-img">
                                                <img src="https://res.cloudinary.com/lenn/image/upload/c_scale,w_480/v1632560374/hairCare/section_hair_texture_zvkzg5.jpg"  >
                                            </div>
                                            <div class="flip-card-back">
                                                <h1 class="services-name">Texture</h1> 
                                                <p class="services-price">$30 - $110</p> 
                                                <p class="services-time">Permanent waving, Hair smoothing system, Relaxer,...</p> 
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 services-item">
                                <a href="/services#Specialty" class="services-link">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front services-img">
                                                <img src="https://res.cloudinary.com/lenn/image/upload/c_scale,w_480/v1632560373/hairCare/section_hair_specialty-_txojnf.jpg"  >
                                            </div>
                                            <div class="flip-card-back">
                                                <h1 class="services-name">Specialty</h1> 
                                                <p class="services-price">$20 - $100</p> 
                                                <p class="services-time">Hair extensions, Hair consultation, Shampoo enhancements,...</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End services -->

            <!-- Booking -->
            <section class="booking " style="background-image: url(/images/img8.jpg); background-repeat: no-repeat; background-size: cover; background-position: top; background-attachment: fixed;">
                <div class="booking-main animate__zoomInDown animate__animated wow">
                    <div class="booking-content ">
                        <div class="booking-logo"><img src="/images/Triss-4_small.png" alt=""></div>
                        <h1 class="booking-title">Booking</h1>
                        
                        <p class="booking-order"> Make your appointment today!<br></p>
                        <p class="booking-des">Just as your hair should reflect your personality, so should your appointment.
                            Your experience is designed around you — whether you want to catch up on the latest or sit
                            back and close your eyes — it’s all about you. </p>
                        <a href="/booking" class="booking-btn">
                            Booking Now
                            <div class="btn-before"></div>
                            <div class="btn-after"></div>
                        </a>
                    </div>
                </div>
            </section>
            <!-- End booking -->

            <!-- Hair problems -->
            <section class="hair-problems" style="background-image: url(/images/hair-problems-img.jpg); background-repeat: no-repeat; background-size: cover;">
                <div class="main-title animate__heartBeat animate__animated wow">
                    <h1 class="main-heading">Hair Problems</h1>
                    <h3 class="main-des">News & Update</h3>
                </div>
                <div class="container mt-5 animate__zoomIn animate__animated wow ">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 first-post">
                            
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 right-posts">
                           
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Hair problems -->

            <!-- Gallery -->
            <section class="gallery">
                <h1 class="main-heading">Gallery</h1>
                <h3 class="main-des">Make a difference in the life of an individual...</h3>
                <div class="container gallery-main">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 gallery-item">
                            <a href="/hair-styles/gallery" class="gallery-img">
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632569003/hairCare/img2_abf1dca1-ba65-495b-ae27-6bcfc9bff83f_td4qxu.jpg" alt="">
                                <div class="gallery-img-content">
                                    <h2>Get the best</h2>
                                    <h2>for you</h2>
                                </div>
                            </a>
                            <a href="/hair-styles/gallery" class="gallery-link">For Women</a>
                            <p class="gallery-des">All things hair inspiration for you to choose your best hairstyle! </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 gallery-item">
                            <a href="/hair-styles" class="gallery-img">
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632569003/hairCare/img21_pjwfk8.jpg" alt="">
                                <div class="gallery-img-content">
                                    <h2>Get the best</h2>
                                    <h2>for you</h2>
                                </div>
                            </a>
                            <a href="/hair-styles" class="gallery-link">Hair Styles 2021</a>
                            <p class="gallery-des">The ultimate classic hairstyles which have won the hearts of many.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 gallery-item">
                            <a href="/hair-styles/gallery" class="gallery-img">
                                <img src="https://res.cloudinary.com/lenn/image/upload/v1632569004/hairCare/m10_mhrnyp_oddlmj.jpg" alt="">
                                <div class="gallery-img-content">
                                    <h2>Get the best</h2>
                                    <h2>for you</h2>
                                </div>
                            </a>
                            <a href="/hair-styles/gallery" class="gallery-link">For Men</a>
                            <p class="gallery-des"> Current trends that will drive you to a new look.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End gallery -->

            <!-- Thus Spoke our Customers -->
            <section class="customers" style="background-image: url(/images/img10.jpg);background-repeat:no-repeat;background-size:cover">
                <h1 class="main-heading">Spoke our Customers</h1>
                <h3 class="main-des">Client Testimonials</h3>
                <div class="container">
                    <div class="customer-mess">
                        <div>Thank you so much for everything you do – you're a truly talented stylist and I always enjoy my appointments.</div>
                        <div>I have have been getting my hair cut at Hair Care about once a month for two years.
                            They have the best hairdresser I have ever had, and I have had many over my lifetime!
                            The staff is extremely knowledgeable about the most flattering hair styles and colors based for your individual facial features.</div>
                        <div> I have coarse hair, and Hair Care has always done a great job at listening to what
                            I want and making it happen. I always leave feeling and looking great, and I'm glad to have found
                            a quality hair care service that fits my budget and gives amazing experiences.</div>
                        <div>I started visiting Hair Care about 4 months ago and I have not been to another haircut
                            place since then. The atmosphere is friendly and the quality of hairstyle is great.</div>
                        <div>I would recommend Hair Care to any girls (or guy as my husband has been here and was very pleased)
                            looking for a great haircut! </div>
                        <div>What's not to love about Hair Care! Great staff, beautiful salon, and great service! </div>
                    </div>
                    <div class="customer-info">
                        <div>
                            <div class="img"><img src="/images/medium1.jpg" alt="" width="100%"></div>
                            <div class="text"><p class="customer-info-name"> Elizabeth George </p><p class="customer-info-job"> Author </p></div>
                        </div>
                        <div>
                            <div class="img"><img src="/images/medium2.jpg" alt="" width="100%"></div>
                            <div class="text"><p class="customer-info-name"> Anna Johnson  </p><p class="customer-info-job"> Teacher </p></div>
                        </div>
                        <div>
                            <div class="img"><img src="/images/medium3.jpg" alt="" width="100%"></div>
                            <div class="text"><p class="customer-info-name"> Eve Lindsay  </p><p class="customer-info-job"> Accountant </p></div>
                        </div>
                        <div>
                            <div class="img"><img src="/images/medium4.jpg" alt="" width="100%"></div>
                            <div class="text"><p class="customer-info-name">Alexa Deubler  </p><p class="customer-info-job"> Sales Manager </p></div>
                        </div>
                        <div>
                            <div class="img"><img src="/images/medium5.jpg" alt="" width="100%"></div>
                            <div class="text"><p class="customer-info-name"> Jessica Day  </p><p class="customer-info-job"> Registered Nurse </p></div>
                        </div>
                        <div>
                            <div class="img"><img src="/images/medium6.jpg" alt="" width="100%"></div>
                            <div class="text"><p class="customer-info-name"> Phillip Matthews </p><p class="customer-info-job"> SEO Analyst </p></div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- End thus Spoke our Customers -->

            <!-- Contact -->
            <section class="contact">
                <div class="row" style="margin: 0;">
                    <div class="user-mess col-lg-6 col-md-12 col-sm-12 ">
                        <form action="">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <input type="text" class="subject" name="subject" placeholder="Subject" required>
                            <textarea name="mess" id="" cols="30" rows="6" placeholder="Message" class="mess" required></textarea>
                            <button class="btn-form-submit" type="submit">
                                Send
                                <div class="btn-before btn-submit"></div>
                                <div class="btn-after btn-submit"></div>
                            </button>
                        </form>
                    </div>
                    <div class="contact-info col-lg-6 col-md-12 col-sm-12 animate__fadeInRight animate__animated wow">
                        <h1 class="contact-heading">Get In Touch <br>
                            With Us</h1>
                        <p class="contact-des">Many ways to reach us:</p>
                        <div class="contact-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <p class="contact-title"><i class="fab fa-instagram"></i>@HairCare</p>
                                    <p class="contact-note">Follow us on instagram</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <p class="contact-title"><i class="fas fa-map-marker-alt"></i> No: 58 A, East Madison Street, Baltimore, MD, USA
                                        4508 </p>
                                    <p class="contact-note">Feel free to drop by!</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <p class="contact-title"><i class="fas fa-phone-alt"></i>1800 1234 5678</p>
                                    <p class="contact-note">Contact us by Telephone</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <p class="contact-title"><i class="far fa-envelope"></i> haircare@gmail.com</p>
                                    <p class="contact-note">Write us a message</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End contact -->


        </main>
        <!-- End main content -->

        <%- include('../layouts/footer') %>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/home.js"></script>
        <script>
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                autoplay: true,
                autoplayTimeout: 6000,
                autoplayHoverPause: true,
                navText: ['<div class="carousel-nav-text"><i class="far fa-chevron-left"></i></div>', '<div class="carousel-nav-text"><i class="far fa-chevron-right"></i></i></div>'],
                responsive: {
                    0: {
                        items: 1
                    }
                }
            })
        </script>
        <script src="/vendor/slick.min.js"></script>

        <script>
            $('.customer-mess').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                asNavFor: '.customer-info'
            });
            $('.customer-info').slick({
                slidesToShow:5 ,
                slidesToScroll: 1,
                asNavFor: '.customer-mess',
                focusOnSelect: true,
                centerMode: true,
                centerPadding: '60px',
                responsive: [
                                {
                                    breakpoint: 1240,
                                    settings: {
                                        centerMode: true,
                                        centerPadding: '30px',
                                        slidesToShow: 3
                                    }
                                },
                                {
                                    breakpoint: 768,
                                    settings: {
                                    centerMode: true,
                                    centerPadding: '10px',
                                    slidesToShow: 3
                                    }
                                }
                            ],
                prevArrow: '<div class="customer-info-prev"><i class="fas fa-chevron-left"></i></div>',
                nextArrow: '<div class="customer-info-next"><i class="fas fa-chevron-right"></i></div>'
            });    
        </script>

        
        <script>
            var firstPost = $('.first-post');
            var rightPosts = $('.right-posts');
            firstPost.html('');
            rightPosts.html('');
            $.ajax({
                url: '/post-list',
                method: 'GET',
                success: function(rs) {
                    let a = `<div class="hair-problems-img"><a href="/hair-problems/${rs[0].slug}"><img src="${rs[0].image}" alt="" width="100%"></a></div>
                            <div class="hair-problems-content">
                                <div class="post-date">${moment(rs[0].date).format('ll')}</div>
                                <div class="post-sub-title">${rs[0].totalCount} Comments | <i class="fas fa-user"></i>hair-care admin</div>
                                <a href="/hair-problems/${rs[0].slug}" class="post-heading">${rs[0].title}</a>
                                <p class="post-des">${rs[0].description}</p>
                                <a href="/hair-problems/${rs[0].slug}" class="post-btn">Read more
                                    <div class="btn-before btn-post"></div>
                                    <div class="btn-after btn-post"></div>
                                </a>
                            </div>`
                    firstPost.html(a);
                    let b = `<div class="hair-problems-post">
                                    <div class="post-date">${moment(rs[1].date).format('ll')}</div>
                                    <div class="post-sub-title">${rs[1].totalCount} Comments | <i class="fas fa-user"></i>hair-care admin</div>
                                    <a href="/hair-problems/${rs[1].slug}" class="post-heading">${rs[1].title}</a>
                                    <p class="post-des">${rs[0].description}</p>
                                    <a href="/hair-problems/${rs[1].slug}" class="post-btn">Read more
                                        <div class="btn-before btn-post"></div>
                                        <div class="btn-after btn-post"></div>
                                    </a>
                            </div>
                            <div class="hair-problems-post">
                                    <div class="post-date">${moment(rs[2].date).format('ll')}</div>
                                    <div class="post-sub-title">${rs[2].totalCount} Comments | <i class="fas fa-user"></i> hair-care admin</div>
                                    <a href="/hair-problems/${rs[2].slug}" class="post-heading">${rs[2].title}</a>
                                    <p class="post-des">${rs[2].description}</p>
                                    <a href="/hair-problems/${rs[2].slug}" class="post-btn">Read more
                                        <div class="btn-before btn-post"></div>
                                        <div class="btn-after btn-post"></div>
                                    </a>
                            </div>
                    `
                    rightPosts.html(b);
                }
            })
        </script>

        <script src="vendor/wow.min.js"></script>
        <script>
              new WOW().init();
        </script>
    </body>
</html>
