<footer class="footer">
    <div
        class="footer-main"
        style="
            background-image: url(https://res.cloudinary.com/lenn/image/upload/v1630582853/hairCare/footer-img_tw6b4j.jpg);
        "
    >
        <div class="container">
            <div class="row">
                <div class="footer-about-us col-lg-3 col-md-6 col-sm-12">
                    <h4>About Us</h4>
                    <div class="short-line"></div>
                    <p>
                        At Hair Care, we focus on offering only quality services and information to perfect your
                        hair! Our vision is to become a leader in providing excellence in customer care, environmental
                        responsibility, beauty/wellness services and hair inspirations.
                    </p>
                </div>
                <div class="quick-links col-lg-3 col-md-6 col-sm-12">
                    <h4>Quick Links</h4>
                    <div class="short-line"></div>
                    <ul class="footer-list-link">
                        <li class="footer-item-link"><a href="/">Home</a></li>
                        <li class="footer-item-link">
                            <a href="/services">Services</a>
                        </li>
                        <li class="footer-item-link">
                            <a href="/hair-problems">Hair Problems</a>
                        </li>
                        <li class="footer-item-link">
                            <a href="/products">Products</a>
                        </li>
                        <li class="footer-item-link"><a href="/booking">Booking</a></li>
                        <li class="footer-item-link"><a href="/about">About Us</a></li>
                    </ul>
                </div>
                <div class="footer-contact col-lg-3 col-md-6 col-sm-12">
                    <h4>Contact Us</h4>
                    <div class="short-line"></div>
                    <div class="footer-contact-info">
                        <p>
                            No: 58 A, East Madison Street, Baltimore, MD, USA
                            4508
                        </p>
                        <p><i class="fas fa-phone-alt"></i> 1800 1234 5678</p>
                        <p>
                            <i class="fas fa-envelope"></i>
                            <a href="">haircare@gmail.com</a>
                        </p>
                    </div>
                    <div class="social">
                        <ul class="footer-list-icon">
                            <h5>Social:</h5>
                            <li class="footer-item-icon">
                                <a href="/"> <i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="footer-item-icon">
                                <a href="/"
                                    ><i class="fab fa-facebook-f"></i
                                ></a>
                            </li>
                            <li class="footer-item-icon">
                                <a href="/"><i class="fab fa-google"></i></a>
                            </li>
                            <li class="footer-item-icon">
                                <a href="/"> <i class="fab fa-tumblr"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-google-map col-lg-3 col-md-6 col-sm-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d2633.3582678823454!2d105.78036422601778!3d21.02744466306405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d21.028811899999997!2d105.7822824!5e0!3m2!1svi!2s!4v1630315368452!5m2!1svi!2s"
                        width="100%"
                        height="100%"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-end">
        <div
            class="container d-flex justify-content-between align-items-center"
        >
            <p>Copyright © 2021, Hair Care Powered by Code Infinity</p>
            <ul class="list-card-icon">
                <li class="item-card-icon">
                    <a href=""
                        ><img
                            src="https://res.cloudinary.com/lenn/image/upload/v1630582852/hairCare/card-icons-4_rhrnmx.png"
                            alt=""
                    /></a>
                </li>
                <li class="item-card-icon">
                    <a href=""
                        ><img
                            src="https://res.cloudinary.com/lenn/image/upload/v1630582852/hairCare/card-icons-3_csp5b4.png"
                            alt=""
                    /></a>
                </li>
                <li class="item-card-icon">
                    <a href=""
                        ><img
                            src="https://res.cloudinary.com/lenn/image/upload/v1630582852/hairCare/card-icons-5_z1v7tb.png"
                            alt=""
                    /></a>
                </li>
                <li class="item-card-icon">
                    <a href=""
                        ><img
                            src="https://res.cloudinary.com/lenn/image/upload/v1630582852/hairCare/card-icons-1_lqtdoo.png"
                            alt=""
                    /></a>
                </li>
                <li class="item-card-icon">
                    <a href=""
                        ><img
                            src="https://res.cloudinary.com/lenn/image/upload/v1630582852/hairCare/card-icons-2_yxwcil.png"
                            alt=""
                    /></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/layouts.js"></script>
