<header class="header">
    <div class="header-top">
        <div class="container d-flex justify-content-between">
            <div class="top-phone">
                <i class="fas fa-phone-alt"></i>
                1800 1234 5678 | <i class="far fa-clock"></i> Monday - Friday (8:00 - 22:00)
            </div>
            <div class="top-contacts">
                <i class="fas fa-envelope"></i>
                <a href="/">haircare@gmail.com</a> |
                <a href="/"> <i class="fab fa-twitter"></i></a>
                <a href="/"><i class="fab fa-facebook-f"></i></a>
                <a href="/"><i class="fab fa-google"></i></a>
                <a href="/"> <i class="fab fa-tumblr"></i></a>
            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="
                container
                d-flex
                justify-content-between
                align-items-center
                pt-3
                pb-3
            ">
            <div class="header-logo">
                <a href="/">
                    <img src="https://res.cloudinary.com/lenn/image/upload/v1630582853/hairCare/logo_ynzfqs.png" alt=""
                        height="100%" /></a>
            </div>
            <div class="header-icon d-flex">
                <div class="mobile-menu-icon mr-3">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="header-user mr-3 position-relative">
                    <i class="fas fa-user"></i>
                    <ul class="header-user-list position-absolute">
                        <li class="header-user-item">
                            <a href="#"><i class="fas fa-sign-in-alt"></i>Log in</a>
                        </li>
                        <li class="header-user-item">
                            <a href="#"><i class="far fa-user"></i>Create acount</a>
                        </li>
                        <li class="header-user-item">
                            <a href="#"> <i class="far fa-heart"></i>Wishlist</a>
                        </li>
                        <li class="header-user-item">
                            <a href="/manager">
                                <i class="fas fa-tasks"></i>Manager Page</a>
                        </li>
                    </ul>
                </div>
                <div class="header-search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main-scroll">
        <div class="header-main">
            <div class="
                    container
                    d-flex
                    justify-content-between
                    align-items-center
                    pt-3
                    pb-3
                ">
                <div class="header-logo">
                    <a href="/">
                        <img src="https://res.cloudinary.com/lenn/image/upload/v1630582853/hairCare/logo_ynzfqs.png"
                            alt="" height="100%" /></a>
                </div>
                <div class="header-icon d-flex">
                    <div class="mobile-menu-icon mr-3">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="header-user mr-3 position-relative">
                        <i class="fas fa-user"></i>
                        <ul class="header-user-list position-absolute">
                            <li class="header-user-item">
                                <a href="#"><i class="fas fa-sign-in-alt"></i>Log in</a>
                            </li>
                            <li class="header-user-item">
                                <a href="#"><i class="far fa-user"></i>Create acount</a>
                            </li>
                            <li class="header-user-item">
                                <a href="#">
                                    <i class="far fa-heart"></i>Wishlist</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-search">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-navbar">
        <div class="container">
            <ul class="
                    nav-list
                    d-flex
                    justify-content-between
                    align-items-center
                ">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item">
                    <a href="/services">Services <i class="fas fa-sort-down"></i></a>
                    <ul class="nav-list-child">
                        <li class="nav-item-child"><a href="/services#Cut+Style">Cut + Style</a></li>
                        <li class="nav-item-child"><a href="/services#Color">Color</a></li>
                        <li class="nav-item-child"><a href="/services#Texture">Texture</a></li>
                        <li class="nav-item-child"><a href="/services#Specialty">Specialty</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/hair-problems">Hair Problems <i class="fas fa-sort-down"></i></a>
                    <ul class="nav-list-child">
                        <li class="nav-item-child">
                            <a href="/hair-problems?type=Hair growth">Hair growth</a>
                        </li>
                        <li class="nav-item-child">
                            <a href="/hair-problems?type=Frizzy hair">Frizzy hair</a>
                        </li>
                        <li class="nav-item-child">
                            <a href="/hair-problems?type=Hair loss">Hair loss</a>
                        </li>
                        <li class="nav-item-child">
                            <a href="/hair-problems?type=Split ends">Split ends</a>
                        </li>
                        <li class="nav-item-child">
                            <a href="/hair-problems?type=Dandruff">Dandruff</a>
                        </li>
                        <li class="nav-item-child">
                            <a href="/hair-problems?type=Dull lifeless hair">Dull lifeless hair</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/booking"
                        style="border-left: 2px solid;border-right: 2px solid;border-radius: 20px;">Booking</a></li>
                <li class="nav-item">
                    <a href="/products">Products <i class="fas fa-sort-down"></i></a>
                    <ul class="nav-list-child">
                        <li class="nav-item-child"><a href="/products?category=Shampoo">Shampoo</a></li>
                        <li class="nav-item-child"><a href="/products?category=Nature Haircare">Nature Haircare</a></li>
                        <li class="nav-item-child"><a href="/products?category=Hair Treatments">Hair Treatments</a></li>
                        <li class="nav-item-child"><a href="/products?category=Styling Products">Styling Products</a>
                        </li>
                        <li class="nav-item-child"><a href="/products?category=Hair Dryers">Hair Dryers</a></li>
                        <li class="nav-item-child"><a href="/products?category=Flat Irons">Flat Irons</a></li>
                        <li class="nav-item-child"><a href="/products?category=Curling Irons">Curling Irons</a></li>
                        <li class="nav-item-child"><a href="/products?category=Cutting Tools">Cutting Tools</a></li>
                    </ul>
                </li>
           
                <li class="nav-item">
                    <a href="/hair-styles">Hair Style <i class="fas fa-sort-down"></i></a>
                    <ul class="nav-list-child">
                        <li class="nav-item-child"><a href="/hair-styles/gallery">Photos Gallery</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/about">Abouts Us</a>
                    <ul class="nav-list-child">
                        <li class="nav-item-child"><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-nav-scroll">
        <div class="header-navbar">
            <div class="container">
                <ul class="
                        nav-list
                        d-flex
                        justify-content-between
                        align-items-center
                    ">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item">
                        <a href="/services">Services <i class="fas fa-sort-down"></i></a>
                        <ul class="nav-list-child">
                            <li class="nav-item-child"><a href="/services#Cut+Style">Cut + Style</a></li>
                            <li class="nav-item-child"><a href="/services#Color">Color</a></li>
                            <li class="nav-item-child"><a href="/services#Texture">Texture</a></li>
                            <li class="nav-item-child"><a href="/services#Specialty">Specialty</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/hair-problems">Hair Problems <i class="fas fa-sort-down"></i></a>
                        <ul class="nav-list-child">
                            <li class="nav-item-child">
                                <a href="/hair-problems?type=Hair growth">Hair growth</a>
                            </li>
                            <li class="nav-item-child">
                                <a href="/hair-problems?type=Frizzy hair">Frizzy hair</a>
                            </li>
                            <li class="nav-item-child">
                                <a href="/hair-problems?type=Hair loss">Hair loss</a>
                            </li>
                            <li class="nav-item-child">
                                <a href="/hair-problems?type=Split ends">Split ends</a>
                            </li>
                            <li class="nav-item-child">
                                <a href="/hair-problems?type=Dandruff">Dandruff</a>
                            </li>
                            <li class="nav-item-child">
                                <a href="/hair-problems?type=Dull lifeless hair">Dull lifeless hair</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="/booking"
                            style="border-left: 2px solid;border-right: 2px solid;border-radius: 20px;">Booking</a></li>
                    <li class="nav-item">
                        <a href="/products">Products <i class="fas fa-sort-down"></i></a>
                        <ul class="nav-list-child">
                            <li class="nav-item-child"><a href="/products?category=Shampoo">Shampoo</a></li>
                            <li class="nav-item-child"><a href="/products?category=Nature Haircare">Nature Haircare</a>
                            </li>
                            <li class="nav-item-child"><a href="/products?category=Hair Treatments">Hair Treatments</a>
                            </li>
                            <li class="nav-item-child"><a href="/products?category=Styling Products">Styling
                                    Products</a></li>
                            <li class="nav-item-child"><a href="/products?category=Hair Dryers">Hair Dryers</a></li>
                            <li class="nav-item-child"><a href="/products?category=Flat Irons">Flat Irons</a></li>
                            <li class="nav-item-child"><a href="/products?category=Curling Irons">Curling Irons</a></li>
                            <li class="nav-item-child"><a href="/products?category=Cutting Tools">Cutting Tools</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/hair-styles">Hair Style <i class="fas fa-sort-down"></i></a>
                        <ul class="nav-list-child">
                            <li class="nav-item-child"><a href="/hair-styles/gallery">Photos Gallery</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="/about">Abouts Us</a>
                        <ul class="nav-list-child">
                            <li class="nav-item-child"><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- Header mobile overplay -->
<div class="header-mobile-over-play"></div>

<!-- Mobile menu -->
<div class="menu-mobile">
    <h3>Menu</h3>
    <ul class="nav-mobile-list">
        <li class="nav-item-mobile"><a href="/">Home</a></li>
        <li class="nav-item-mobile">
            <a href="/services">Services</a>
            <div class="nav-item-mobile-icon mobile-icon-control">
                <i class="fas fa-caret-left"></i>
            </div>
            <ul class="nav-mobile-list-child">
                <li class="nav-mobile-item-child"><a href="/services#Cut+Style">Cut + Style</a></li>
                <li class="nav-mobile-item-child"><a href="/services#Color">Color</a></li>
                <li class="nav-mobile-item-child"><a href="/services#Texture">Texture</a></li>
                <li class="nav-mobile-item-child"><a href="/services#Specialty">Specialty</a></li>
            </ul>
        </li>
        <li class="nav-item-mobile">
            <a href="/hair-problems">Hair Problems </a>
            <div class="nav-item-mobile-icon mobile-icon-control">
                <i class="fas fa-caret-left"></i>
            </div>
            <ul class="nav-mobile-list-child">
                <li class="nav-mobile-item-child">
                    <a href="/hair-problems?type=Hair growth">Hair growth</a>
                </li>
                <li class="nav-mobile-item-child">
                    <a href="/hair-problems?type=Frizzy hair">Frizzy hair</a>
                </li>
                <li class="nav-mobile-item-child">
                    <a href="/hair-problems?type=Hair loss">Hair loss</a>
                </li>
                <li class="nav-mobile-item-child">
                    <a href="/hair-problems?type=Split ends">Split ends</a>
                </li>
                <li class="nav-mobile-item-child">
                    <a href="/hair-problems?type=Dandruff">Dandruff</a>
                </li>
                <li class="nav-mobile-item-child">
                    <a href="/hair-problems?type=Dull lifeless hair">Dull lifeless hair</a>
                </li>
            </ul>
        </li>
        <li class="nav-item-mobile"><a href="/booking"
                style="border-left: 2px solid;border-right: 2px solid;border-radius: 10px;">Booking</a></li>
        <li class="nav-item-mobile">
            <a href="/products">Products</a>
            <div class="nav-item-mobile-icon mobile-icon-control">
                <i class="fas fa-caret-left"></i>
            </div>
            <ul class="nav-mobile-list-child">
                <li class="nav-mobile-item-child"><a href="/products?category=Shampoo">Shampoo</a></li>
                <li class="nav-mobile-item-child"><a href="/products?category=Nature Haircare">Nature Haircare</a></li>
                <li class="nav-mobile-item-child"><a href="/products?category=Hair Treatments">Hair Treatments</a></li>
                <li class="nav-mobile-item-child"><a href="/products?category=Styling Products">Styling Products</a>
                </li>
                <li class="nav-mobile-item-child"><a href="/products?category=Hair Dryers">Hair Dryers</a></li>
                <li class="nav-mobile-item-child"><a href="/products?category=Flat Irons">Flat Irons</a></li>
                <li class="nav-mobile-item-child"><a href="/products?category=Curling Irons">Curling Irons</a></li>
                <li class="nav-mobile-item-child"><a href="/products?category=Cutting Tools">Cutting Tools</a></li>
            </ul>
        </li>
        <li class="nav-item-mobile">
            <a href="/hair-styles">Hair Styles </a>
            <div class="nav-item-mobile-icon mobile-icon-control">
                <i class="fas fa-caret-left"></i>
            </div>
            <ul class="nav-mobile-list-child">
                <li class="nav-mobile-item-child"><a href="/hair-styles/gallery">Photos Gallery</a></li>
            </ul>
        </li>
        <li class="nav-item-mobile"><a href="/about">About Us</a><div class="nav-item-mobile-icon mobile-icon-control">
            <i class="fas fa-caret-left"></i>
        </div>
        <ul class="nav-mobile-list-child">
            <li class="nav-mobile-item-child"><a href="/contact-us">Contact Us</a></li>
            
        </ul>
    </li>
        <li class="nav-item-mobile mobile-back">
            <div style="width: 90%">Back</div>
            <div class="nav-item-mobile-icon">
                <i class="fas fa-arrow-circle-left"></i>
            </div>
        </li>
    </ul>
</div>