<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left w3-border-right" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-circle w3-margin-right"
                style="width:46px">
        </div>
        <div class="w3-col s8 w3-bar">
            <span><strong>Manager Page</strong></span><br>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding w3-hide-large w3-dark-grey w3-hover-black"
            onclick="w3_close()" title="close menu"><i class="fas fa-times"></i>  Close Menu</a>
        <a href="/manager" class="side-link w3-bar-item w3-button w3-padding"><i class="fas fa-chart-line"></i>
            Overview</a>
        <a href="#" class="side-link w3-bar-item w3-button w3-padding"><i class="fas fa-calendar-alt"></i>  Booking</a>
        <a href="#" class="side-link w3-bar-item w3-button w3-padding"><i class="fas fa-portrait"></i>  Staff</a>
        <a href="#" class="side-link w3-bar-item w3-button w3-padding"><i class="fas fa-edit"></i>  Services</a>
        <a href="/manager/demo" class="side-link w3-bar-item w3-button w3-padding"><i class="fas fa-stream"></i>  Demo
            form</a><br>
    </div>
    <div class="w3-bar-block">
        <h5 class="w3-padding">Website</h5>
        <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fas fa-home"></i>  Home</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fab fa-servicestack"></i>  Services</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fas fa-smog"></i>  Hair Problem</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fab fa-product-hunt"></i>  Product</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fas fa-address-card"></i>  Contact</a>
    </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>
