
    <title>Manager Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="https://res.cloudinary.com/lenn/image/upload/v1630582852/hairCare/logo-icon_d7ieaa.png"
        type="image/x-icon" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic"
        rel="stylesheet" />
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        html {
            font-family: "Open Sans";
            font-size: 16px;
        }

        a:hover {
            text-decoration: none;
        }

        @media (max-width: 992px) {
            .w3-main {
                margin-top: 43px;
            }
        }
    </style>
