<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-opacity w3-border-right" style="z-index:3;width:300px;"
    id="mySidebar"><br>
    <div class="w3-row">
        <div class="w3-col s4 w3-center">
            <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-circle"
                style="width:50px">
        </div>
        <div class="w3-col s8 w3-center">
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="/logout" class="w3-bar-item w3-button" data-toggle="tooltip" data-placement="left" title="Sign out"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding w3-hide-large w3-dark-grey w3-hover-black"
            onclick="w3_close()" title="close menu"><i class="fas fa-times"></i>  Close Menu</a>
        <a href="/manager" class="side-link w3-bar-item w3-button w3-padding"><i class="fas fa-chart-line"></i>
            Overview</a>
        <a href="/manager/booking" class="side-link w3-bar-item w3-button w3-padding"><i
                class="fas fa-calendar-alt"></i>  Booking</a>
        <!-- <a href="/manager/services" class="side-link w3-bar-item w3-button w3-padding"><i class="fas fa-edit"></i>  Services</a>
        <a href="/manager/staffs" class="side-link w3-bar-item w3-button w3-padding"><i class="fas fa-portrait"></i>  Staffs</a>
        <a href="/manager/demo" class="side-link w3-bar-item w3-button w3-padding"><i class="fas fa-stream"></i>  Demo
            form</a><br> -->
    </div>
    <div class="w3-bar-block">
        <h5 class="w3-padding">Website</h5>
        <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fas fa-home"></i>  Home</a>
        <a href="/services" class="w3-bar-item w3-button w3-padding"><i class="fab fa-servicestack"></i>  Services</a>
        <a href="/hair-problems" class="w3-bar-item w3-button w3-padding"><i class="fas fa-smog"></i>  Hair Problem</a>
        <a href="/booking" class="w3-bar-item w3-button w3-padding"><i class="fas fa-calendar-check"></i>  Booking</a>
        <a href="/products" class="w3-bar-item w3-button w3-padding"><i class="fab fa-product-hunt"></i>  Product</a>
        <a href="/hair-styles" class="w3-bar-item w3-button w3-padding"><i class="fas fa-air-freshener"></i>  Hair
            Styles</a>
        <a href="/contact-us" class="w3-bar-item w3-button w3-padding"><i class="fas fa-address-card"></i>  Contact
            Us</a>
    </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>